.homepage {
  padding-top: 60px;
  // rate-table and home background
  .home-part {
    background-image: url(asset-path('home-bg-2.jpg'));
    background-size: cover;
    background-position: center;
    padding-top: 30px;
  }
  #home-left {
    text-align: center;
    padding-top: 10px;
  }
  #home-left h1 {
    font-size: 3em;
    color: white;
    padding: 15px 0;
    margin: 0 0 0 20px;
    font-weight: bold;
    letter-spacing: 0.03em;
  }
  #home-left p {
    /*margin: 15px 20px;*/
    font-size: 1.6em;
    line-height: 1.6em;
    color: white;
    font-family: 'aileronlight';
    letter-spacing: 0.06em;
  }
  #home-left-header {
    width: 100%;
    text-align: center;
  }
  #home-right {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
  }
  #apply-btn {
    margin-top: 25px;
  }
  // ========= table
  .home-table .table-header td {
    border: none !important;
    padding: 14px !important;
  }
  .home-table td {
    border-right: 1px solid #e1e1e1 !important;
    -webkit-box-shadow: 0 24px 1px -24px $mc-shadowcolor;
    -moz-box-shadow: 0 24px 1px -24px $mc-shadowcolor;
    box-shadow: 0 24px 1px -24px $mc-shadowcolor;
    border-top: none !important;
    height: 30px;
    padding: 20px 14px 0 !important;
    @include respond-to(mobile) {
      font-size: 0.9em;
    };
  }
  .home-table td hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFFFFF;
    margin: 12px 10px 0 5px;
    padding: 0;
    width: 90%;
  }
  .home-table tr td:nth-child(2) {
    width: 28%;
  }
  .home-table td:last-child {
    border-right: none !important;
  }
  .home-table tr:last-child td hr {
    width: 0;
  }
  .home-table tr:first-child td {
    box-shadow: none;
  }
  .home-table {
    background: white;
    color: black;
    //border-radius: 6px !important;
    margin: 0 auto;
    padding: 0 20px;
    border: none !important;
  }
  .table-header {
    background-color: $mc-color;
    color: white;
    font-family: 'aileronsemibold';
    font-size: 1.25em;
  }
  .table-content {
    background: #FFFFFF;
  }
  #home-right-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #home-right-header h1 {
    color: white;
    padding-bottom: 7px;
    margin: 0;
    letter-spacing: 0.05em;
    font-size: 1.75em;
    font-weight: 600;
  }
  #home-right-header p {
    color: white;
  }
  // end rate table and home background
  // bank logo - investors
  .header-logo {
    text-align: center;
    width: 100%;
  }
  .header-logo {
    .partner-logo {
      img {
        padding-top: 10px;
        width: 100%;
      }
    }
  }
  .our-investors {
    width: 100%;
    background-color: #f3f5f7;
    margin-top: -21px;
  }
  .our-investors div:last-child {
    margin-right: 0;
  }
  .asseen {
    display: table;
  }
  .asseen div {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 300;
    color: #727b82;
  }
  //end bank logo
  // hello-mortgage
  .hello-mortgage {
    padding-top: 65px;
  }
  .logo-text {
    font-family: $mc-font;
    color: $mc-color;
    span {
      color: #065a82;
    }
  }
  .note {
    margin-top: 28px;
    font-size: 1.5em;
    color: #000;
    width: 60%;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
  }
  #home-top-info {
    margin-top: 60px;
    position: relative;
    margin-bottom: 70px;
    .homepic-row {
      img {
        width: 100%;
      }
    };
    .row {
      padding: 20px;
    }
    @include respond-to(smobile) {
      .row {
        padding: 5px;
      }
    };
  }
  .text-bubble {
    background-image: url(asset_path('text-bubble.jpg'));
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #top-info {
    text-align: center;
    font-family: 'aileronsemibold';
    font-size: 1.25em;
    color: $mc-color;
    font-weight: 500;
    padding-top: 15px;
    @include respond-to(mobile) {
      font-size: 2em;
      padding-top: 3%;
      padding-left: 30px;
    };
    @include respond-to(tablet) {
      font-size: 2.5em;
      padding-top: 2%;
    };
    @include respond-to(smobile) {
      font-size: 1em;
      padding-top: 4px;
    };
  }
  // #left-info h6,
  // #right-info h6 {
  //   margin-top: -2px;
  //   font-size: 0.9em;
  // }
  // #left-info p,
  // #right-info p {
  //   font-size: 0.8em;
  //   line-height: 0.6em;
  // }
  #left-info {
    color: #9adaf0;
  }
  #right-info {
    color: #a9a9aa;
    @include respond-to(tablet) {
      padding-left: 35px;
    };
    @include respond-to(smobile) {
      padding-left: 35px;
    };
  }
  #left-info,
  #right-info {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 0;
    h6 {
      font-size: 1em;
      font-family: 'aileronsemibold';
    }
    p {
      font-size: 0.8em;
      line-height: 0.9em;
    }
    @include respond-to(tablet) {
      h6 {
        margin-top: -2px;
        font-size: 1.5em;
      }
      p {
        font-size: 1.2em;
        line-height: 0.6em;
      }
    };
    @include respond-to(mobile) {
      padding-top: 8.4%;
      h6 {
        margin-top: 21.9%;
        font-size: 2.2em;
      }
      p {
        font-size: 1.7em;
        line-height: 1.2em;
      }
    };
    @include respond-to(smobile) {
      padding-left: 10px;
      h6 {
        font-size: 1em;
      }
      p {
        font-size: 0.7em;
        line-height: 0.5em;
      }
    };
  }
  // end hello-mortgage
  // why-part
  .why-part {
    background-color: #f6f6f6;
    padding-bottom: 80px;
    width: 100%;
    .white-header {
      font-weight: 500;
      margin-top: 80px;
      font-size: 4em;
      color: $mc-color;
    }
  }
  .why-part .container .row:not(.why-part .container .row:first-of-type) {
    margin-top: 20px;
  }
  .why-item {
    @include respond-to(smobile) {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      height: auto;
    };
    margin-top: 60px;
    color: black;
    img {
      float: left;
      width: auto;
      height: 80%;
      @include respond-to(mobile) {
        margin-left: 50px;
      };
      @include respond-to(smobile) {
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 0;
      };
    }
    .bigNum {
      color: $mc-color;
      float: left;
      font-family: 'aileronlight';
      font-size: 4.5em;
      margin-top: -10px;
      @include respond-to(smobile) {
        display: none;
      };
    }
    .whyText {
      display: block;
      margin-left: 14px;
      width: 65%;
      float: left;
      margin-top: -4px;
      @include respond-to(smobile) {
        float: none;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
      };
      h6 {
        font-family: 'aileronsemibold';
        font-size: 2em;
        letter-spacing: 0.03em;
      }
      p {
        font-family: 'aileronlight';
        font-size: 1.125em;
        letter-spacing: 0.03em;
        line-height: 1.75em;
      }
    }
  }
  // end why-part
  // how part
  .how-part {
    p,
    h6 {
      color: black;
    }
    .bigNum {
      color: $mc-color;
    }
    img {
      height: 120%;
      margin-left: 40px;
      @include respond-to(mobile) {
        margin-left: 0;
        width: 90vw;
      };
    }
    .how-item {
      margin-top: 75px;
    }
    .whyText {
      width: 80%;
      h6 {
        font-size: 2.3em;
        font-family: 'aileronregular';
      }
      p {
        font-size: 1.25em;
        font-family: 'aileronlight';
      }
    }
    #how-footer {
      margin-top: -100px;
      background-color: $mc-color;
      height: 150px;
      margin-top: -110px;
      width: 100%;
    }
  }
  //end how part
  // client part
  .client-part .note {
    margin-top: 40px;
  }
  .client-part {
    background-color: #fff;
    padding-bottom: 50px;
  }
  .clients {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .client {
    text-align: center;
    margin-top: 50px;
  }
  .client:last-child {
    margin-right: 0;
  }
  .client p {
    color: #000;
    line-height: 2em;
    letter-spacing: 0.05em;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(asset_path('clientBubble.png'));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px 50px 50px;
  }
  .client img {
    border-radius: 50%;
    margin-top: 20px;
    width: 35%;
    height: auto;
  }
  .client h4 {
    font-family: 'aileronsemibold';
    font-size: 2em;
    color: $mc-color;
    margin-top: 20px;
  }
  .client h6 {
    color: #000;
    font-size: 1.5em;
  }
  // end client part
  h1 {
    color: black;
  }
  // #des_upload {   RateAlert.
  //   padding-top: 15px;
  //   color: #a1a1a1;
  //   letter-spacing: 0.03em;
  //   font-style: italic;
  //   font-family: 'aileronlight';
  // }
  .content .how-header,
  .content .client-header {
    margin-top: 80px;
    font-weight: 500;
  }
  .content h1 {
    color: $mc-color;
    font-size: 4.2em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'aileronlight';
    @include respond-to(mobile) {
      font-size: 2.9em;
    };
  }
  .nav-pills>li+li {
    margin-left: 25px;
  }
}
