#mortgageActions {
  .choose-btn {
      color: white;
      background: #00bd9c;
      border: #00bd9c 1px solid;
      margin-top: 15px;
      padding: 10px 15px;
      font-size: 1.2em;
  }
  .choose-btn:hover {
      color: #00bd9c;
      background: #fff;
  }
}
#mortgagePrograms {
  h1 > span:not(.nocolor),
  h2 > span:not(.nocolor),
  h3 > span:not(.nocolor),
  h4 > span:not(.nocolor),
  h5 > span:not(.nocolor),
  h6 > span:not(.nocolor) {
    color: #555;
  }

  .board {
    border-radius: 5px;
    border: #959595 1px solid;
    padding: 20px;
    padding-bottom: 0;

    .lender-fee-item {
      list-style: none;
      height: 30px;
    }

    .choose-board h3 {
      margin-top: 0;
      color: #15c0f1;
      font-weight: 600;
      font-size: 1.15em;
    }
    .board-header {
      h1.apr-text {
        margin-top: 10px;
        text-align: initial;
        color: #555;
        font-family: "Raleway";
        font-weight: 900;
        line-height: 25px;
        font-size: 23px;
        padding: 0;
        font-family: "Raleway";
      }
      h3 {
        margin-top: 0;
        color: #15c0f1;
        font-weight: 600;
        font-size: 1.15em;
      }
      .nmls-title{
        color: #555;
      }
    }

  }
  ul.fee-items {
    padding-left: 16px;
  }
  .select-btn {
    color: white;
    background: #15c0f1;
    border: #15c0f1 1px solid;
    border-radius: 5px;
    float: right;
    font-size: 1.25em;
    padding: 6px 30px;

    @include respond-to(mobile){
      margin-bottom: 5px;
    }
  }
  .select-btn:hover {
    color: #15c0f1;
    background: #fff;
  }
  .board-content-toggle {
    height:25px;
    @include respond-to(smobile){
      height: 30px;
    };
    button {
      width: 100%;
      &:focus {outline:0;}
    }
    background:#f5f5f5;
    color:#a6a6a6;
    margin-left:-20px;
    margin-right:-20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: -12px;
  }
  .board-content-toggle:hover {cursor:pointer; background:#fafafa;}
  .board-content-toggle span.up-state{ transform:rotate(180deg);}
  .board-content-toggle span {transition:transform .5s ease;}

  .board-content.up-state {display:none;}

  .board-content {
    border-top: #ddd 1px solid;

    h4 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  p.cost {
    height: 30px;
  }
  p.note-rates {
    font-style: italic;
  }
  .note-rates:before { margin-left:-1.4em; margin-right:.4em;}

  .chart-part {
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 25px;

    .pie-chart {
      width: 100%;
      display: flex;
      aglign-items: center;
      justify-content: center;
      position: relative;

      .piechart-center {
        font-size: .7em;
        margin: 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -30.5px;
      }
    }

    .line-chart {
      margin-top: 55px;
      .axis text {
        font-size: .8em;
        fill: #999;
      }
      line {
        stroke: #ccc;
        stroke-width: 1px;
      }
    }

    table {
      border: #e9e9e9 1px solid;
      .info-label {
        font-size: .9em;
        font-weight: 300;
        color: #555555;

        span {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px;
        }
      }

      .info-value {
        font-size: .9em;
        font-weight: 300;
      }
      tr:first-child td span:first-child {
        background: #00bc9c;
      }
      tr:nth-child(2) td span:first-child {
        background: #ff7575;
      }
      tr:nth-child(3) td span:first-child {
        background: #14c0f0;
      }
      tbody td p {
        color: #999;
      }

      p {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 1em;
      }

      tr td{
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
      thead tr td{
        border-top: none;
      }
    }
  }
}

.mortgage-rates {
  .filter-sidebar {
    label {
      font-weight: normal;
    }
  }
  .custom-left-mortgage-rates {
    margin-left: -19px;
    @include respond-to(mobile) {
      margin-left: 0px;
      margin-bottom: 80px;
    }
  }
  background: linear-gradient(to right, #f6f6f6 , white);
  @include respond-to(smobile){
    background: none;
  };

  .thirty-party-fees {
    list-style: none;

    .thirty-fees-collapse {
      margin-top: 5px;
      margin-left: 15px;
    }

    a {
      color: #555;
      margin-left: -20px;

      span {
        margin-left: 5px;
      }
    }

    i:hover {
      color: $mc-color;
    }

    a:hover {
      color: #555;
    }

    a:visited {
      color: #555;
    }

    p {
      margin-bottom: 5px;
    }
  }

  .programs-filter {
    margin-top: 0px;
    margin-left: -16px;
  }
  .quote-filter {
    margin-top: 0px;
    height: 100%;
    margin-left: -16px;
  }
  .navigation-section{
    padding-top: 20px;
  }
  .account-content .form-group:last-child {
    margin-bottom: 25px;
  }
  @include respond-to(mobile){
    .programs-list {
      margin-bottom: 90px;
    }

    .best-rate {
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 5px;
    }

    .back-btn {
      margin-left: 30px;
    }

    .help-me-choose-btn {
      color: #fff;
      border: 1px solid #00bd9c;
      background: #00bd9c;
    }

    .help-me-choose-btn:hover {
      color: #00bd9c;
      border: 1px solid #00bd9c;
      background: #fff;
    }

    .btn-filter {
      color: #fff;
      border: 1px solid $mc-color !important;
      background: $mc-color;
      padding: 9px 35px !important;
      font-size: 16px !important;
      margin-left: 0px;
    }

    .btn-filter:hover {
      color: $mc-color;
      border: 1px solid $mc-color;
      background: #fff;
    }

    .slider-item .slider{
      width: 100% !important;
    }
  }
}
.mortgage-rates #sidebar {
  input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 1em;
    color: #15c0f1;
    text-align: center;
    line-height: 16px;
  }
  input[type=checkbox] {
    display: none;
    line-height: 16px;
  }
  input[type=checkbox]:checked + label.blueCheckBox2:before {
    font-size: 1em;
    color: #fff;
  }
  label.customCheckbox:before {
    border-radius: 0;
    border: #c3c3c3 1px solid;
    content: " ";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    line-height: 16px;
  }
  label.customCheckbox.blueCheckBox2:before {
    background: #15c0f1;
    border: none;
    border-radius: 3px;
    content: "\00a0";
    margin-right: 7px;
  }
}
#filterQuotes {
  .select-btn {
    color: white;
    background: #15c0f1;
    border: #15c0f1 1px solid;
    border-radius: 5px;
    float: right;
    font-size: 1.25em;
    padding: 6px 30px;

    @include respond-to(mobile){
      margin-bottom: 5px;
    }
  }
  .select-btn:hover {
    color: #15c0f1;
    background: #fff;
  }

  #sidebar {
    background: none;
  }
  margin-top: -50px;
}
