/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

#logo img {
    height: 70px;
    padding-top: 20px;
}

#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
  height: 40px;
  padding-top: 15px;
}

#header.full-header #logo {
  border: none;
}

#header.full-header #primary-menu > ul {
  border: none;
}

.client-landing {
  padding-bottom: 100px;
}