/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/



// #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
//   height: 25px;
// }
#primary-menu ul li > a {
  padding-top: 19px !important;
  padding-bottom: 19px !important;
}
#header.full-header #logo {
  border: none;
  img {
    height: 25px !important;
    -webkit-transition: height .4s ease, opacity .3s ease;
    transition: height .4s ease, opacity .3s ease;
    margin-top: 15px;
  }
}
#header,
#header-wrap {
  height: 60px !important;
  -webkit-transition: height .4s ease, opacity .3s ease;
  transition: height .4s ease, opacity .3s ease;
}

#header.full-header #primary-menu > ul {
  border: none;
}

.client-landing {
  padding-bottom: 100px;
}

#apply-btn {
  border-color: #15c0f1;
  color: white;
  background-color: #15c0f1;
}

#apply-btn:hover {
  border-color: white;
  color: #15c0f1;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
}
