---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepSearchResults.htm?address=9999%20AnyWhere&citystatezip=10244&zws-id=X1-ZWz1aylbpp3aiz_98wrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '002'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults
        xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd http://www.zillowstatic.com/vstatic/3227ec9/static/xsd/SearchResults.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address>9999
        AnyWhere</address><citystatezip>10244</citystatezip></request><message><text>Error:
        no exact match found for input address</text><code>508</code></message></SearchResults:searchresults><!--
        H:002  T:10ms  S:150  R:Thu May 05 19:34:33 PDT 2016  B:5.0.29177-master.91c2233~hotfix_pre.c4fbbc6
        -->'
  recorded_at: Fri, 06 May 2016 02:34:33 GMT
recorded_with: VCR 2.9.3
