---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepSearchResults.htm?address=9999%20AnyWhere&citystatezip=10244&zws-id=X1-ZWz1aylbpp3aiz_98wrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '003'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults
        xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd http://www.zillowstatic.com/vstatic/8927c76/static/xsd/SearchResults.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address>9999
        AnyWhere</address><citystatezip>10244</citystatezip></request><message><text>Error:
        no exact match found for input address</text><code>508</code></message></SearchResults:searchresults><!--
        H:003  T:5ms  S:150  R:Mon Apr 25 23:59:30 PDT 2016  B:4.0.28288-master.08b8689~hotfix.3583485
        -->'
  recorded_at: Tue, 26 Apr 2016 06:59:30 GMT
recorded_with: VCR 2.9.3
