---
http_interactions:
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/accounts/8844ba87-7f7e-4a6c-bfdf-3e919b5fee19/envelopes/53390977-43b7-4f5a-97dc-56e572002567/documents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Docusign-Authentication:
      - '{"Username":"billy@mortgageclub.io","Password":"*dsf3#$sSVd23","IntegratorKey":"MORT-ad25d2f7-4588-4728-976a-81b68bad763a"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Docusign-Node:
      - DADEMOFE2
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"53390977-43b7-4f5a-97dc-56e572002567\",\r\n
        \ \"envelopeDocuments\": [\r\n    {\r\n      \"documentId\": \"1\",\r\n      \"name\":
        \"blank_loan_estimate.pdf\",\r\n      \"type\": \"content\",\r\n      \"uri\":
        \"/envelopes/53390977-43b7-4f5a-97dc-56e572002567/documents/1\",\r\n      \"order\":
        \"1\",\r\n      \"pages\": \"3\"\r\n    },\r\n    {\r\n      \"documentId\":
        \"2\",\r\n      \"name\": \"Blank Servicing Disclosure.pdf\",\r\n      \"type\":
        \"content\",\r\n      \"uri\": \"/envelopes/53390977-43b7-4f5a-97dc-56e572002567/documents/2\",\r\n
        \     \"order\": \"2\",\r\n      \"pages\": \"1\"\r\n    },\r\n    {\r\n      \"documentId\":
        \"certificate\",\r\n      \"name\": \"Summary\",\r\n      \"type\": \"summary\",\r\n
        \     \"uri\": \"/envelopes/53390977-43b7-4f5a-97dc-56e572002567/documents/certificate\",\r\n
        \     \"order\": \"999\",\r\n      \"pages\": \"4\"\r\n    }\r\n  ]\r\n}"
  recorded_at: Tue, 08 Dec 2015 10:02:20 GMT
recorded_with: VCR 2.9.3
