---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepSearchResults.htm?address=5045%20Cedar%20Springs%20Rd&citystatezip=75235&zws-id=X1-ZWz1a4mphgfggb_7zykg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '004'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd
        http://www.zillowstatic.com/vstatic/d4e5868/static/xsd/SearchResults.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address>5045
        Cedar Springs Rd</address><citystatezip>75235</citystatezip></request><message><text>Request
        successfully processed</text><code>0</code></message><response><results><result><zpid>26697093</zpid><links><homedetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/26697093_zpid/</mapthishome><comparables>http://www.zillow.com/homes/comps/26697093_zpid/</comparables></links><address><street>5045
        Cedar Springs Rd APT 116F</street><zipcode>75235</zipcode><city>Dallas</city><state>TX</state><latitude>32.823565</latitude><longitude>-96.82865</longitude></address><FIPScounty>48113</FIPScounty><useCode>Condominium</useCode><taxAssessmentYear>2014</taxAssessmentYear><taxAssessment>87550.0</taxAssessment><yearBuilt>1963</yearBuilt><lotSizeSqFt>120000</lotSizeSqFt><finishedSqFt>1030</finishedSqFt><bathrooms>1.5</bathrooms><bedrooms>2</bedrooms><lastSoldDate>07/14/2010</lastSoldDate><zestimate><amount
        currency="USD">106710</amount><last-updated>11/12/2015</last-updated><oneWeekChange
        deprecated="true"></oneWeekChange><valueChange duration="30" currency="USD">-80</valueChange><valuationRange><low
        currency="USD">99240</low><high currency="USD">113113</high></valuationRange><percentile>0</percentile></zestimate><localRealEstate><region
        name="Oak Lawn" id="274835" type="neighborhood"><links><overview>http://www.zillow.com/local-info/TX-Dallas/Oak-Lawn/r_274835/</overview><forSaleByOwner>http://www.zillow.com/oak-lawn-dallas-tx/fsbo/</forSaleByOwner><forSale>http://www.zillow.com/oak-lawn-dallas-tx/</forSale></links></region></localRealEstate></result><result><zpid>26697097</zpid><links><homedetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-216F-Dallas-TX-75235/26697097_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-216F-Dallas-TX-75235/26697097_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/26697097_zpid/</mapthishome><comparables>http://www.zillow.com/h[...]
- request:
    method: get
    uri: http://www.zillow.com/webservice/mortgage/CalculateMonthlyPaymentsAdvanced.htm?price=106710&zip=75235&zws-id=X1-ZWz1a4mphgfggb_7zykg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '004'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><MonthlyPaymentsAdvanced:paymentsdetails
        xsi:schemaLocation="http://www.zillow.com/static/xsd/MonthlyPaymentsAdvanced.xsd
        http://www.zillowstatic.com/vstatic/d4e5868/static/xsd/MonthlyPaymentsAdvanced.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:MonthlyPaymentsAdvanced="http://www.zillow.com/static/xsd/MonthlyPaymentsAdvanced.xsd"><request><price>106710</price><schedule>none</schedule><terminmonths>360</terminmonths><zip>75235</zip><output>xml</output></request><message><text>Request
        successfully processed</text><code>0</code></message><response><monthlyprincipalandinterest>398</monthlyprincipalandinterest><monthlypropertytaxes>218</monthlypropertytaxes><monthlyhazardinsurance>110</monthlyhazardinsurance><monthlypmi>0</monthlypmi><monthlyhoadues>0</monthlyhoadues><totalmonthlypayment>726</totalmonthlypayment><totalpayments>261232</totalpayments><totalinterest>57832</totalinterest><totalprincipal>85368</totalprincipal><totaltaxesfeesandinsurance>118032</totaltaxesfeesandinsurance></response></MonthlyPaymentsAdvanced:paymentsdetails><!--
        H:004  T:4ms  S:622  R:Mon Nov 16 06:21:54 PST 2015  B:4.0.22014-master.71729a2~hotfix_pre.cb723ac
        -->
  recorded_at: Mon, 16 Nov 2015 14:21:54 GMT
recorded_with: VCR 2.9.3
