---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepSearchResults.htm?address=5045%20Cedar%20Springs%20Rd&citystatezip=75235&rentzestimate=true&zws-id=X1-ZWz1a4mphgfggb_7zykg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '001'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd
        http://www.zillowstatic.com/vstatic/ac95ed6/static/xsd/SearchResults.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address>5045
        Cedar Springs Rd</address><citystatezip>75235</citystatezip></request><message><text>Request
        successfully processed</text><code>0</code></message><response><results><result><zpid>26697093</zpid><links><homedetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/26697093_zpid/</mapthishome><comparables>http://www.zillow.com/homes/comps/26697093_zpid/</comparables></links><address><street>5045
        Cedar Springs Rd APT 116F</street><zipcode>75235</zipcode><city>Dallas</city><state>TX</state><latitude>32.823565</latitude><longitude>-96.82865</longitude></address><FIPScounty>48113</FIPScounty><useCode>Condominium</useCode><taxAssessmentYear>2014</taxAssessmentYear><taxAssessment>87550.0</taxAssessment><yearBuilt>1963</yearBuilt><lotSizeSqFt>120000</lotSizeSqFt><finishedSqFt>1030</finishedSqFt><bathrooms>1.5</bathrooms><bedrooms>2</bedrooms><lastSoldDate>07/14/2010</lastSoldDate><zestimate><amount
        currency="USD">107500</amount><last-updated>01/04/2016</last-updated><oneWeekChange
        deprecated="true"></oneWeekChange><valueChange duration="30" currency="USD">760</valueChange><valuationRange><low
        currency="USD">102125</low><high currency="USD">112875</high></valuationRange><percentile>0</percentile></zestimate><localRealEstate><region
        name="Oak Lawn" id="274835" type="neighborhood"><links><overview>http://www.zillow.com/local-info/TX-Dallas/Oak-Lawn/r_274835/</overview><forSaleByOwner>http://www.zillow.com/oak-lawn-dallas-tx/fsbo/</forSaleByOwner><forSale>http://www.zillow.com/oak-lawn-dallas-tx/</forSale></links></region></localRealEstate></result><result><zpid>26697097</zpid><links><homedetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-216F-Dallas-TX-75235/26697097_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-216F-Dallas-TX-75235/26697097_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/26697097_zpid/</mapthishome><comparables>http://www.zillow.com/h[...]
- request:
    method: get
    uri: http://www.zillow.com/webservice/mortgage/CalculateMonthlyPaymentsAdvanced.htm?price=107500&zip=75235&zws-id=X1-ZWz1a4mphgfggb_7zykg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '002'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><MonthlyPaymentsAdvanced:paymentsdetails
        xsi:schemaLocation="http://www.zillow.com/static/xsd/MonthlyPaymentsAdvanced.xsd
        http://www.zillowstatic.com/vstatic/ac95ed6/static/xsd/MonthlyPaymentsAdvanced.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:MonthlyPaymentsAdvanced="http://www.zillow.com/static/xsd/MonthlyPaymentsAdvanced.xsd"><request><price>107500</price><schedule>none</schedule><terminmonths>360</terminmonths><zip>75235</zip><output>xml</output></request><message><text>Request
        successfully processed</text><code>0</code></message><response><monthlyprincipalandinterest>399</monthlyprincipalandinterest><monthlypropertytaxes>219</monthlypropertytaxes><monthlyhazardinsurance>110</monthlyhazardinsurance><monthlypmi>0</monthlypmi><monthlyhoadues>0</monthlyhoadues><totalmonthlypayment>729</totalmonthlypayment><totalpayments>262309</totalpayments><totalinterest>57697</totalinterest><totalprincipal>86000</totalprincipal><totaltaxesfeesandinsurance>118613</totaltaxesfeesandinsurance></response></MonthlyPaymentsAdvanced:paymentsdetails><!--
        H:002  T:4ms  S:622  R:Tue Jan 05 23:04:28 PST 2016  B:4.0.23328-release_20160105-tauntaun.ec58017~candidate.d9241dc
        -->
  recorded_at: Wed, 06 Jan 2016 07:04:29 GMT
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetUpdatedPropertyDetails.htm?zpid=26697093&zws-id=X1-ZWz1a4mphgfggb_7zykg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '003'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><UpdatedPropertyDetails:updatedPropertyDetails xmlns:UpdatedPropertyDetails="http://www.zillow.com/static/xsd/UpdatedPropertyDetails.xsd" xsi:schemaLocation="http://www.zillow.com/static/xsd/UpdatedPropertyDetails.xsd http://www.zillowstatic.com/vstatic/ac95ed6/static/xsd/UpdatedPropertyDetails.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><request><zpid>26697093</zpid></request><message><text>Request successfully processed</text><code>0</code></message><response><zpid>26697093</zpid><pageViewCount><currentMonth>0</currentMonth><total>127</total></pageViewCount><address><street>5045 Cedar Springs Rd APT 116F</street><zipcode>75235</zipcode><city>Dallas</city><state>TX</state><latitude>32.823565</latitude><longitude>-96.82865</longitude></address><links><homeDetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/</homeDetails><photoGallery>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/#image=lightbox%3Dtrue</photoGallery><homeInfo>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/</homeInfo></links><editedFacts><useCode>Condominium</useCode><bedrooms>2</bedrooms><bathrooms>1.5</bathrooms><finishedSqFt>1030</finishedSqFt><lotSizeSqFt>120000</lotSizeSqFt><yearBuilt>1963</yearBuilt><numFloors>1</numFloors><roof>Shake / Shingle</roof><heatingSystem>Other</heatingSystem><coolingSystem>Central</coolingSystem><numUnits>1</numUnits></editedFacts><homeDescription>Well-established, beautifully maintained property conveniently located in Oaklawn area. Nestled in the shade of mature trees, this French-style complex features a quiet park like courtyard, covered parking, pool and gated entrance. This first floor unit offers 2 bedrooms 1.5 bath with wood floors. 943 square feet-information is from the FHA Appraisal and is deemed reliable but not guaranteed.

        Call 24/7 recorded msg. 800-824-9914 ext. 0811. Then call 214-682-4990 for free no hassle information on any property. pat Svetlik, Buyers Representative</homeDescription></response></UpdatedPropertyDetails:updatedPropertyDetails><!-- H:003  T:31ms  S:766  R:Tue Jan 05 23:04:29 PST 2016  B:4.0.23328-release_20160105-tauntaun.ec58017~candidate.d9241dc -->
  recorded_at: Wed, 06 Jan 2016 07:04:30 GMT
recorded_with: VCR 2.9.3
