---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetMonthlyPayments.htm?output=json&price=500000&zip=94103&zws-id=X1-ZWz1aylbpp3aiz_98wrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '004'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: ' { "request" : {  "price" : "500000", "zip" : "94103", "output" : "json"
        }, "message" : { "text" : "Request successfully processed", "code" : "0" },
        "response" : { "thirtyYearFixed" : { "rate" : "3.499", "monthlyPrincipalAndInterest"
        : "1795" }, "fifteenYearFixed" : { "rate" : "2.728", "monthlyPrincipalAndInterest"
        : "2710" }, "fiveOneARM" : { "rate" : "2.882", "monthlyPrincipalAndInterest"
        : "1661" }, "downPayment" : "100000", "monthlyPropertyTaxes" : "212", "monthlyHazardInsurance"
        : "80"  } } '
  recorded_at: Thu, 07 Apr 2016 07:00:00 GMT
recorded_with: VCR 2.9.3
