---
http_interactions:
- request:
    method: post
    uri: https://api.loantek.com/Clients/WebServices/Client/697/Pricing/V2/Quotes/LoanPricer/1746
    body:
      encoding: UTF-8
      string: '{"BestExecutionMethodType":2,"QuotingChannel":3,"ClientDefinedIdentifier":"53ZnFveCNg4A","LockPeriod":30,"QuoteTypesToReturn":[-1,0,1],"LoanProgramsOfInterest":[1,2,3],"ZipCode":"95127","CreditScore":740,"LoanPurpose":1,"LoanAmount":0.0,"LoanToValue":null,"PropertyUsage":1,"PropertyType":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 417
      message: Expectation Failed
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '"Loan Pricer Loan Request data appears to be invalid"'
  recorded_at: Wed, 27 Apr 2016 03:52:04 GMT
recorded_with: VCR 2.9.3
