---
http_interactions:
- request:
    method: post
    uri: https://api.loantek.com/Clients/WebServices/Client/697/Pricing/V2/Quotes/LoanPricer/1746
    body:
      encoding: UTF-8
      string: '{"BestExecutionMethodType":2,"QuotingChannel":3,"ClientDefinedIdentifier":"53ZnFveCNg4A","LockPeriod":30,"QuoteTypesToReturn":[-1,0,1],"LoanProgramsOfInterest":[1,2,3],"ZipCode":"95127","CreditScore":740,"LoanPurpose":1,"LoanAmount":400000.0,"LoanToValue":80.0,"PropertyUsage":1,"PropertyType":1,"CashOut":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ClientDefinedIdentifier":"53ZnFveCNg4A","RequestDataContextId":-1,"BestExecutionMethodType":"ByRate","QuotesCount":63,"Quotes":[{"DateTime":"2016-04-27T02:01:38.1211485-07:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"eHeykS7XoE-pFTx1pz46IQ","LenderName":"Provident
        Funding","ProductName":"5yearARM","ProductId":"CAS051","DiscountPts":0.125,"OriginationPts":{"HudLine":801,"Description":"Administration
        fee","IncludeInAPR":false,"FeeAmount":750.0,"FeeType":1},"Fees":500.00,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5776,"LoanAmount":400000.0,"ItemizedFees":"Description:
        Administration fee, HUD Line: 801, Fee Type: $$, Amount: $750.00, Include
        In APR: False<br />Description: Estimated third party fees, HUD Line: 814,
        Fee Type: $$, Amount: $1,947.00, Include In APR: False<br />","Fees":[{"HudLine":801,"Description":"Administration
        fee","IncludeInAPR":false,"FeeAmount":750.0,"FeeType":1},{"HudLine":814,"Description":"Estimated
        third party fees","IncludeInAPR":false,"FeeAmount":1947.0,"FeeType":1}],"NonAPRFees":2697.0,"DollarFees":0.0,"PercentFees":0.0,"TotalFees":2697.0},"LockDay":30,"ARMDetails":{"IndexType":"Libor_1_Year","Margin":2.25,"FixRate":60,"AdjustRate":12,"InitialCap":2.00,"PeriodicCap":2.00,"LifetimeCap":5.00},"AdvertiserNote":"tbd","Rate":2.500,"APR":2.509,"FICO":740,"LoanToValue":80,"PropertyType":"SFH","PropertyUse":"PRI","MIPInfo":{"AnnualRate":0.0,"AnnualPremium":0.0,"MonthlyRate":0.0,"MonthlyPremium":0.0,"UpfrontRate":0.0,"UpfrontPremium":0.0},"UFMIPPercent":0.0,"MIP":0.0,"ProductFamily":"CONVENTIONAL","ProductClass":"STANDARD","ProductType":"ARM","ProductTerm":"5/1","PrincipalAndInterestPayment":1580.48,"Points":1,"QuoteFees":3197.00},{"DateTime":"2016-04-27T02:01:38.1211485-07:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"tIdmnnT-SU6hhgEiMpAVAg","LenderName":"Provident
        Funding","ProductName":"5yearARM","ProductId":"CAS051","DiscountPts":0.500,"OriginationPts":{"HudLine":801,"Description":"Administration
        fee","IncludeInAPR":false,"FeeAmount":750.0,"FeeType":1},"Fees":2000.00,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5776,"LoanAmount":400000.0,"ItemizedFe[...]
