---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepSearchResults.htm?address=5045%20Cedar%20Springs%20Rd&citystatezip=75235&zws-id=X1-ZWz1aylbpp3aiz_98wrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '002'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd
        http://www.zillowstatic.com/vstatic/3515902/static/xsd/SearchResults.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address>5045
        Cedar Springs Rd</address><citystatezip>75235</citystatezip></request><message><text>Request
        successfully processed</text><code>0</code></message><response><results><result><zpid>26697098</zpid><links><homedetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-217-Dallas-TX-75235/26697098_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-217-Dallas-TX-75235/26697098_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/26697098_zpid/</mapthishome><comparables>http://www.zillow.com/homes/comps/26697098_zpid/</comparables></links><address><street>5045
        Cedar Springs Rd APT 217</street><zipcode>75235</zipcode><city>Dallas</city><state>TX</state><latitude>32.821182</latitude><longitude>-96.823696</longitude></address><FIPScounty>48113</FIPScounty><useCode>Condominium</useCode><taxAssessmentYear>2014</taxAssessmentYear><taxAssessment>70890.0</taxAssessment><yearBuilt>1963</yearBuilt><lotSizeSqFt>119999</lotSizeSqFt><finishedSqFt>834</finishedSqFt><bathrooms>1.0</bathrooms><bedrooms>1</bedrooms><lastSoldDate>08/21/2002</lastSoldDate><zestimate><amount
        currency="USD">84428</amount><last-updated>09/24/2015</last-updated><oneWeekChange
        deprecated="true"></oneWeekChange><valueChange duration="30" currency="USD">598</valueChange><valuationRange><low
        currency="USD">80207</low><high currency="USD">88649</high></valuationRange><percentile>0</percentile></zestimate><localRealEstate><region
        name="Oak Lawn" id="274835" type="neighborhood"><zindexValue>207,700</zindexValue><links><overview>http://www.zillow.com/local-info/TX-Dallas/Oak-Lawn/r_274835/</overview><forSaleByOwner>http://www.zillow.com/oak-lawn-dallas-tx/fsbo/</forSaleByOwner><forSale>http://www.zillow.com/oak-lawn-dallas-tx/</forSale></links></region></localRealEstate></result><result><zpid>26697093</zpid><links><homedetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/26697093_zpid/</mapthishome><comparables>http://www.zillow.com/h[...]
- request:
    method: get
    uri: http://www.zillow.com/webservice/mortgage/CalculateMonthlyPaymentsAdvanced.htm?price=84428&zip=75235&zws-id=X1-ZWz1aylbpp3aiz_98wrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '001'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><MonthlyPaymentsAdvanced:paymentsdetails
        xsi:schemaLocation="http://www.zillow.com/static/xsd/MonthlyPaymentsAdvanced.xsd
        http://www.zillowstatic.com/vstatic/3515902/static/xsd/MonthlyPaymentsAdvanced.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:MonthlyPaymentsAdvanced="http://www.zillow.com/static/xsd/MonthlyPaymentsAdvanced.xsd"><request><price>84428</price><schedule>none</schedule><terminmonths>360</terminmonths><zip>75235</zip><output>xml</output></request><message><text>Request
        successfully processed</text><code>0</code></message><response><monthlyprincipalandinterest>314</monthlyprincipalandinterest><monthlypropertytaxes>172</monthlypropertytaxes><monthlyhazardinsurance>110</monthlyhazardinsurance><monthlypmi>0</monthlypmi><monthlyhoadues>0</monthlyhoadues><totalmonthlypayment>596</totalmonthlypayment><totalpayments>214579</totalpayments><totalinterest>45383</totalinterest><totalprincipal>67542</totalprincipal><totaltaxesfeesandinsurance>101655</totaltaxesfeesandinsurance></response></MonthlyPaymentsAdvanced:paymentsdetails><!--
        H:001  T:5ms  S:622  R:Mon Sep 28 01:22:43 PDT 2015  B:4.0.19986-master.4e1e3e7~hotfix_pre.61e57a2
        -->
  recorded_at: Mon, 28 Sep 2015 10:22:43 GMT
recorded_with: VCR 2.9.3
