---
http_interactions:
- request:
    method: get
    uri: https://research.stlouisfed.org/fred2/graph/graph-data.php?chart_type=line&coed=&cosd=&drp=0&fam=avg&fgsnd=2007-12-01&fgst=lin&fml=a&fq=Weekly,%20Ending%20Thursday&id=MORTGAGE30US&lev=&line_color=%234572a7&log_scales=&lsv=&mma=0&mode=fred&nd=&oet=99999&ost=-99999&revision_date=&scale=left&transformation=lin&vintage_date=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 21 Apr 2016 14:16:03 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"seriess":[{"title":"30-Year Fixed Rate Mortgage Average in the United
        States\u00a9","frequency":"Weekly, Ending Thursday","hide_marks":true,"available_fqs":["Weekly,
        Ending Thursday","Biweekly, Ending Wednesday","Biweekly, Ending Monday","Monthly","Quarterly","Semiannual","Annual"],"available_fams":{"Average":"avg","Sum":"sum","End
        of Period":"eop"},"available_formula_transformations":{"lin":{"full":"","short":""},"chg":{"full":"Change","short":"Chg."},"ch1":{"full":"Change
        from Year Ago","short":"Chg. from Yr. Ago"},"pch":{"full":"Percent Change","short":"%
        Chg."},"pc1":{"full":"Percent Change from Year Ago","short":"% Chg. from Yr.
        Ago"},"pca":{"full":"Compounded Annual Rate of Change","short":"Comp. Annual
        Rate of Chg."},"cch":{"full":"Continuously Compounded Rate of Change","short":"Cont.
        Comp. Rate of Chg."},"cca":{"full":"Continuously Compounded Annual Rate of
        Change","short":"Cont. Comp. Annual Rate of Chg."},"log":{"full":"Natural
        Log","short":"Log"},"nbd":{"full":"Index (Scale value to 100 for chosen period)","short":"Index"}},"line_color":"#4572a7","mark_type":"none","mw":0,"scale":"left","decimal_places":"2","drp":0,"cosd":"1971-04-02","coed":"2016-04-21","observation_grouping_approximation":"close","obs":[[39420000000,7.33],[40024800000,7.31],[40629600000,7.31],[41234400000,7.31],[41835600000,7.29],[42440400000,7.38],[43045200000,7.42],[43650000000,7.44],[44254800000,7.46],[44859600000,7.52],[45464400000,7.52],[46069200000,7.54],[46674000000,7.54],[47278800000,7.54],[47883600000,7.54],[48488400000,7.6],[49093200000,7.65],[49698000000,7.69],[50302800000,7.66],[50907600000,7.73],[51512400000,7.71],[52117200000,7.69],[52722000000,7.71],[53326800000,7.67],[53931600000,7.7],[54536400000,7.67],[551412[...]
[...]
