---
http_interactions:
- request:
    method: post
    uri: https://api.loantek.com/Clients/WebServices/Client/697/Pricing/V2/Quotes/LoanPricer/1746
    body:
      encoding: UTF-8
      string: '{"BestExecutionMethodType":3,"LockPeriod":30,"QuotingChannel":0,"ClientDefinedIdentifier":"53ZnFveCNg4A","LoanToValue":88.0,"QuoteTypesToReturn":[-1,0],"ZipCode":95127,"CreditScore":750,"LoanPurpose":1,"LoanAmount":400000,"PropertyUsage":1,"PropertyType":1,"LoanProgramsOfInterest":[1,2,3]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ClientDefinedIdentifier":"53ZnFveCNg4A","RequestDataContextId":-1,"BestExecutionMethodType":"JustRemoveStops","QuotesCount":150,"Quotes":[{"DateTime":"2016-03-24T02:58:31.6122926-07:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"wPvxe9rSL0SBjz9j5w1Rzw","LenderName":"UWM","ProductName":"15yearFixed","ProductId":"CFP15","DiscountPts":-0.688,"OriginationPts":{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":995.0,"FeeType":1},"Fees":-519.0,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5885,"LoanAmount":400000.0,"ItemizedFees":"Description:
        Loan origination fee, HUD Line: 801, Fee Type: $$, Amount: $995.00, Include
        In APR: True<br />Description: Appraisal fee, HUD Line: 803, Fee Type: $$,
        Amount: $495.00, Include In APR: False<br />Description: Credit report fee,
        HUD Line: 804, Fee Type: $$, Amount: $25.00, Include In APR: False<br />","Fees":[{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":995.0,"FeeType":1},{"HudLine":803,"Description":"Appraisal
        fee","IncludeInAPR":false,"FeeAmount":495.0,"FeeType":1},{"HudLine":804,"Description":"Credit
        report fee","IncludeInAPR":false,"FeeAmount":25.0,"FeeType":1}],"NonAPRFees":520.0,"DollarFees":995.0,"PercentFees":0.0,"TotalFees":1515.0},"LockDay":30,"ARMDetails":{"IndexType":"               ","Margin":0.000,"FixRate":0,"AdjustRate":0,"InitialCap":0.000,"PeriodicCap":0.000,"LifetimeCap":0.000},"AdvertiserNote":"tbd","Rate":2.875,"APR":3.155,"FICO":750,"LoanToValue":88,"PropertyType":"SFH","PropertyUse":"PRI","MIPInfo":{"AnnualRate":0.39,"AnnualPremium":1560.00,"MonthlyRate":0.03,"MonthlyPremium":130.00,"UpfrontRate":0.0,"UpfrontPremium":0.0},"UFMIPPercent":0.0,"MIP":130.00,"ProductFamily":"CONVENTIONAL","ProductClass":"STANDARD","ProductType":"FIXED","ProductTerm":"15","PrincipalAndInterestPayment":2738.34,"Points":0,"QuoteFees":1.0},{"DateTime":"2016-03-24T02:58:31.6278929-07:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"QOo5_STbD0eQVe5leqr0UQ","LenderName":"UWM","ProductName":"15yearFixed","ProductId":"CFZ15","DiscountPts":-0.688,"OriginationPts":{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":995.0,"FeeType":1},"Fees":-519.0,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5885,"LoanAmount":400000.0,"ItemizedFees":"Description:
     [...]
