---
http_interactions:
- request:
    method: post
    uri: https://api.loantek.com/Clients/WebServices/Client/697/Pricing/V2/Quotes/LoanPricer/1746
    body:
      encoding: UTF-8
      string: '{"BestExecutionMethodType":2,"QuotingChannel":3,"ClientDefinedIdentifier":"53ZnFveCNg4A","LockPeriod":30,"QuoteTypesToReturn":[-1,0,1],"LoanProgramsOfInterest":[1,2,3],"ZipCode":90212,"CreditScore":730,"LoanPurpose":1,"LoanAmount":460000,"LoanToValue":82.0,"PropertyUsage":2,"PropertyType":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ClientDefinedIdentifier":"53ZnFveCNg4A","RequestDataContextId":-1,"BestExecutionMethodType":"ByRate","QuotesCount":22,"Quotes":[{"DateTime":"2016-04-26T20:46:37.1162529-07:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"SICsJ5LT5UynBI6cO9J5yw","LenderName":"UWM","ProductName":"30yearFixed","ProductId":"BFH30","DiscountPts":-0.461,"Fees":-2120.60,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5885,"LoanAmount":460000.0,"ItemizedFees":"Description:
        Estimated third party fees, HUD Line: 814, Fee Type: $$, Amount: $1,947.00,
        Include In APR: False<br />","Fees":[{"HudLine":814,"Description":"Estimated
        third party fees","IncludeInAPR":false,"FeeAmount":1947.0,"FeeType":1}],"NonAPRFees":1947.0,"DollarFees":0.0,"PercentFees":0.0,"TotalFees":1947.0},"LockDay":30,"ARMDetails":{"IndexType":"               ","Margin":0.000,"FixRate":0,"AdjustRate":0,"InitialCap":0.000,"PeriodicCap":0.000,"LifetimeCap":0.000},"AdvertiserNote":"tbd","Rate":4.625,"APR":4.625,"FICO":730,"LoanToValue":82,"PropertyType":"SFH","PropertyUse":"SEC","MIPInfo":{"AnnualRate":0.0,"AnnualPremium":0.0,"MonthlyRate":0.0,"MonthlyPremium":0.0,"UpfrontRate":0.0,"UpfrontPremium":0.0},"UFMIPPercent":0.0,"MIP":0.0,"ProductFamily":"CONVENTIONAL-LPMI","ProductClass":"HIGH
        BALANCE","ProductType":"FIXED","ProductTerm":"30","PrincipalAndInterestPayment":2365.04,"Points":-1,"QuoteFees":-173.60},{"DateTime":"2016-04-26T20:46:37.1162529-07:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"E49hXFh38kWsbwIC59NMlw","LenderName":"Provident
        Funding","ProductName":"30yearFixed","ProductId":"CFH30","DiscountPts":-1.000,"OriginationPts":{"HudLine":801,"Description":"Administration
        fee","IncludeInAPR":false,"FeeAmount":750.0,"FeeType":1},"Fees":-3697.0,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5776,"LoanAmount":460000.0,"ItemizedFees":"Description:
        Administration fee, HUD Line: 801, Fee Type: $$, Amount: $750.00, Include
        In APR: False<br />Description: Estimated third party fees, HUD Line: 814,
        Fee Type: $$, Amount: $1,947.00, Include In APR: False<br />"[...]
