---
http_interactions:
- request:
    method: post
    uri: https://api.loantek.com/Clients/WebServices/Client/697/Pricing/V2/Quotes/LoanPricer/1746
    body:
      encoding: UTF-8
      string: '{"BestExecutionMethodType":2,"QuotingChannel":3,"ClientDefinedIdentifier":"53ZnFveCNg4A","LockPeriod":30,"QuoteTypesToReturn":[-1,0,1],"LoanProgramsOfInterest":[1,2,3],"ZipCode":"95127","CreditScore":740,"LoanPurpose":1,"LoanAmount":400000.0,"LoanToValue":80.0,"PropertyUsage":1,"PropertyType":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ClientDefinedIdentifier":"53ZnFveCNg4A","RequestDataContextId":-1,"BestExecutionMethodType":"ByRate","QuotesCount":63,"Quotes":[{"DateTime":"2016-04-26T20:28:07.2191271-07:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"wX57rXrolkmQfg25saWUSQ","LenderName":"US
        Bank - Wholesale","ProductName":"30yearFixed","ProductId":"CFS30","DiscountPts":-2.154,"Fees":-2947.00,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5884,"LoanAmount":400000.0,"ItemizedFees":"Description:
        Estimated third party fees, HUD Line: 814, Fee Type: $$, Amount: $1,947.00,
        Include In APR: False<br />","Fees":[{"HudLine":814,"Description":"Estimated
        third party fees","IncludeInAPR":false,"FeeAmount":1947.0,"FeeType":1}],"NonAPRFees":1947.0,"DollarFees":0.0,"PercentFees":0.0,"TotalFees":1947.0},"LockDay":30,"ARMDetails":{"IndexType":"               ","Margin":0.000,"FixRate":0,"AdjustRate":0,"InitialCap":0.000,"PeriodicCap":0.000,"LifetimeCap":0.000},"AdvertiserNote":"tbd","Rate":3.950,"APR":3.950,"FICO":740,"LoanToValue":80,"PropertyType":"SFH","PropertyUse":"PRI","MIPInfo":{"AnnualRate":0.0,"AnnualPremium":0.0,"MonthlyRate":0.0,"MonthlyPremium":0.0,"UpfrontRate":0.0,"UpfrontPremium":0.0},"UFMIPPercent":0.0,"MIP":0.0,"ProductFamily":"CONVENTIONAL","ProductClass":"STANDARD","ProductType":"FIXED","ProductTerm":"30","PrincipalAndInterestPayment":1898.15,"Points":-1,"QuoteFees":-1000.00},{"DateTime":"2016-04-26T20:28:07.2191271-07:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"YUNBM_1LXEuYxFfKfZKOtQ","LenderName":"Provident
        Funding","ProductName":"30yearFixed","ProductId":"CFS30","DiscountPts":-0.250,"OriginationPts":{"HudLine":801,"Description":"Administration
        fee","IncludeInAPR":false,"FeeAmount":750.0,"FeeType":1},"Fees":-1000.00,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5776,"LoanAmount":400000.0,"ItemizedFees":"Description:
        Administration fee, HUD Line: 801, Fee Type: $$, Amount: $750.00, Include
        In APR: False<br />Description: Estimated third party fees, HUD Line: 814,
        Fee Type: $$, Amount: $1,947.00, Include In APR: False<br />[...]
