---
http_interactions:
- request:
    method: post
    uri: https://emscert.equifax.com/emsws/services/post/MergeCreditWWW
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='utf-8'?>
              <REQUEST_GROUP MISMOVersionID='2.3.1' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'><SUBMITTING_PARTY _Name='1183' _SequenceIdentifier='WFFE1' />
                <REQUEST LoginAccountPassword='xp9?47%Sww'
                LoginAccountIdentifier='999AUTO1' InternalAccountIdentifier='999AUTO1'
                RequestingPartyBranchIdentifier='QTP RPBranchId'><KEY _Name='TestCaseDescription' _Value='good generates report 1 borrower' />
                  <KEY _Name='Cost_Center' _Value='1183' /><KEY _Name='HTMLFile' _Value='false' /><KEY _Name='EDI' _Value='true' /><KEY _Name='BranchId' _Value='QTP Branch' /><REQUEST_DATA><CREDIT_REQUEST LenderCaseIdentifier='LOANNUMBER4'
                    RequestingPartyRequestedByName='req by QTP'><CREDIT_REQUEST_DATA CreditReportType='Merge'
                      CreditRequestType='Individual'
                      CreditRequestID='CreditRequest1'
                      CreditReportRequestActionType='Submit'
                      BorrowerID='1'><CREDIT_REPOSITORY_INCLUDED
                        _EquifaxIndicator='Y' _ExperianIndicator='Y' _TransUnionIndicator='Y' /></CREDIT_REQUEST_DATA><LOAN_APPLICATION><BORROWER BorrowerID='1' _FirstName='Carleton' _LastName='Haag'
                        _PrintPositionType='Borrower' _SSN='301-42-3221'><_RESIDENCE _StreetAddress='7122 Chandler Drive' _City='Sacramento'
                          _State='CA' _PostalCode='95828' BorrowerResidencyType='Current' /></BORROWER></LOAN_APPLICATION></CREDIT_REQUEST></REQUEST_DATA>
                  </REQUEST>
              </REQUEST_GROUP>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?><RESPONSE_GROUP MISMOVersionID="2.3.1">
          <RESPONDING_PARTY _City="ALPHARETTA" _Name="EQUIFAX MORTGAGE SOLUTIONS" _PostalCode="30005" _State="GA" _StreetAddress="1505 WINDWARD CONCOURSE">
            <CONTACT_DETAIL>
              <CONTACT_POINT _Type="Phone" _Value="770-740-6613"/>
            </CONTACT_DETAIL>
            <CONTACT_DETAIL>
              <CONTACT_POINT _Type="Fax" _Value="770-740-6125"/>
            </CONTACT_DETAIL>
          </RESPONDING_PARTY>
          <RESPOND_TO_PARTY _City="ALPHARETTA" _Name="EMS TEST 2X PURE XML TEST ACCOUNT" _PostalCode="30005" _State="GA" _StreetAddress="1525 WINDWARD CONCOURSE">
            <CONTACT_DETAIL _Name="req by QTP"/>
          </RESPOND_TO_PARTY>
          <RESPONSE InternalAccountIdentifier="999AUTO1" ResponseDateTime="2016-06-19">
            <KEY _Name="CreditScoreRankPercent_CRV7FF12_CRScr0000" _Value="4"/>
            <KEY _Name="EquifaxBeacon5.0_MinimumValue" _Value="334"/>
            <KEY _Name="EquifaxBeacon5.0_MaximumValue" _Value="818"/>
            <KEY _Name="CreditScoreRankPercent_CRV7FF12_CRScr0001" _Value="52"/>
            <KEY _Name="ExperianFairIsaac_MinimumValue" _Value="320"/>
            <KEY _Name="ExperianFairIsaac_MaximumValue" _Value="844"/>
            <KEY _Name="CreditScoreRankPercent_CRV7FF12_CRScr0002" _Value="92"/>
            <KEY _Name="FICORiskScoreClassic04_MinimumValue" _Value="309"/>
            <KEY _Name="FICORiskScoreClassic04_MaximumValue" _Value="839"/>
            <KEY _Name="TestCaseDescription" _Value="good generates report 1 borrower"/>
            <KEY _Name="Cost_Center" _Value="1183"/>
            <KEY _Name="HTMLFile" _Value="false"/>
            <KEY _Name="EDI" _Value="true"/>
            <KEY _Name="BranchId" _Value="QTP Branch"/>
            <KEY _Name="BRANCHID" _Value="QTP RPBranchId"/>
            <RESPONSE_DATA>
              <CREDIT_RESPONSE CreditRatingCodeType="Experian" CreditReportFirstIssuedDate="2016-06-19" CreditReportIdentifier="V7FF12" CreditReportLastUpdatedDate="2016-06-19" CreditReportMergeType="Blend" CreditReportType="Merge" CreditResponseID="CRV7FF12" MISMOVersionID="2.3.1">
                <_DATA_INFORMATION>
                  <DATA_VERSION _Name="Equifax" _Number="5"/>
                  <DATA_VERSION _Name="Experian" _Number="7"/>
                  <DATA_VERSION _Name="Trans Union" _Number="4"/>
                </_DATA_INFORMATION>
                <CREDIT_BUREAU _City="ALPHARETTA" _DisclaimerText="The reporting bureau certifies that; (a) public   records have been checked for tax liens, judgments, foreclosures,   garnishments, bankruptcies, and other legal actions involving the   subject(s) with the results indicated above; or (b) equivalent   information has been obtained through the use of a qualified   public records reporting service with the results indicated   above.  The records of real estate transfers which do not   involve foreclosures may be excluded.     Equifax Credit Services certifies that the information provided   in this report meets the requirements of the U.S. Dept. of HUD,   FHA, VA, USDA, RECD &amp; FSA, Fannie Mae and FHLMC.     The information is confidential and not to be divulged except   as required by PUBLIC LAW 91-508, 93-579, 94-239." _Name="EQUIFAX MORTGAGE SOLUTIONS" _PostalCode="30005" _State="GA" _StreetAddress="1505 WINDWARD CONCOURSE">
                  <CONTACT_DETAIL>
                    <CONTACT_POINT _Type="Phone" _Value="770-740-6613"/>
                  </CONTACT_DETAIL>
                  <CONTACT_DETAIL>
                    <CONTACT_POINT _Type="Fax" _Value="770-740-6125"/>
                  </CONTACT_DETAIL>
                </CREDIT_BUREAU>
                <CREDIT_REPORT_PRICE _Amount="4.33" _Type="Total"/>
                <CREDIT_REPOSITORY_INCLUDED _EquifaxIndicator="Y" _ExperianIndicator="Y" _TransUnionIndicator="Y"/>
                <REQUESTING_PARTY InternalAccountIdentifier="999AUTO1" LenderCaseIdentifier="LOANNUMBER4" _City="ALPHARETTA" _Name="EMS TEST 2X PURE XML TEST ACCOUNT" _PostalCode="30005" _RequestedByName="req by QTP" _State="GA" _StreetAddress="1525 WINDWARD CONCOURSE">
                  <CONTACT_DETAIL _Name="req by QTP"/>
                </REQUESTING_PARTY>
                <CREDIT_REQUEST_DATA BorrowerID="1" CreditReportIdentifier="V7FF12" CreditReportRequestActionType="Submit" CreditReportType="Merge" CreditRepositoriesSelectedCount="3" CreditRequestDateTime="2016-06-19" CreditRequestID="CreditRequest1" CreditRequestType="Individual">
                  <CREDIT_REPOSITORY_INCLUDED _EquifaxIndicator="Y" _ExperianIndicator="Y" _TransUnionIndicator="Y"/>
                </CREDIT_REQUEST_DATA>
                <BORROWER BorrowerID="1" MaritalStatusType="Unknown" _FirstName="CARLETON" _LastName="HAAG" _MaritalStatus="UNKNOWN" _PrintPositionType="Borrower" _SSN="301-42-3221">
                  <_RESIDENCE BorrowerResidencyType="Current" _City="SACRAMENTO" _PostalCode="95828" _State="CA" _StreetAddress="7122 CHANDLER DRIVE"/>
                </BORROWER>
                <CREDIT_LIABILITY BorrowerID="1" CreditBusinessType="Finance" CreditFileID="B-EFX-01" CreditLiabilityID="TRD0000" CreditLoanType="RealEstateSpecificTypeUnknown" CreditTradeReferenceID="CTR0000" _AccountIdentifier="1234561421105" _AccountOpenedDate="2000-08" _AccountOwnershipType="Individual" _AccountReportedDate="2016-04" _AccountStatusDate="2016-04" _AccountStatusType="Open" _AccountType="Mortgage" _ConsumerDisputeIndicator="N" _DerogatoryDataIndicator="N" _HighBalanceAmount="134000" _HighCreditAmount="134000" _LastActivityDate="2016-04" _MonthlyPaymentAmount="1404" _MonthsReviewedCount="84" _TermsDescription="MONTHLY" _TermsSourceType="Provided" _UnpaidBalanceAmount="134000">
                  <_CREDITOR _City="PLANO" _Name="GREENP MTG" _PostalCode="75024" _State="TX" _StreetAddress="7933 PRESTON RD MAIL CODE 310630110">
                    <CONTACT_DETAIL>
                      <CONTACT_POINT _Type="Phone" _Value="7066496700"/>
                    </CONTACT_DETAIL>
                  </_CREDITOR>
                  <_CURRENT_RATING _Code="1" _Type="AsAgreed"/>
                  <_LATE_COUNT _30Days="0" _60Days="0" _90Days="0"/>
                  <CREDIT_COMMENT _SourceType="CreditBureau" _Type="BureauRemarks">
                    <_Text>CONVENTIONAL MORTGAGE</_Text>
                  </CREDIT_COMMENT>
                  <CREDIT_COMMENT _SourceType="CreditBureau" _Type="BureauRemarks">
                    <_Text>REAL ESTATE MORTGAGE</_Text>
                  </CREDIT_COMMENT>
                  <CREDIT_REPOSITORY _SourceType="Equifax" _SubscriberCode="822FM00288"/>
                </CREDIT_LIABILITY>
                <CREDIT_LIABILITY BorrowerID="1" CreditBusinessType="Banking" CreditFileID="B-EFX-01" CreditLiabilityID="TRD0001" CreditLoanType="RealEstateSpecificTypeUnknown" CreditTradeReferenceID="CTR0001" _AccountIdentifier="36104402555599" _AccountOpenedDate="2000-03" _AccountOwnershipType="Individual" _AccountReportedDate="2016-04" _AccountStatusDate="2016-04" _AccountStatusType="Open" _AccountType="M[...]
