---
http_interactions:
- request:
    method: post
    uri: https://api.loantek.com/Clients/WebServices/Client/697/Pricing/V2/Quotes/LoanPricer/1746
    body:
      encoding: UTF-8
      string: '{"BestExecutionMethodType":1,"QuotingChannel":0,"ClientDefinedIdentifier":"53ZnFveCNg4A","ZipCode":95127,"CreditScore":750,"LoanPurpose":2,"LoanAmount":360000,"LoanToValue":"79.933","PropertyUsage":1,"PropertyType":3,"QuoteTypesToReturn":[-1,0,1,2,3,4]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ClientDefinedIdentifier":"53ZnFveCNg4A","RequestDataContextId":-1,"BestExecutionMethodType":"ByPointGroup","QuotesCount":18,"Quotes":[{"DateTime":"2016-01-29T01:04:23.6536993-08:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"ZbKTr0V-kkWCnMuJ9XXoPQ","LenderName":"REMN","ProductName":"5yearARM","ProductId":"FAS051","DiscountPts":-0.500,"OriginationPts":{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":995.0,"FeeType":1},"Fees":-805.00,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5779,"LoanAmount":360000.0,"ItemizedFees":"Description:
        Loan origination fee, HUD Line: 801, Fee Type: $$, Amount: $995.00, Include
        In APR: True<br />Description: Appraisal fee, HUD Line: 803, Fee Type: $$,
        Amount: $495.00, Include In APR: False<br />Description: Credit report fee,
        HUD Line: 804, Fee Type: $$, Amount: $25.00, Include In APR: False<br />","Fees":[{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":995.0,"FeeType":1},{"HudLine":803,"Description":"Appraisal
        fee","IncludeInAPR":false,"FeeAmount":495.0,"FeeType":1},{"HudLine":804,"Description":"Credit
        report fee","IncludeInAPR":false,"FeeAmount":25.0,"FeeType":1}],"NonAPRFees":520.0,"DollarFees":995.0,"PercentFees":0.0,"TotalFees":1515.0},"LockDay":0,"ARMDetails":{"IndexType":"TBill","Margin":2.00,"FixRate":60,"AdjustRate":12,"InitialCap":1.00,"PeriodicCap":1.00,"LifetimeCap":5.00},"AdvertiserNote":"tbd","Rate":3.125,"APR":3.840,"FICO":750,"LoanToValue":80,"PropertyType":"Con4","PropertyUse":"PRI","MIPInfo":{"AnnualRate":0.80,"AnnualPremium":2880.00,"MonthlyRate":0.07,"MonthlyPremium":240.00,"UpfrontRate":1.75,"UpfrontPremium":6300.00},"UFMIPPercent":0.0175,"MIP":240.00,"ProductFamily":"FHA","ProductClass":"STANDARD","ProductType":"ARM","ProductTerm":"5/1","PrincipalAndInterestPayment":1542.15,"Points":-1,"QuoteFees":-285.00},{"DateTime":"2016-01-29T01:04:23.6692996-08:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"-UMUVYJuHk2CxSLjrEYOGA","LenderName":"InterFirst","ProductName":"15yearFixed","ProductId":"CFS15","DiscountPts":-0.500,"OriginationPts":{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":995.0,"FeeType":1},"Fees":-519.0,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5778,"LoanAmount":360000.0,"ItemizedFees":"Descrip[...]
