---
http_interactions:
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetDeepSearchResults.htm?address=5045%20Cedar%20Springs%20Rd&citystatezip=75235&zws-id=X1-ZWz1aylbpp3aiz_98wrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '004'
      Content-Type:
      - text/xml;charset=UTF-8
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd
        http://www.zillowstatic.com/vstatic/fb9712c/static/xsd/SearchResults.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address>5045
        Cedar Springs Rd</address><citystatezip>75235</citystatezip></request><message><text>Request
        successfully processed</text><code>0</code></message><response><results><result><zpid>26697093</zpid><links><homedetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-116F-Dallas-TX-75235/26697093_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/26697093_zpid/</mapthishome><comparables>http://www.zillow.com/homes/comps/26697093_zpid/</comparables></links><address><street>5045
        Cedar Springs Rd APT 116F</street><zipcode>75235</zipcode><city>Dallas</city><state>TX</state><latitude>32.823565</latitude><longitude>-96.82865</longitude></address><FIPScounty>48113</FIPScounty><useCode>Condominium</useCode><taxAssessmentYear>2014</taxAssessmentYear><taxAssessment>87550.0</taxAssessment><yearBuilt>1963</yearBuilt><lotSizeSqFt>120000</lotSizeSqFt><finishedSqFt>1030</finishedSqFt><bathrooms>1.5</bathrooms><bedrooms>2</bedrooms><lastSoldDate>07/14/2010</lastSoldDate><zestimate><amount
        currency="USD">107116</amount><last-updated>09/06/2015</last-updated><oneWeekChange
        deprecated="true"></oneWeekChange><valueChange duration="30" currency="USD">-682</valueChange><valuationRange><low
        currency="USD">100689</low><high currency="USD">115685</high></valuationRange><percentile>0</percentile></zestimate><localRealEstate><region
        name="Oak Lawn" id="274835" type="neighborhood"><zindexValue>207,700</zindexValue><links><overview>http://www.zillow.com/local-info/TX-Dallas/Oak-Lawn/r_274835/</overview><forSaleByOwner>http://www.zillow.com/oak-lawn-dallas-tx/fsbo/</forSaleByOwner><forSale>http://www.zillow.com/oak-lawn-dallas-tx/</forSale></links></region></localRealEstate></result><result><zpid>26697094</zpid><links><homedetails>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-117F-Dallas-TX-75235/26697094_zpid/</homedetails><graphsanddata>http://www.zillow.com/homedetails/5045-Cedar-Springs-Rd-APT-117F-Dallas-TX-75235/26697094_zpid/#charts-and-data</graphsanddata><mapthishome>http://www.zillow.com/homes/26697094_zpid/</mapthishome><comparables>http://www.zillow.com/h[...]
- request:
    method: get
    uri: http://www.zillow.com/webservice/mortgage/CalculateMonthlyPaymentsAdvanced.htm?price=107116&zip=75235&zws-id=X1-ZWz1aylbpp3aiz_98wrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '001'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><MonthlyPaymentsAdvanced:paymentsdetails
        xsi:schemaLocation="http://www.zillow.com/static/xsd/MonthlyPaymentsAdvanced.xsd
        http://www.zillowstatic.com/vstatic/fb9712c/static/xsd/MonthlyPaymentsAdvanced.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:MonthlyPaymentsAdvanced="http://www.zillow.com/static/xsd/MonthlyPaymentsAdvanced.xsd"><request><price>107116</price><schedule>none</schedule><terminmonths>360</terminmonths><zip>75235</zip><output>xml</output></request><message><text>Request
        successfully processed</text><code>0</code></message><response><monthlyprincipalandinterest>397</monthlyprincipalandinterest><monthlypropertytaxes>219</monthlypropertytaxes><monthlyhazardinsurance>110</monthlyhazardinsurance><monthlypmi>31</monthlypmi><monthlyhoadues>0</monthlyhoadues><totalmonthlypayment>757</totalmonthlypayment><totalpayments>272563</totalpayments><totalinterest>57228</totalinterest><totalprincipal>85693</totalprincipal><totaltaxesfeesandinsurance>129642</totaltaxesfeesandinsurance></response></MonthlyPaymentsAdvanced:paymentsdetails><!--
        H:001  T:14ms  S:622  R:Wed Sep 09 01:29:28 PDT 2015  B:4.0.19036-release_20150826-droopy-mccool.88df158~candidate.ec50186
        -->
  recorded_at: Wed, 09 Sep 2015 09:29:28 GMT
recorded_with: VCR 2.9.3
