---
http_interactions:
- request:
    method: get
    uri: https://mortgageapi.zillow.com/getQuotes?includeLenders=true&includeLendersDisclaimers=true&includeLendersRatings=true&includeRequest=true&partnerId=RD-CZMBMCZ&requestRef.id=ZR-FYDPCFPM&sorts.0=SponsoredRelevance&sorts.1=LenderRatings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"lenders":{"ZU10gdbakbkgcuh_6sexv":{"businessAddress":{"address":"13220
        Metcalf Ave. Ste. 150","city":"Overland Park","stateAbbreviation":"KS","zipCode":"66213"},"businessName":"Pulaski
        Bank","businessPhone":{"areaCode":"913","number":"7677","prefix":"433"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZU10gdbakbkgcuh_6sexv","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/ISx783tht7lvnd1000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/ISx783tht7lvnd1000000000.jpg","lenderName":"Pulaski
        Bank Consumer Direct","lendingSince":1922,"nmlsLicense":"453044","profileWebsiteURL":"https://www.securecontactpage.com/43433624/1","ratings":{"followThrough":4.96,"helpfulness":4.96,"knowledgeable":4.88,"overall":4.95,"responsiveness":4.94},"reviewCount":56,"screenName":"Pulaski
        Bank","showWebsiteLinkOnQuotes":true},"ZUyk5md18u57ux_4ye7o":{"businessAddress":{"address":"11880
        College Blvd., Suite 320","city":"Overland Park","stateAbbreviation":"KS","zipCode":"66210"},"businessName":"HomeDirect
        Mortgage","businessPhone":{"areaCode":"855","number":"7440","prefix":"314"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUyk5md18u57ux_4ye7o","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/IS5uykkfmg59ta1000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/IS5uykkfmg59ta1000000000.jpg","nmlsLicense":"403501","profileWebsiteURL":"https://www.securecontactpage.com/homedirect-mortgage/1","ratings":{"followThrough":4.91,"helpfulness":4.92,"knowledgeable":4.91,"overall":4.95,"responsiveness":4.93},"reviewCount":715,"screenName":"HomeDirect
        Mortgage","showWebsiteLinkOnQuotes":true},"ZUynhf6v862d55_728x6":{"businessAddress":{"address":"1435
        North McDowell Blvd. Suite 300","city":"Petaluma","stateAbbreviation":"CA","zipCode":"94954"},"businessName":"Mortgage
        Services Across America","businessPhone":{"areaCode":"855","number":"5626","prefix":"592"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUynhf6v862d55_728x6","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/ISxz54qvt2bxq21000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/ISxz54qvt2bxq21000000000.jpg","lendingSince":1977,"nmlsLicense":"24055","profileWebsiteURL":"https://www.securecontactpage.com/11801503/1","ratings":{"followThrough":4.73,"helpfulness":4.75,"knowledgeable":4.76,"overall":4.74,"responsiveness":4.8},"reviewCount":137,"screenName":"Mortgage
        Services AA","showWebsiteLinkOnQuotes":true},"ZUynzgia7qs6bt_6zfs8":{"businessAddress":{"address":"3701
        Arco Corporate Drive, Suite 200","city":"Charlotte","stateAbbreviation":"NC","zipCode":"28273"},"businessName":"Sebonic
        Financial","businessPhone":{"areaCode":"877","number":"6862","prefix":"721"},"canEditProfileWebsiteURL":false,"confirmed":true,"disclaimers":{"ContactLenderForm":"By
        clicking \u201cContact Lender\u201d (1) I authorize Zillow to send the information
        I entered above to Sebonic Financial and (2) I authorize Sebonic Financial
        to deliver or cause to be delivered to me at that phone number, telemarketing
        calls which may use an automatic telephone dialing system, an artificial or
        prerecorded voice or text message. I understand that I am not required to
        provide this consent and authorization and it is not a condition to qualify
        for a loan or receive any good or service."},"id":"ZUynzgia7qs6bt_6zfs8","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/ISdcaoftvl7vfv1000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/ISdcaoftvl7vfv1000000000.jpg","lendingSince":1987,"nmlsLicense":"66247","profileWebsiteURL":"https://www.securecontactpage.com/sebonic-financial/1","ratings":{"followThrough":4.53,"helpfulness":4.59,"knowledgeable":4.59,"overall":4.59,"responsiveness":4.57},"reviewCount":1715,"screenName":"Sebonic
        Financial","showWebsiteLinkOnQuotes":true},"ZUyrjvqzko4t8p_4kciy":{"businessAddress":{"address":"220
        Congress Park Drive, STE 140","city":"Delray Beach","stateAbbreviation":"FL","zipCode":"33445"},"businessName":"ConsumerDirect
        Mortgage","businessPhone":{"areaCode":"866","number":"1614","prefix":"370"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUyrjvqzko4t8p_4kciy","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/IS1zb32jnz71mn1000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/IS1zb32jnz71mn1000000000.jpg","lendingSince":1906,"nmlsLicense":"472433","profileWebsiteURL":"https://www.securecontactpage.com/consumerdirect-mortgage/1","ratings":{"followThrough":4.63,"helpfulness":4.71,"knowledgeable":4.7,"overall":4.73,"responsiveness":4.71},"reviewCount":289,"screenName":"ConsumerDirect","showWebsiteLinkOnQuotes":true},"ZUytl9dyzpn6dl_5taq2":{"businessAddress":{"address":"10700
        Nall Ave","city":"Overland Park","stateAbbreviation":"KS","zipCode":"66211"},"businessName":"National
        Bank of Kansas City","businessPhone":{"areaCode":"913","number":"4516","prefix":"954"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUytl9dyzpn6dl_5taq2","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/ISts5sx81khl3e0000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/ISts5sx81khl3e0000000000.jpg","nmlsLicense":"409631","profileWebsiteURL":"https://www.securecontactpage.com/national-bank-of-kansas-city/1","ratings":{"followThrough":4.85,"helpfulness":4.88,"knowledgeable":4.86,"overall":4.87,"responsiveness":4.86},"reviewCount":3541,"screenName":"National
        Bank of KC","showWebsiteLinkOnQuotes":true},"ZUyu0jexlmihvt_3bebu":{"businessAddress":{"address":"1000
        Technology Drive","city":"O Fallon","stateAbbreviation":"MO","zipCode":"63368"},"businessName":"Citibank","businessPhone":{"areaCode":"877","number":"8709","prefix":"655"},"canEditProfileWebsiteURL":false,"confirmed":true,"contactPhone":{"areaCode":"800","number":"9818","prefix":"598"},"disclaimers":{"QuoteDetailFees":"Note:
        The APR disclosed does not include interim interest; your actual APR may be
        higher.  The APR disclosed may include \u201cnegative discount points\u201d
        that would result in a lender credit. You may be able to use this credit to
        pay fees associated with your mortgage transaction.\n\nIn addition to the
        lender fees above, mortgage transactions include one or more of these 3rd
        party fees which may vary by the property location state: lender title insurance,
        appraisal, recording fees. In addition, a closing or settlement fee will be
        charged; this fee is part of the APR disclosed above. ","QuoteDetailLenderDisclaimer":"Interest
        rate is based upon certain loan assumptions in addition to information provided
        as listed in the \u201cLoan details\u201d section above. Additional assumptions
        can be seen by clicking on the text in the first sentence of the \u201cDisclaimer\u201d
        section below. \n\nNotes: Interest rate assumes a Loan-to-value ratio of 80%
        for loans up to and including $1.5 million, Loan-to-value ratio for loans
        in excess of $1.5 million is 75%.\n\nThe interest rate is based on the lowest
        credit score in the range selected. However, if \u201c760 and above\u201d
        is selected the interest rate is based on a 740 score.  \n\nAdditional discounts
        may be available for borrowers with a credit score of 780 and above. \n\nInterest
        rate is subject to change without notice.\n"},"id":"ZUyu0jexlmihvt_3bebu","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/IS9hjbqnjm12jr1000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/IS9hjbqnjm12jr1000000000.jpg","nmlsLicense":"412915","profileWebsiteURL":"https://www.securecontactpage.com/citibank/1","ratings":{"followThrough":4.82,"helpfulness":4.83,"knowledgeable":4.83,"overall":4.83,"responsiveness":4.85},"reviewCount":486,"screenName":"Citibank","showWebsiteLinkOnQuotes":true},"ZUyu235ztf7top_2uji6":{"businessAddress":{"address":"11201
        USA Parkway","city":"Fishers","stateAbbreviation":"IN","zipCode":"46037"},"businessName":"First
        Internet Bank","businessPhone":{"areaCode":"855","number":"4712","prefix":"272"},"canEditProfileWebsiteURL":false,"confirmed":true,"disclaimers":{"ContactLenderForm":"By
        clicking \u201cContact Lender\u201d (1) I authorize Zillow to send the information
        I entered above to First Internet Bank and (2) I authorize First Internet
        Bank to deliver or cause to be delivered to me at that phone number, telemarketing
        calls which may use an automatic telephone dialing system, an artificial or
        prerecorded voice or text message. I understand that I am not required to
        provide this consent and authorization and it is not a condition to qualify
        for a loan or receive any good or service."},"id":"ZUyu235ztf7top_2uji6","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/ISl6fe5tcfegve0000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/ISl6fe5tcfegve0000000000.jpg","nmlsLicense":"424182","profileWebsiteURL":"https://www.securecontactpage.com/first-internet-bank/1","ratings":{"followThrough":4.62,"helpfulness":4.68,"knowledgeable":4.66,"overall":4.64,"responsiveness":4.66},"reviewCount":411,"screenName":"First
        Internet Bank","showWebsiteLinkOnQuotes":true},"ZUyvppakp93n61_7ucam":{"businessAddress":{"address":"7007
        College Blvd Ste 330","city":"Overland Park","stateAbbreviation":"KS","zipCode":"66211"},"businessName":"BNC
        National Bank","businessPhone":{"areaCode":"913","number":"4099","prefix":"553"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUyvppakp93n61_7ucam","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/IS-4vpvem7liusd.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/IS-4vpvem7liusd.jpg","lendingSince":2001,"nmlsLicense":"418467","profileWebsiteURL":"https://www.securecontactpage.com/bnc-national-bank/1","ratings":{"followThrough":4.57,"helpfulness":4.62,"knowledgeable":4.64,"overall":4.56,"responsiveness":4.59},"reviewCount":834,"screenName":"BNC
        National Bank","showWebsiteLinkOnQuotes":true},"ZUyws6cugyu7t5_a3ta0":{"businessAddress":{"address":"1301
        Grandview Ave, Ste 100","city":"Pittsburgh","stateAbbreviation":"PA","zipCode":"15211"},"businessName":"Federated
        Mortgage Corp","businessPhone":{"areaCode":"412","number":"3530","prefix":"390"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUyws6cugyu7t5_a3ta0","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/ISxbrcgqvptf2m1000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/ISxbrcgqvptf2m1000000000.jpg","lenderName":"Federated
        Mortgage Corporation","lendingSince":2001,"nmlsLicense":"101475","profileWebsiteURL":"https://www.securecontactpage.com/federated-mortgage-corp/1","ratings":{"followThrough":4.8,"helpfulness":4.84,"knowledgeable":4.83,"overall":4.8,"responsiveness":4.77},"reviewCount":85,"screenName":"Federated
        Mtg Corp","showWebsiteLinkOnQuotes":true},"ZUyzxcz0gey0i1_493z6":{"businessAddress":{"address":"12412
        San Jose Blvd #203","city":"Jacksonville","stateAbbreviation":"FL","zipCode":"32223"},"businessName":"Home
        Point Financial Corporation","businessPhone":{"areaCode":"877","number":"5441","prefix":"250"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUyzxcz0gey0i1_493z6","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/ISts11qdd9a16l0000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/ISts11qdd9a16l0000000000.jpg","lendingSince":1999,"nmlsLicense":"7706","profileWebsiteURL":"https://www.securecontactpage.com/1209431/1","ratings":{"followThrough":4.8,"helpfulness":4.82,"knowledgeable":4.82,"overall":4.8,"responsiveness":4.78},"reviewCount":242,"screenName":"Home
        Point Financial","showWebsiteLinkOnQuotes":true},"ZUz8ebdlwg6vih_9od0t":{"businessAddress":{"address":"2878
        Camino Del Rio South 402","city":"San Diego","stateAbbreviation":"CA","zipCode":"92108"},"businessName":"HomePlus
        Mortgage","businessPhone":{"areaCode":"800","number":"7587","prefix":"810"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUz8ebdlwg6vih_9od0t","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/IS9luymi91ueni1000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/IS9luymi91ueni1000000000.jpg","lendingSince":1999,"nmlsLicense":"78669","profileWebsiteURL":"https://www.securecontactpage.com/homeplus-mortgage/1","ratings":{"followThrough":4.96,"helpfulness":4.96,"knowledgeable":4.97,"overall":4.97,"responsiveness":4.97},"reviewCount":260,"screenName":"Home
        Plus Mortgage","showWebsiteLinkOnQuotes":true},"ZUz8k0x3l2upzd_3fm19":{"businessAddress":{"address":"6230
        Fairview Road Suite 425","city":"Charlotte","stateAbbreviation":"NC","zipCode":"28210"},"businessName":"eRates
        Mortgage","businessPhone":{"areaCode":"855","number":"7283","prefix":"693"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUz8k0x3l2upzd_3fm19","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/IShvnqepbi2rll0000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/IShvnqepbi2rll0000000000.jpg","lendingSince":1994,"nmlsLicense":"1071","profileWebsiteURL":"https://www.securecontactpage.com/erates-mortgage/1","ratings":{"followThrough":4.48,"helpfulness":4.54,"knowledgeable":4.55,"overall":4.53,"responsiveness":4.56},"reviewCount":1747,"screenName":"eRates
        Mortgage","showWebsiteLinkOnQuotes":true},"ZUzdkpuphm8r2h_60bkf":{"businessAddress":{"address":"625
        W. Ridge Pike, Building C","city":"Conshohocken","stateAbbreviation":"PA","zipCode":"19428"},"businessName":"Best
        Rate USA","businessPhone":{"areaCode":"877","number":"2131","prefix":"969"},"canEditProfileWebsiteURL":false,"confirmed":true,"id":"ZUzdkpuphm8r2h_60bkf","imageSecureURL":"https://d14mm2ttxradcn.cloudfront.net/h_e/IShjawoqkws12g0000000000.jpg","imageURL":"http://photos1.zillowstatic.com/h_e/IShjawoqkws12g0000000000.jpg","lendingSince":2008,"nmlsLicense":"134407","profileWebsiteURL":"https://www.securecontactpage.com/best-rate-usa/1","ratings":{"followThrough":4.88,"helpfulness":4.89,"knowledgeable":4.86,"overall":4.88,"responsiveness":4.89},"reviewCount":155,"screenName":"BestRateUSA","showWebsiteLinkOnQuotes":true}},"monthlyHazardInsurance":80,"monthlyPropertyTax":212,"quotes":{"ZQ-BGPKPHHN":{"apr":3.139,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":84,"index":"LIBOR_1_YEAR","initialCap":5,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.197000-08:00","fees":[{"amount":3768,"hudLine":802,"name":"Loan
        discount fee","percent":0.942},{"amount":400,"hudLine":803,"name":"Appraisal
        fee"},{"amount":30,"hudLine":804,"name":"Credit report fee"},{"amount":495,"hudLine":811,"name":"Processing
        fee"},{"amount":340,"hudLine":812,"name":"Underwriting fee"}],"id":"ZQ-BGPKPHHN","lenderId":"ZUyws6cugyu7t5_a3ta0","loanAmount":400000,"lockDays":30,"monthlyPayment":1660,"points":0.942,"rate":2.875,"requestId":"ZR-FYDPCFPM","sortRanks":[168,5],"termMonths":360,"upfrontCost":5033},"ZQ-BKYDQRCH":{"apr":3.292,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":84,"index":"LIBOR_1_YEAR","initialCap":5,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:40.907000-08:00","fees":[{"amount":450,"hudLine":803,"name":"Appraisal
        fee"},{"amount":995,"hudLine":812,"name":"Underwriting fee"}],"id":"ZQ-BKYDQRCH","lenderCredit":348,"lenderId":"ZUz8ebdlwg6vih_9od0t","loanAmount":400000,"lockDays":30,"monthlyPayment":1768,"points":0,"rate":3.375,"requestId":"ZR-FYDPCFPM","sortRanks":[190,0],"termMonths":360,"upfrontCost":1097},"ZQ-BMKTQBBK":{"apr":3.1,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":36,"index":"LIBOR_1_YEAR","initialCap":5,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.147000-08:00","fees":[{"amount":3604,"hudLine":802,"name":"Loan
        discount fee","percent":0.901},{"amount":400,"hudLine":803,"name":"Appraisal
        fee"},{"amount":30,"hudLine":804,"name":"Credit report fee"},{"amount":495,"hudLine":811,"name":"Processing
        fee"},{"amount":340,"hudLine":812,"name":"Underwriting fee"}],"id":"ZQ-BMKTQBBK","lenderId":"ZUyws6cugyu7t5_a3ta0","loanAmount":400000,"lockDays":30,"monthlyPayment":1555,"points":0.901,"rate":2.375,"requestId":"ZR-FYDPCFPM","sortRanks":[203,5],"termMonths":360,"upfrontCost":4869},"ZQ-BRWGQJNN":{"apr":3.212,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":84,"index":"LIBOR_1_YEAR","initialCap":5,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.083000-08:00","fees":[{"amount":995,"hudLine":801,"name":"Loan
        origination fee"},{"amount":425,"hudLine":803,"name":"Appraisal fee"},{"amount":25,"hudLine":804,"name":"Credit
        report fee"}],"id":"ZQ-BRWGQJNN","lenderCredit":1445,"lenderId":"ZUyvppakp93n61_7ucam","loanAmount":400000,"lockDays":30,"monthlyPayment":1741,"points":0,"rate":3.25,"requestId":"ZR-FYDPCFPM","sortRanks":[179,12],"termMonths":360,"upfrontCost":0},"ZQ-BTWHQQRH":{"apr":2.841,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.063000-08:00","fees":[{"amount":1500,"hudLine":801,"name":"Loan
        origination fee"},{"amount":4116,"hudLine":802,"name":"Loan discount fee","percent":1.029},{"amount":400,"hudLine":803,"name":"Appraisal
        fee"}],"id":"ZQ-BTWHQQRH","lenderId":"ZUz8k0x3l2upzd_3fm19","loanAmount":400000,"lockDays":30,"monthlyPayment":2691,"points":1.029,"rate":2.625,"requestId":"ZR-FYDPCFPM","sortRanks":[88,13],"termMonths":180,"upfrontCost":6016},"ZQ-BVDZRSXH":{"apr":2.925,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:40.720000-08:00","fees":[{"amount":1900,"hudLine":801,"name":"Loan
        origination fee"},{"amount":450,"hudLine":803,"name":"Appraisal fee"}],"id":"ZQ-BVDZRSXH","lenderCredit":968,"lenderId":"ZUynhf6v862d55_728x6","loanAmount":400000,"lockDays":30,"monthlyPayment":2738,"points":0,"rate":2.875,"requestId":"ZR-FYDPCFPM","sortRanks":[99,7],"termMonths":180,"upfrontCost":1382},"ZQ-BXYCQKTN":{"apr":3.23,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":60,"index":"LIBOR_1_YEAR","initialCap":2,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:40.980000-08:00","fees":[{"amount":895,"hudLine":801,"name":"Loan
        origination fee"},{"amount":445,"hudLine":803,"name":"Appraisal fee"}],"id":"ZQ-BXYCQKTN","lenderCredit":55,"lenderId":"ZUyrjvqzko4t8p_4kciy","loanAmount":400000,"lockDays":30,"monthlyPayment":1741,"points":0,"rate":3.25,"requestId":"ZR-FYDPCFPM","sortRanks":[41,8],"termMonths":360,"upfrontCost":1285},"ZQ-CGYBQDYT":{"apr":2.99,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41-08:00","fees":[{"amount":995,"hudLine":801,"name":"Loan
        origination fee"},{"amount":425,"hudLine":803,"name":"Appraisal fee"},{"amount":25,"hudLine":804,"name":"Credit
        report fee"}],"id":"ZQ-CGYBQDYT","lenderCredit":1445,"lenderId":"ZUyvppakp93n61_7ucam","loanAmount":400000,"lockDays":30,"monthlyPayment":2760,"points":0,"rate":2.99,"requestId":"ZR-FYDPCFPM","sortRanks":[106,12],"termMonths":180,"upfrontCost":0},"ZQ-CKXJQKWB":{"apr":3.149,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":36,"index":"LIBOR_1_YEAR","initialCap":5,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:40.917000-08:00","fees":[{"amount":895,"hudLine":801,"name":"Loan
        origination fee"},{"amount":484,"hudLine":802,"name":"Loan discount fee","percent":0.121},{"amount":445,"hudLine":803,"name":"Appraisal
        fee"}],"id":"ZQ-CKXJQKWB","lenderId":"ZUyrjvqzko4t8p_4kciy","loanAmount":400000,"lockDays":30,"monthlyPayment":1660,"points":0.121,"rate":2.875,"requestId":"ZR-FYDPCFPM","sortRanks":[207,8],"termMonths":360,"upfrontCost":1824},"ZQ-CMXKRRJQ":{"apr":2.763,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:40.880000-08:00","fees":[{"amount":895,"hudLine":801,"name":"Loan
        origination fee"},{"amount":445,"hudLine":803,"name":"Appraisal fee"}],"id":"ZQ-CMXKRRJQ","lenderCredit":1088,"lenderId":"ZUyrjvqzko4t8p_4kciy","loanAmount":400000,"lockDays":30,"monthlyPayment":3816,"points":0,"rate":2.75,"requestId":"ZR-FYDPCFPM","sortRanks":[129,8],"termMonths":120,"upfrontCost":252},"ZQ-CPWFQBXT":{"apr":3.049,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":36,"index":"TBill","initialCap":1,"lifetimeCap":5,"margin":2,"periodicCap":1},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.120000-08:00","fees":[{"amount":1399,"hudLine":801,"name":"Loan
        origination fee"},{"amount":6232,"hudLine":802,"name":"Loan discount fee","percent":1.558},{"amount":450,"hudLine":803,"name":"Appraisal
        fee"},{"amount":17,"hudLine":804,"name":"Credit report fee"}],"feesRolledIntoLoanAmount":7000,"fha":{"annualPremium":3168,"annualPremiumPercent":0.8,"upfrontPremium":7000,"upfrontPremiumPercent":1.75},"id":"ZQ-CPWFQBXT","lenderId":"ZUyu235ztf7top_2uji6","loanAmount":407000,"lockDays":30,"monthlyPayment":1556,"points":1.558,"rate":2.25,"requestId":"ZR-FYDPCFPM","sortRanks":[201,10],"termMonths":360,"upfrontCost":15098},"ZQ-CTBKSHLT":{"apr":3.125,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.953000-08:00","fees":[{"amount":895,"hudLine":801,"name":"Loan
        origination fee"},{"amount":500,"hudLine":803,"name":"Appraisal fee"}],"id":"ZQ-CTBKSHLT","lenderCredit":4676,"lenderId":"ZUynzgia7qs6bt_6zfs8","loanAmount":400000,"lockDays":30,"monthlyPayment":2786,"points":0,"rate":3.125,"requestId":"ZR-FYDPCFPM","sortRanks":[118,11],"termMonths":180,"upfrontCost":-3281},"ZQ-CVGSCMLG":{"apr":3.643,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:40.657000-08:00","fees":[{"amount":1900,"hudLine":801,"name":"Loan
        origination fee"},{"amount":8000,"hudLine":802,"name":"Loan discount fee","percent":2},{"amount":450,"hudLine":803,"name":"Appraisal
        fee"}],"id":"ZQ-CVGSCMLG","lenderCredit":3324,"lenderId":"ZUynhf6v862d55_728x6","loanAmount":400000,"lockDays":30,"monthlyPayment":1796,"points":2,"rate":3.5,"requestId":"ZR-FYDPCFPM","sortRanks":[0,7],"termMonths":360,"upfrontCost":7026},"ZQ-CWPJPVCT":{"apr":3.158,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":84,"index":"LIBOR_1_YEAR","initialCap":5,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.243000-08:00","fees":[{"amount":495,"hudLine":801,"name":"Loan
        origination fee"},{"amount":7864,"hudLine":802,"name":"Loan discount fee","percent":1.966},{"amount":450,"hudLine":803,"name":"Appraisal
        fee"},{"amount":17,"hudLine":804,"name":"Credit report fee"},{"amount":14,"hudLine":811,"name":"Processing
        fee"}],"id":"ZQ-CWPJPVCT","lenderId":"ZUytl9dyzpn6dl_5taq2","loanAmount":400000,"lockDays":30,"monthlyPayment":1633,"points":1.966,"rate":2.75,"requestId":"ZR-FYDPCFPM","sortRanks":[172,3],"termMonths":360,"upfrontCost":8840},"ZQ-CZZNQJTB":{"apr":3.182,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":60,"index":"LIBOR_1_YEAR","initialCap":2,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.070000-08:00","fees":[{"amount":1399,"hudLine":801,"name":"Loan
        origination fee"},{"amount":450,"hudLine":803,"name":"Appraisal fee"},{"amount":17,"hudLine":804,"name":"Credit
        report fee"}],"id":"ZQ-CZZNQJTB","lenderCredit":776,"lenderId":"ZUyu235ztf7top_2uji6","loanAmount":400000,"lockDays":30,"monthlyPayment":1714,"points":0,"rate":3.125,"requestId":"ZR-FYDPCFPM","sortRanks":[35,10],"termMonths":360,"upfrontCost":1090},"ZQ-DCPXPYSW":{"apr":3.328,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":84,"index":"LIBOR_1_YEAR","initialCap":5,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.273000-08:00","fees":[{"amount":495,"hudLine":801,"name":"Loan
        origination fee"},{"amount":450,"hudLine":803,"name":"Appraisal fee"},{"amount":17,"hudLine":804,"name":"Credit
        report fee"},{"amount":14,"hudLine":811,"name":"Processing fee"}],"id":"ZQ-DCPXPYSW","lenderCredit":2116,"lenderId":"ZUytl9dyzpn6dl_5taq2","loanAmount":400000,"lockDays":30,"monthlyPayment":1796,"points":0,"rate":3.5,"requestId":"ZR-FYDPCFPM","sortRanks":[192,3],"termMonths":360,"upfrontCost":-1140},"ZQ-DFPKTRNB":{"apr":3.125,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.407000-08:00","fees":[{"amount":995,"hudLine":801,"name":"Loan
        origination fee"},{"amount":450,"hudLine":803,"name":"Appraisal fee"}],"id":"ZQ-DFPKTRNB","lenderCredit":3585,"lenderId":"ZU10gdbakbkgcuh_6sexv","loanAmount":400000,"lockDays":60,"monthlyPayment":3886,"points":0,"rate":3.125,"requestId":"ZR-FYDPCFPM","sortRanks":[163,9],"termMonths":120,"upfrontCost":-2140},"ZQ-DGKQPVXH":{"apr":3.146,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":60,"index":"LIBOR_1_YEAR","initialCap":2,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.207000-08:00","fees":[{"amount":495,"hudLine":801,"name":"Loan
        origination fee"},{"amount":2640,"hudLine":802,"name":"Loan discount fee","percent":0.66},{"amount":450,"hudLine":803,"name":"Appraisal
        fee"},{"amount":17,"hudLine":804,"name":"Credit report fee"},{"amount":14,"hudLine":811,"name":"Processing
        fee"}],"id":"ZQ-DGKQPVXH","lenderId":"ZUytl9dyzpn6dl_5taq2","loanAmount":400000,"lockDays":30,"monthlyPayment":1660,"points":0.66,"rate":2.875,"requestId":"ZR-FYDPCFPM","sortRanks":[26,3],"termMonths":360,"upfrontCost":3616},"ZQ-DLWDQXTK":{"apr":3.172,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":60,"index":"LIBOR_1_YEAR","initialCap":2,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.160000-08:00","fees":[{"amount":1500,"hudLine":801,"name":"Loan
        origination fee"},{"amount":400,"hudLine":803,"name":"Appraisal fee"}],"id":"ZQ-DLWDQXTK","lenderCredit":1348,"lenderId":"ZUz8k0x3l2upzd_3fm19","loanAmount":400000,"lockDays":30,"monthlyPayment":1714,"points":0,"rate":3.125,"requestId":"ZR-FYDPCFPM","sortRanks":[33,13],"termMonths":360,"upfrontCost":552},"ZQ-DNDQRKKK":{"apr":2.875,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:40.887000-08:00","fees":[{"amount":895,"hudLine":801,"name":"Loan
        origination fee"},{"amount":445,"hudLine":803,"name":"Appraisal fee"}],"id":"ZQ-DNDQRKKK","lenderCredit":3308,"lenderId":"ZUyrjvqzko4t8p_4kciy","loanAmount":400000,"lockDays":30,"monthlyPayment":3839,"points":0,"rate":2.875,"requestId":"ZR-FYDPCFPM","sortRanks":[139,8],"termMonths":120,"upfrontCost":-1968},"ZQ-DNWWQPDW":{"apr":3.029,"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.123000-08:00","fees":[{"amount":400,"hudLine":803,"name":"Appraisal
        fee"},{"amount":30,"hudLine":804,"name":"Credit report fee"},{"amount":495,"hudLine":811,"name":"Processing
        fee"},{"amount":340,"hudLine":812,"name":"Underwriting fee"}],"id":"ZQ-DNWWQPDW","lenderCredit":184,"lenderId":"ZUyws6cugyu7t5_a3ta0","loanAmount":400000,"lockDays":30,"monthlyPayment":2760,"points":0,"rate":2.99,"requestId":"ZR-FYDPCFPM","sortRanks":[115,5],"termMonths":180,"upfrontCost":1081},"ZQ-DSZMQCYH":{"apr":3.159,"arm":{"adjustmentPeriodMonths":12,"fixedRateMonths":84,"index":"LIBOR_1_YEAR","initialCap":5,"lifetimeCap":5,"margin":2.25,"periodicCap":2},"costAfter10Years":0,"costAfter15Years":0,"costAfter30Years":0,"costAfter5Years":0,"created":"2015-11-19T23:08:41.093000-08:00","fees":[{"amount":1399,"hudLine":801,"name":"Loan
        origination fee"},{"amount":7056,"hudLine":802,"name":"Loan discount fee","percent":1.764},{"amount":450,"hudLine":803,"name":"Appraisal
[...]
