---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/8844ba87-7f7e-4a6c-bfdf-3e919b5fee19/envelopes/5d46fa35-35ac-4b44-9e28-a72b81582523/views/recipient
    body:
      encoding: UTF-8
      string: '{"authenticationMethod":"email","clientUserId":"faker@gmail.com","email":"faker@gmail.com","returnUrl":"https://google.com","userName":"John
        Doe"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"billy@mortgageclub.io","Password":"*dsf3#$sSVd23","IntegratorKey":"MORT-ad25d2f7-4588-4728-976a-81b68bad763a"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1441537200'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '962'
      X-Docusign-Node:
      - DADEMOFE2
    body:
      encoding: UTF-8
      string: "{\r\n  \"errorCode\": \"UNKNOWN_ENVELOPE_RECIPIENT\",\r\n  \"message\":
        \"The recipient you have identified is not a valid recipient of the specified
        envelope.\"\r\n}"
  recorded_at: Sun, 06 Sep 2015 10:43:43 GMT
recorded_with: VCR 2.9.3
