---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/8844ba87-7f7e-4a6c-bfdf-3e919b5fee19/envelopes/5d46fa35-35ac-4b44-9e28-a72b81582523/views/recipient
    body:
      encoding: UTF-8
      string: '{"authenticationMethod":"email","clientUserId":"borrower@gmail.com","email":"borrower@gmail.com","returnUrl":"https://google.com","userName":"John
        Doe"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"billy@mortgageclub.io","Password":"*dsf3#$sSVd23","IntegratorKey":"MORT-ad25d2f7-4588-4728-976a-81b68bad763a"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1441537200'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '963'
      X-Docusign-Node:
      - DADEMOFE2
    body:
      encoding: UTF-8
      string: "{\r\n  \"url\": \"https://demo.docusign.net/Signing/startinsession.aspx?t=4a4e9ee9-b19b-43d2-8a28-26c9ff66ebf3\"\r\n}"
  recorded_at: Sun, 06 Sep 2015 10:37:45 GMT
recorded_with: VCR 2.9.3
