@font-face {
  font-family: 'aileronregular';
  src: url(asset_path('aileron-regular-webfont.eot'));
  src: url(asset_path('aileron-regular-webfont.woff')) format('woff'), url(asset_path('aileron-regular-webfont.ttf')) format('truetype');
}
