  <div class="container clearfix">
    <div class="row topmargin-sm">
      <div class="heading-block center">
        <h2>Meet Our Clients</h2>
        <br>
        <h4>We work hard to provide our clients a painless mortgage experience and help them save time and money.</h4>
      </div>
      <div class="col-md-4 col-sm-4 bottommargin">
        <div class="team">
          <div class="team-image">
            <img src="<%= asset_path 'client1.png' %>" alt="Antonio & Nikki">
          </div>
          <div class="team-desc team-desc-bg">
            <div class="team-title"><h4>Antonio & Nikki</h4><span>Alameda, CA</span></div>
            <div>“We saved a ton of money on fees and our refinancing rate was great. We would highly recommend MortgageClub to our friends.”</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bottommargin">
        <div class="team">
          <div class="team-image">
            <img src="<%= asset_path 'client2.png' %>" alt="Vinh & Theresa">
          </div>
          <div class="team-desc team-desc-bg">
            <div class="team-title"><h4>Vinh & Theresa</h4><span>Danville, CA</span></div>
            <div>“MortgageClub is a delight to work with. Within less than a month from the date of our application, we received a check for our loan.”</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bottommargin">
        <div class="team">
          <div class="team-image">
            <img src="<%= asset_path 'client3.jpg' %>" alt="Paul">
          </div>
          <div class="team-desc team-desc-bg">
            <div class="team-title"><h4>Paul</h4><span>San Mateo, CA</span></div>
            <div>“I chose MortgageClub because they had the lowest advertised rate and closing costs as I looked at several lenders.”</div>
          </div>
        </div>
      </div>
    </div>
  </div>
