<div class="section topmargin-sm footer-stick">
  <h4 class="uppercase center">What <span>Clients</span> say?</h4>

  <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
    <div class="flexslider">
      <div class="slider-wrap">
        <div class="slide">
          <div class="testi-image">
            <a href="#"><img src="<%= asset_path 'client1.png' %>" alt="Antonio & Nikki"></a>
          </div>
          <div class="testi-content">
            <p>We saved a ton of money on fees and our refinancing rate was great. We would highly recommend MortgageClub to our friends.</p>
            <div class="testi-meta">
              Antonio & Nikki
              <span>Alameda, CA</span>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="testi-image">
            <a href="#"><img src="<%= asset_path 'client2.png' %>" alt="Vinh & Theresa"></a>
          </div>
          <div class="testi-content">
            <p>MortgageClub is a delight to work with. Within less than a month from the date of our application, we received a check for our loan.</p>
            <div class="testi-meta">
              Vinh & Theresa
              <span>Danville, CA</span>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="testi-image">
            <a href="#"><img src="<%= asset_path 'client3.jpg' %>" alt="Paul"></a>
          </div>
          <div class="testi-content">
            <p>I chose MortgageClub because they had the lowest advertised rate and closing costs as I looked at several lenders.</p>
            <div class="testi-meta">
              Paul
              <span>San Mateo, CA</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
