
<!-- Footer
============================================= -->
<footer id="footer" class="dark">
  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        Equal Housing Lender <br>
        MortgageClub Corporation operates via NMLS ID #1456787.<br>
        Copyrights &copy; 2016 All Rights Reserved by MortgageClub.
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="#" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="#" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>
        </div>
        <div class="clear"></div>

        <i class="icon-envelope2"></i> hello@mortgageclub.co <span class="middot">&middot;</span> <i class="icon-headphones"></i> 123-456-7890</span>
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->
