<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag("white_logo_small.png", id: "footerLogo") %>
        <span class="equal-housing"> Equal Housing Lender
        </span>
        <p class="license">MortgageClub Corporation operates via NMLS ID #1456787.</p>
      </div>
      <div class="col-md-7 hidden-xs">
        <div class="footer-right">
          <div>
            <%= image_tag("fb.png") %>
            <%= image_tag("twitter.png") %>
          </div>
          <p>&copy; 2015 Copyright by MortgageClub</p>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="cd-top">
    <i class="fa fa-angle-double-up fa-3x" id="backtopBtn"></i>
  </a>
</footer>
