
<!-- Footer
============================================= -->
<footer id="footer" class="dark">
  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        <div >Equal Housing Lender</div>
        <div class="hidden-xs">MortgageClub is currently licensed in California and coming soon to Texas & Colorado.</div>
        <div >All rights reserved. NMLS #1456787</div>
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix" >
          <a href="https://www.facebook.com/socialmortgage" target="_blank" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="https://twitter.com/mortgage_club" target="_blank" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>
        </div>
        <div class="clear"></div>
        <div >156 2nd St, San Francisco, CA 94105</div>
        <i class="icon-envelope2"></i> hello@mortgageclub.co <span class="middot">&middot;</span> <i class="icon-headphones"></i> 1-855-933-7263</span>
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->
