<div class="container clearfix">

  <div class="row">

    <div class="heading-block center">
      <h2>LESS TIME, LESS PAPERWORK, LESS CONFUSION</h2>
      <span class="divcenter">
        We’re a team of technologists, bankers, and homeowners who know the frustrations of applying for mortgages through traditional lenders and brokers. That's why we built software to replace manual processes, streamlining your way to a better mortgage.
      </span>
    </div>

    <div id="home-top-info">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-bubble col-sm-8 col-sm-offset-2">
          <div class="row">
            <div id="top-info" class="col-md-12">
              Total savings of $30,017 over 30 years
            </div>
          </div>
          <div class="row">
            <div id="left-info" class="col-md-6 col-sm-6 col-xs-6">
              <h6>MortgageClub</h6>
              <p>400k 30-year fixed</p>
              <p>3.25% rate (3.269% APR)</p>
              <p>5 documents required</p>
              <p>close in 21 days</p>
            </div>
            <div id="right-info" class="col-md-6 col-sm-6 col-xs-6">
              <h6>Traditional Lender</h6>
              <p>$400k 30-year fixed</p>
              <p>3.625% rate (3.672% APR)</p>
              <p>11 documents required</p>
              <p>close in 45 days</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row homepic-row">
        <div class="col-md-4 hidden-sm hidden-xs no-pad-lr">
          <%= image_tag("home-top-pic-left.jpg") %>
        </div>
        <div class="col-md-4 no-pad-lr col-sm-8 col-sm-offset-2 col-md-offset-0 ">
          <%= image_tag("home-top-pic-centre.jpg") %>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs no-pad-lr">
          <%= image_tag("home-top-pic-right.jpg") %>
        </div>
      </div>
    </div>

  </div>

</div>
