<div class="container clearfix">

  <div class="row bottommargin-sm">

    <div class="heading-block center">
      <h2>HELLO, WE'RE MORTGAGE CLUB</h2>
      <span class="divcenter">MortgageClub leverages big data and advanced technology to replace your loan officer and pass on the savings to you.
</span>
    </div>

    <div id="home-top-info">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-bubble">
          <div class="row">
            <div id="top-info" class="col-md-12">
              Total savings of $26,075 over 9 years
            </div>
          </div>
          <div class="row">
            <div id="left-info" class="col-md-6 col-sm-6 col-xs-6">
              <h6>MortgageClub</h6>
              <p>500k 30-year fixed</p>
              <p>3.625% rate (3.625% APR)</p>
              <p>$0 origination fees</p>
              <p>$800 lender credit</p>
            </div>
            <div id="right-info" class="col-md-6 col-sm-6 col-xs-6">
              <h6>Wells Fargo</h6>
              <p>$500k 30-year fixed</p>
              <p>4.125% rate (4.221% APR)</p>
              <p>$900 origination fees</p>
              <p>$0 rebate</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row homepic-row">
        <div class="col-md-4 hidden-sm hidden-xs no-pad-lr">
          <%= image_tag("home-top-pic-left.jpg") %>
        </div>
        <div class="col-md-4 no-pad-lr">
          <%= image_tag("home-top-pic-centre.jpg") %>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs no-pad-lr">
          <%= image_tag("home-top-pic-right.jpg") %>
        </div>
      </div>
    </div>

  </div>

</div>
