<div class="container clearfix">

  <div class="row">

    <div class="heading-block center">
      <h2>OUR VALUE PROPOSITION</h2>
      <span class="divcenter">
        By automating the mortgage process, our operating cost is much lower and we can be profitable with less commission and offer you a lower rate. We even tell you upfront how much commission we make for each loan.
      </span>
    </div>

    <div id="home-top-info">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-bubble col-sm-8 col-sm-offset-2">
          <div class="row">
            <div id="top-info" class="col-md-12">
              Total savings of $30,017 over 30 years
            </div>
          </div>
          <div class="row">
            <div id="left-info" class="col-md-6 col-sm-6 col-xs-6">
              <h6>MortgageClub</h6>
              <p>400k 30-year fixed</p>
              <p>3.25% rate (3.269% APR)</p>
              <p>0% discount points</p>
              <p>$226,697 total interest paid</p>
            </div>
            <div id="right-info" class="col-md-6 col-sm-6 col-xs-6">
              <h6>Wells Fargo</h6>
              <p>$400k 30-year fixed</p>
              <p>3.625% rate (3.672% APR)</p>
              <p>0% discount points</p>
              <p>$256,714 total interest paid</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row homepic-row">
        <div class="col-md-4 hidden-sm hidden-xs no-pad-lr">
          <%= image_tag("home-top-pic-left.jpg") %>
        </div>
        <div class="col-md-4 no-pad-lr col-sm-8 col-sm-offset-2 ">
          <%= image_tag("home-top-pic-centre.jpg") %>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs no-pad-lr">
          <%= image_tag("home-top-pic-right.jpg") %>
        </div>
      </div>
    </div>

  </div>

</div>
