<div class="container clearfix">
  <div class="heading-block center">
    <h2>How it works</h2>
    <br>
  </div>
  <div class="row">
    <div class="col_one_third bottommargin-sm center">
      <img data-animate="fadeInLeft" src="<%= asset_path 'HowItWorks_Step_1.png' %>" alt="Step 1">
    </div>
    <div class="col_two_third bottommargin-sm col_last">
      <div class="heading-block topmargin-sm">
        <h3>Apply</h3>
      </div>
      <p>Spend 10 mins to give us your info, upload your documents, and we handle the rest. Our proprietary technology can extract data from your documents and public records to minimize manual data entry.</p>
    </div>
  </div>

  <div class="row">
    <div class="col_two_third bottommargin-sm">
      <div class="heading-block topmargin-sm">
        <h3>Shop</h3>
      </div>
      <p>Based on your info, we’ll show you the loan programs that you qualify for from over 50 lenders on our platform. Our algorithm can recommend the best loan for you and help you lock in the rate instantly. Lowest rate guaranteed, the rate you see is the rate you get.</p>
    </div>
    <div class="col_one_third bottommargin-sm col_last center">
      <img data-animate="fadeInRight" src="<%= asset_path 'HowItWorks_Step_2.png' %>" alt="Step 2">
    </div>
  </div>

  <div class="row">
    <div class="col_one_third bottommargin-sm center">
      <img data-animate="fadeInLeft" src="<%= asset_path 'HowItWorks_Step_3.png' %>" alt="Step 3">
    </div>
    <div class="col_two_third bottommargin-sm col_last">
      <div class="heading-block topmargin-sm">
        <h3>Approve</h3>
      </div>
      <p>We work with our wholesale investor to underwrite your loan application. This process includes an appraisal of your home and verification of your information. You can see what’s going on behind the scenes from your application dashboard in real-time.</p>
    </div>
  </div>

  <div class="row">
    <div class="col_two_third bottommargin-sm ">
      <div class="heading-block topmargin-sm">
        <h3>Close</h3>
      </div>
      <p>Mortgage Club replaces manual processes and complicated paperwork with powerful software that cuts costs and reduces processing times. We can close your loan as fast as 15 days. We’ll work closely with escrow, title, and other parties to ensure you have a smooth closing.</p>
    </div>
    <div class="col_one_third bottommargin-sm center col_last">
      <img data-animate="fadeInRight" src="<%= asset_path 'how-footer-pic.png' %>" alt="Step 4">
    </div>
  </div>
</div>
