<div class="container clearfix">
  <div class="heading-block center">
    <h2>How it works</h2>
    <br>
  </div>
  <div class="row">
    <div class="col_one_third bottommargin-sm center">
      <img data-animate="fadeInLeft" src="<%= asset_path 'HowItWorks_Step_1.png' %>" alt="Step 1">
    </div>
    <div class="col_two_third bottommargin-sm col_last">
      <div class="heading-block topmargin-sm">
        <h3>Apply</h3>
      </div>
      <p>
        Spend 10 mins to give us your info, upload documents, and we handle the rest. Our software can extract data from other sources to minimize manual data entry.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col_two_third bottommargin-sm">
      <div class="heading-block topmargin-sm">
        <h3>Shop</h3>
      </div>
      <p>
        Based on your info, we’ll show you the loan programs that you qualify for from several lenders on our platform. Our True Cost of Mortgage algorithm can recommend the best mortgage for your scenario. You’ll then Docusign the disclosure forms.
      </p>
    </div>
    <div class="col_one_third bottommargin-sm col_last center">
      <img data-animate="fadeInRight" src="<%= asset_path 'HowItWorks_Step_2.png' %>" alt="Step 2">
    </div>
  </div>

  <div class="row">
    <div class="col_one_third bottommargin-sm center">
      <img data-animate="fadeInLeft" src="<%= asset_path 'HowItWorks_Step_3.png' %>" alt="Step 3">
    </div>
    <div class="col_two_third bottommargin-sm col_last">
      <div class="heading-block topmargin-sm">
        <h3>Underwrite</h3>
      </div>
      <p>
        We’ll review and submit your loan package to underwriting desk at the wholesale lender within hours. This underwriting step includes in-depth analysis of your credit profile and property. We’ll work with you to fulfill the underwriter’s conditions. You can see what’s going on behind the scenes from your application dashboard in real-time.
      </p>
    </div>
  </div>

  <div class="row bottommargin">
    <div class="col_two_third bottommargin-sm ">
      <div class="heading-block topmargin-sm">
        <h3>Close</h3>
      </div>
      <p>
        MortgageClub replaces manual processes and complicated paperwork with powerful software that cuts costs and reduces processing times. We can close your loan as fast as 21 days. We’ll work closely with wholesale lender, escrow, title, and other parties to ensure you have a smooth closing.
      </p>
    </div>
    <div class="col_one_third bottommargin-sm center col_last">
      <img data-animate="fadeInRight" src="<%= asset_path 'how-footer-pic.png' %>" alt="Step 4">
    </div>
  </div>
</div>
