<div class="section">

  <div class=" container clearfix">

    <div class="row">

      <div class="heading-block center">
        <h2>THE MORTGAGECLUB</h2>
        <!-- <span class="divcenter">
          We’re computer and finance geeks who got very frustrated when we applied for mortgages with traditional lenders/brokers so we founded MortgageClub to help you obtain a mortgage as cheap and fast as possible.
        </span> -->
      </div>

      <div class="col-md-4 col-sm-6 bottommargin why-us-left">

        <div class="feature-box fbox-right topmargin" data-animate="fadeIn">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">trending_down</i></a>
          </div>
          <h3>Lowest Rates</h3>
          <p>
            Guaranteed lowest rates for conforming loans or we’ll send you a $100 gift card.
          </p>
        </div>

        <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">speaker_notes</i></a>
          </div>
          <h3>Less Paperwork</h3>
          <p>
            No pay stubs, W2s, or tax returns required from most borrowers.
          </p>
        </div>

       <!--  <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">lock</i></a>
          </div>
          <h3>100% Secured</h3>
          <p>
            Your security is important to us. We employ bank-level security (256-bit encryption) to protect your private information.
          </p>
        </div> -->
      </div>

      <div class="col-md-4 hidden-sm bottommargin center">
        <img src="<%= asset_path "landing/iphone.jpg" %>" style="max-width:65%" alt="iphone 2">
      </div>

      <div class="col-md-4 col-sm-6 bottommargin why-us-right">
        <div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">face</i></a>
          </div>
          <h3>Fast Closing</h3>
          <p>
            Close your loan in as few as 21 days with a smarter system.
          </p>
        </div>
        <div class="feature-box topmargin" data-animate="fadeIn">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">done_all</i></a>
          </div>
          <h3>Peace Of Mind</h3>
          <p>
            We protect your information with 256-bit encryption.
          </p>
        </div>
        <!-- <div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">favorite</i></a>
          </div>
          <h3>Long Term Relationship</h3>
          <p>
            Even after closing, we’ll notify you when your property tax and insurance are due or you can save money by refinancing.
          </p>
        </div> -->

      </div>

    </div>

  </div>
</div>
