<div class="section">

  <div class=" container clearfix">

    <div class="row">

      <div class="heading-block center">
        <h2>WHY US?</h2>
        <span class="divcenter">
          We’re computer and finance geeks who got very frustrated when we applied for mortgages with traditional lenders/brokers so we founded MortgageClub to help you obtain a mortgage as cheap and fast as possible.
        </span>
      </div>

      <div class="col-md-4 col-sm-6 bottommargin">

        <div class="feature-box fbox-right topmargin" data-animate="fadeIn">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">trending_down</i></a>
          </div>
          <h3>Lowest Rate</h3>
          <p>
            We shop several lenders to get you the lowest rate. A never-heard-of lender would typically offer a lower rate than a major bank.
          </p>
        </div>

        <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">speaker_notes</i></a>
          </div>
          <h3>Transparent</h3>
          <p>
            We disclose all the fees/commission and provide a borrower dashboard so you can see what’s going on behind the scenes.
          </p>
        </div>

        <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">lock</i></a>
          </div>
          <h3>100% Secured</h3>
          <p>
            Your security is important to us. We employ bank-level security (256-bit encryption) to protect your private information.
          </p>
        </div>
      </div>

      <div class="col-md-4 hidden-sm bottommargin center">
        <img src="<%= asset_path "landing/iphone.png" %>" style="max-width:65%" alt="iphone 2">
      </div>

      <div class="col-md-4 col-sm-6 bottommargin">
        <div class="feature-box topmargin" data-animate="fadeIn">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">done_all</i></a>
          </div>
          <h3>Fast Closing</h3>
          <p>
            By leveraging our technology, you can complete the loan application online in 10 mins and close your loan in 21 days.
          </p>
        </div>

        <div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">face</i></a>
          </div>
          <h3>Personal Advice</h3>
          <p>
            Your assigned (human) mortgage advisor is available to answer any questions by text, email, or phone call (including on weekends).
          </p>
        </div>

        <div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">favorite</i></a>
          </div>
          <h3>Long Term Relationship</h3>
          <p>
            Even after closing, we’ll notify you when your property tax and insurance are due or you can save money by refinancing.
          </p>
        </div>

      </div>

    </div>

  </div>
</div>
