<div class="homepage">
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span>Mortgage</span><span style="color: #337ab7">Club</span></a>
      </div>
      <div class="header-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav navbar-right">
          <li>
            <a href="#" class="navbar-text">How It Works</a>
          </li>
          <li>
            <a href="/login" class='btn btn-info navbar-btn'>Login</a>
          </li>
          <li>
            <a href="/signup" class='btn btn-primary navbar-btn'>Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container middle">
    <header class="jumbotron">
        <h3>Always save time and money on your mortgage</h3>
        <div class="row ptl">
          <div class="col-xs-6 description">
            <p>
              Mortgage Club is the first real-time mortgage marketplace where you can easily apply, shop, and lock in the best loan in 10 mins. Lowest rate guaranteed from over 50 partner lenders on our platform.
            </p>
          </div>
          <div class="col-xs-6 best-rates">
            <h3>Today's Best Rates</h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Program</th>
                  <th>Interest Rate</th>
                  <th>Points</th>
                  <th>APR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>30 Year Fixed</td>
                  <td>3.875%</td>
                  <td>0.000%</td>
                  <td>3.925%</td>
                </tr>
                <tr>
                  <td>15 Year Fixed</td>
                  <td>3.250%</td>
                  <td>0.000%</td>
                  <td>3.356%</td>
                </tr>
                <tr>
                  <td>7/1 LIBOR ARM</td>
                  <td>3.125%</td>
                  <td>0.000%</td>
                  <td>3.115%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row ptl apply-section">
          <p class="centered"><a href="/login" class="btn btn-success btn-lg">APPLY NOW</a></p>
        </div>
    </header>
    <div class="row bottom">
      <div class="neighborhood"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  <% if !@refcode.nil? %>
    document.cookie="_refcode=<%= @refcode %>";
  <% end %>
</script>