<p>Hi </p>

<br/>
<p>We've just received new signup information from our Mortgage bot </p>
  <p>Detail as following:</p>

  <%= @sign_up_info.each do |sentence| %>
    <%= sentence %>
  <% end %>
</p>


<br/>
Thanks and Best Regards,
<br/>
Mortgage Club