<p>Hi </p>

<br/>
<p>We've just received rate information from our Mortgage bot <br>
<p>Detail as following:</p>

  <pre>
    <%= @rate_information %>
  </pre>
</p>


<br/>
Thanks and Best Regards,
<br/>
Mortgage Club