<div id="slack-bot-privacy" class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1 style="padding-top: 20px">Privacy Policy</h1>

        <p>MortgageClub is committed to respecting the privacy of your data. This policy sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us.</p>

        <p>We don’t sell your data to anyone. However, we do need to store some data in order to enable certain functionality.</p>

        <h4 style="padding-bottom: 10px">What we collect</h4>

        <p>When using our MortgageClub, we may collect data about you, as follows:</p>
        <ul>
          <li>
          When you get quotes, we ask some questions about your mortgage, such as your loan purpose, ZIP code, purchase price, down payment, property usage and property type.
          </li>
          <li>
          When you create a profile, we ask for your email address and your name, so we may send you news and alerts.
          </li>
        </ul>
        <h4 style="padding-bottom: 10px">Security</h4>

        <p>MortgageClub does not store any password. Access to your Slack account is only done through Slack API.</p>

        <p>MortgageClub is run on the Heroku Platform (<a href="https://www.heroku.com/policy/privacy">https://www.heroku.com/policy/privacy</a>).</p>

        <h4 style="padding-bottom: 10px">Statistics</h4>

        <p>We collect Google Analytics data for visits on this website (<a href="http://www.google.com/privacy">http://www.google.com/privacy</a>).

        <h4 style="padding-bottom: 10px">Advertising</h4>

        <p>MortgageClub does not display any advertisements, and does not share any of the (already little data) it has with advertisers.</p>

        <h4 style="padding-bottom: 10px">Changes and questions</h4>

        <p>MortgageClub may update this privacy policy on rare occurances. If any updates contain significant changes, we will notify the team via email.</p>

        <p>If you have any questions, comments, or concerns about this privacy policy, please reach out to us at <b>hello@mortgageclub.co</b>.</p>
    </div>
  </div>
</div>