<p>A new rate alert.</p>
<p><%= @rate_alert_user[:first_name] %> <%= @rate_alert_user[:last_name] %> (<%=@rate_alert_user[:email] %>)</p>
<%= @graph.year30 %>
<p>Thank you, <br/>
The MortgageClub Team
</p>
