<p>Hi <%= @loan_member_first_name %>,</p>
<p>Something went wrong and we couldn’t update rate for <%= @borrower_full_name %> - <%= @property_address %>. Please look into it and update rate. Email borrower to let them know when you’re done.</p>

<p>Thank you,<br/>
The MortgageClub Team</p>
