//// ========= Footer ====/////
footer {
  width: 100%;
  background-color: $mc-color;
  position: absolute !important;
  bottom: 0;
  z-index: 1000;
  padding: 20px 35px 5px;
  @include respond-to(mobile){
    padding: 10px 10px 0;
  };
  .cd-top {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    &:hover {
      @include animate-img-btn(backtop-anim, 2s);
      cursor: pointer;
    }
  }
  .footer-right {
    color: white;
    float: right;
    @include respond-to(mobile-tablet){
      float: left;
    }
    img {
      float: left;
      width: 30px;
      height: auto;
      margin-left: 12px;
      margin-right: 12px;
      margin-bottom: 15px;
      transition: transform 0.5s ease;
      transform: scale(1,1);
      -webkit-transform: (1,1);
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        transform: scale(1.2,1.2);
        -webkit-transform: (1.2,1.2);
        cursor: pointer;
      }
    }
    p {
      clear: both;
      font-family: $mc-light-font;
      font-size: 1.125em;
      letter-spacing: 0.03em;
    }

    // div {
    //   width: 100%;
    //   margin-left: auto;
    //   margin-right: auto;
    // }
  }
  .license {
    //position: absolute;
    padding: 17px 20px 0 0;
    color: white;
    font-family: $mc-light-font;
    font-size: 1.125em;
    letter-spacing: 0.03em;
    //width: 50%;
  }
  #footerLogo {
    width: 200px;
    padding-bottom: 5px;
  }
  .equal-housing {
    margin-left: -120px;
    color: white;
    font-family: $mc-light-font;
    font-size: 1.125em;
    letter-spacing: 0.03em;
  }
}
// =========== End footer ====////
