.header {

  .mortgage-nav {
    #links-home {
          padding-top: 3px;
    }
    background-color: white;
    padding: 5px 0; //top bottom 5px
    margin-bottom: 0;
    width: 100vw;
    // not test
    .dropdown {
      .dropdownArrow {
        right: 0;
        top: 3px;
        border-left: $mc-color 1px solid;
        margin-top: -2px;
      }
      .dropdown-toggle {
        border-color: $mc-color;
      }
    }
    .dropdown-menu {
      min-width: 100%;
      margin-top: -3px;
      box-shadow: none;
      padding: 0;
      border-radius: 0;
      border-color: $mc-color;
      background-color: white;
      color: $mc-color;
    }
    .dropdown-menu>li>a {
      padding: 10px 20px;
      color: $mc-color;
    }
    .dropdown-menu>li>a:hover {
      background: $mc-color;
      color: white;
    }
    // .dropdown-menu>li>a:hover #logoutImg {
    //   filter:brightness(100%);
    //   -webkit-filter: brightness(100%);
    // }
  }
  #newLoanBtn {
    background: white;
    color: $mc-color;
    border: none;
    padding: 9px 12px !important;
    margin: 0 5px 5px;
    p {
      display: table-cell;
      vertical-align: middle;
    }
    /*span {
      margin-right:7px;
    }*/
  }
  #newLoanBtn:hover {
    background: $mc-color;
    color: white;
  }
  .nav-pills>li+li {
    margin-right: 20px;
    @include respond-to(mobile){
      margin-right: 0;
      margin-top: 5px;
    };
  }
  .nav-pills > li {
    float: right !important;
    padding-top: 0.125em;
    @include respond-to(mobile){
      width: 100%;
    };
  }
  #loanBtn {
    background: white;
    color: $mc-color;
    border: none;
    padding: 9px 12px !important;
    margin: 0 5px 5px;
  }
  #loanBtn:hover {
    background: $mc-color;
    color: white;
  }
  #loanBtn:hover #loanBtnImg {
    filter:brightness(10000%);
    -webkit-filter: brightness(10000%);
  }
  #loanBtn #loanBtnImg,
  #accountBtn #accountBtnImg {
    margin-right: 7px;
    margin-top: -9px;
  }
  #accountBtn {
    height: 38px;
    width: auto;
    background: white;
    color: $mc-color;
    @include border-radius-sides(6px,0,0,6px);
    text-align: left;
    padding: 2px 2px 2px 12px;
    border-bottom: solid 2px $mc-color;
    img {
      margin-left: 10px;
    }
  }
  #accountBtn:active {
    box-shadow: none;

  }
  .active-loans #loanBtnImg:hover {
    filter:brightness(10000%);
    -webkit-filter: brightness(10000%);
  }
  .nav>li>a:hover {
    background: white;
    color: $mc-color;
  }
  .content {
    position: relative;
    width: 100%;
    width: 100%;
  }
  #logoutImg {
    height: 18px;
    width: auto;
    margin-right: 10px;
    margin-top: -4px;
    filter:brightness(10000%);
    -webkit-filter: brightness(10000%);
  }
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
// ========== end header =========//
