@media (min-width: 992px) and (max-width:1200px) {
  .how-itemimg {
    width: 70%;
  }
  .how-itemimg:last-child {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .client p {
    padding: 15px 25px 40px !important;
  }
}
@media (min-width:416px) and (max-width: 768px) {
  .how-item.bigNum {
    margin-left: 50px;
  }
  .how-item.whyText {
    text-align: left;
  }
  .how-item {
    text-align: center;
  }
  .how-itemimg {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width:384px) and (max-width: 414px) {
  .how-itemimg {
    width: 80%;
    height: auto;
    margin-left: 40px;
  }
  .client p {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .how-itemimg {
    width: 80%;
    height: auto;
    margin-left: 40px;
  }
  .how-item {
    margin-top: 40px;
  }
  .client p {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .bigger {
    font-size: 1em;
  }
  .smaller {
    width: 85%;
    font-size: 0.7em;
  }
  #home-right {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #home-right-table {
    width: 90%;
    margin-top: 13px;
  }
  .home-right-small {
    font-size: 0.8em;
    padding: 2px;
  }
  .note {
    width: 80%;
  }
  .how-itemimg {
    width: 80%;
    height: auto;
    margin-left: 40px;
  }
  .how-itemimg:last-child {
    margin-left: 20px;
  }
  #home-right-table2 {
    overflow-x: hidden;
  }
  .how-item {
    margin-top: 30px;
  }
  .client p {
    width: 100%;
  }
}
