<div class="container errors-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h6 class="error-header">

      SORRY!<br>
      We can't seem to find the page you're looking for.

      </h6>
    </div>
  </div>
  <div class="row text-center">
    <%= link_to @back_to_home_path do %>
      <button class="btn btn-primary main-btn">
        Back to home
      </button>
    <% end %>
  </div>
</div>