<div class="container errors-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h6 class="error-header">

      SORRY!<br>
      Something went wrong, but we're already working on fixing it.

      </h6>
    </div>
  </div>
  <div class="row text-center">
    <%= link_to @back_to_home_path do %>
      <button class="btn btn-primary btn-mc">
        Back to home
      </button>
    <% end %>
  </div>
</div>