@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
@mixin border-radius-sides($topleft, $topright, $bottomright, $bottomleft) {
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
  border-radius: $topleft $topright $bottomright $bottomleft;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
// Single side border-radius
@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}
@mixin animate-img-btn($animate, $time) {
  animation: $animate $time infinite;
  -webkit-animation: $animate $time infinite;
}
// Mixin for responsive
$mobile-size: 414px;
$tablet-size: 768px;
$medium-desktop: 992px;
$large-desktop: 1200px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $tablet-size - 1) {
      @content;
    }
  }
  @else if $media == smobile {
    @media only screen and (max-width: $mobile-size) {
      @content;
    }
  }
  @else if $media == mobile-tablet {
    @media only screen and (max-width: $medium-desktop - 1) {
      @content;
    }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $tablet-size) and (max-width: $medium-desktop - 1) {
      @content;
    }
  }
  @else if $media == medium-desktop {
    @media only screen and (min-width: $medium-desktop) and (max-width: $large-desktop - 1) {
      @content;
    }
  }
  @else if $media == large-desktop {
    @media only screen and (min-width: $large-desktop) {
      @content;
    }
  }
}
