<p>A new user has signed up for MortgageClub.</p>
<p><%= @sign_up_info[:first_name] %> <%= @sign_up_info[:last_name] %> (<%=@sign_up_info[:email] %>)</p>

<p>Thank you, <br/>
The MortgageClub Team
</p>