$sideMenuWidth: 250px;
$topMenuHeight: 44px;
$helpSectionWidth: 300px;

.topMenu {
  height: $topMenuHeight;
  a:hover {
    color: #999;
  }
}

.sideMenu {
  height: 100%;
  width: $sideMenuWidth;
  margin-top: $topMenuHeight;
}

.formContent {
  margin-left: $sideMenuWidth;
  margin-right: $helpSectionWidth;
  padding-top: $topMenuHeight;
}

.iframeContent {
  margin-left: $sideMenuWidth;
  padding-top: $topMenuHeight;
}

.content {
  padding-top: $topMenuHeight;
}

.helpSection {
  height: 100%;
  width: $helpSectionWidth;
  margin-top: $topMenuHeight;
}

.field {
  margin-bottom: 8px;
}

.auth-form {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  > h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  #error_explanation {
    h2 {
      color: #ee552a;
    }
    ul > li {
      color: #e6001c;
    }
  }
  form {
    margin-bottom: 10px;
  }
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-alert {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 9999999;
  .box-alert {
    position: relative;
    width: 100%;
    padding: 15px 30px 15px 30px;
    margin-top: 10px;
  }
}
