// Standard syntax */
@keyframes loginAnim {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
// Chrome, Safari, Opera */
@-webkit-keyframes loginAnim {
  0% {
    -webkit-transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-3px);
  }
  75% {
    -webkit-transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
