//=========== Button ==============//
#signup-btn {
  width: 140px;
}

#login-btn:hover {
  background: #fff;
  color: $mc-color;
  border-color: $mc-color;
}

#login-btn {
  background: #fff;
  color: #a1a1a1;
  border-color: #a1a1a1;
  img {
    margin-right: 21px;
    margin-top: -4px;
  }
}

#login-btn:hover img {
  @include animate-img-btn(login-anim, 2s);
  filter:grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.btn-mc {
  background: $mc-color !important;
  border-color: $mc-color !important;
  color: #fff !important;
}

.btn-mc:hover {
  background: #fff !important;
  color: $mc-color !important;
  border-color: $mc-color !important;
}

.btn-mc:focus {
  background: #fff !important;
  color: $mc-color !important;
  border-color: $mc-color !important;
}

.btn-mc-green {
  color: #fff;
  background: $mc-green-color;
  border: $mc-green-color 1px solid !important;
  padding: 11px 10px !important;
  font-size: 12px !important;
  &:hover {
    color: $mc-green-color !important;
    background: #fff;
  }
}

.btn-filter {
  color: black;
  background: #fff;
  border: #ccc 1px solid !important;
  padding: 11px 10px !important;
  font-size: 12px !important;
  margin-left: 5px;
}
