.dropzone {
  text-align: center;
  height: 50px;
  border-style: dotted;
  padding: 0 0 0 0;
  margin: 0 0 7px 15px;
  // &.active {
  //   background-color: #81F79F;
  // }
}

.action-icons {
  float: right;
  padding: 24px 15px 0 15px;
  margin: 0 0 0 0;
  a {
    padding-right: 8px;
  }
}
