// This variable $rails is used by bootstrap-custom so that fonts are loaded slightly differently
// with Rails vs. the Webpack Dev Server
$rails: true;

// Those scss files are located under client/assets/stylesheets,
// which has been added to the Rails asset pipeline search path.
// See config/initializers/assets.rb.
@import "bootstrap-custom";
@import "bootstrap-sprockets";

@import "bootstrap_datepicker";
@import "d3.slider";
@import "dropzone-custom";
@import "homepage";
@import "lenders";

@font-face {
  font-family: 'aileronregular';
  src: url(asset_path("aileron-regular-webfont.eot"));
  src: url(asset_path("aileron-regular-webfont.woff")) format('woff'),
       url(asset_path("aileron-regular-webfont.ttf")) format('truetype');
}

@keyframes loginAnim {
  0% {transform:translateX(0);}
  25% {transform:translateX(2px);}
  50% {transform:translateX(-3px);}
  75% {transform:translateX(2px);}
  100% {transform:translateX(0);}
}

@-webkit-keyframes loginAnim {
  0% {-webkit-transform:translateX(0);}
  25% {-webkit-transform:translateX(2px);}
  50% {-webkit-transform:translateX(-3px);}
  75% {-webkit-transform:translateX(2px);}
  100% {-webkit-transform:translateX(0);}
}

body {
  font-family:'aileronregular';
  overflow-x:hidden;
  overflow-x:hidden;
}

.mortgage-rates {
  .helpmechoose {
    left: 5%;
    right: 5%;
    h3 {
      font-size: 19px;
    }
    .calculator {
      rect {
        fill: rgb(224, 224, 224);
      }
      rect:hover {
        fill: #bad80a;
      }
      .highlight {
        fill: #bad80a;
      }
      .bar_chart {
        margin-bottom: -5px;
      }
      .calc-form {
        position: relative;
        margin-top: 20px;
        .range {
          float: right;
          .slider {
            width: 400px;
            background-color: #e6e6e6;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
            border-radius: 10px;
            border: none;
            .d3-slider-handle {
              top: -.4em;
              width: 1.5em;
              height: 1.5em;
              border-radius: 50%;
            }
          }
        }
      }
      .value {
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: solid 1px #ddd;
        font: inherit;
        font-size: 18px;
        font-weight: 300;
        line-height: 14px;
        padding: 4px 0;
      }
      .value:focus {
        outline-width: 0;
      }
    }
    .best-rate {
      border: 1px solid #d2d2d2;
      border-radius: 3px;
      padding: 25px;
      .secondary-cost {
        line-height: 1.437em;
        font-weight: 300;
        color: #999;
        font-size: 16px;
      }
      .bankname {
        text-align: center;
        img {
          width: 100%;
        }
      }
      .monthly-payment {
        text-align: center;
        background: #bad80a;
        padding: 15px 0 10px 0;
        line-height: 1.437em;
        margin-bottom: 20px;

        .value {
          font-size: 34px;
        }
        .primary-cost-unit {
          display: inline-block;
          text-align: left;
          line-height: 1em;
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }
}

hr {
  color:#e1e1e1;
  height:1px;
  background-color:#e1e1e1;
}

.shadowBottom {
  -webkit-box-shadow: 0px 3px 24px -2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 24px -2px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 24px -2px rgba(0,0,0,0.1);
  position:relative;
}

.header {
  padding-top:14px;
  border-bottom:none;
  height:90px;
  z-index:1000;

  .mortgageNav {
    border:none;
    margin-top:7px;
    background-color:white;
    z-index:9999;

    .dropdown {
      .dropdownArrow {
        position:absolute; right:0; top:3px; border-left:#15c0f1 1px solid;
      }

      .dropdown-toggle:hover .dropdownArrow {
        border-color:white;
        filter:brightness(10000%);
        -webkit-filter:brightness(10000%)
      }
    }

    .dropdown-menu {
      min-width:100%;
      margin-top:-3px;
      box-shadow:none;
      padding:0;
      border-radius:0;
      border-color:#15c0f1;
      background:#15c0f1;
    }

    .dropdown-menu>li>a {padding:10px 20px; color:white;}

    .dropdown-menu>li>a:hover {background: white; color:#15c0f1;}

    .dropdown-menu>li>a:hover #logoutImg{filter:brightness(100%); -webkit-filter:brightness(100%);}
  }

  .navbar-collapse {
    #newLoanBtn {
      border-radius:0;
      height:90px;
      margin-top:-29px;
      display:table;

      p {
        display:table-cell;
        vertical-align:middle;
      }
      span {
        margin-right:7px;
      }
    }
    #newLoanBtn:hover {
      border:none;
    }
  }

  .nav-pills>li+li {
    margin-left:32px;
  }

  #loanBtn {
    background:white;
    color:#15c0f1;
    border:none;
  }

  #loanBtn:hover {background:#15c0f1; color:white;}

  #loanBtn:hover #loanBtnImg {
    filter:brightness(10000%); -webkit-filter: brightness(10000%);
  }

  #loanBtn #loanBtnImg, #accountBtn #accountBtnImg {margin-right:7px; margin-top:-9px;}

  #accountBtn {
    height:38px;
    width:140px;
    background:white;
    color:#15c0f1;
    border-radius:6px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    text-align:left;

    img {margin-left:10px;}

    .dropdownArrow {top:5px;}
  }

  #accountBtn:hover {background:#15c0f1; color:white;}

  #accountBtn:active {box-shadow:none; border-color:#15c0f1}

  #accountBtn:focus {border-color:#15c0f1}

  #accountBtnImg {
    margin-right: 7px;
    margin-top: -9px;
  }

  .theBtn {background:#15c0f1; border-color:#15c0f1; color:white; padding: 6px 12px;}

  .theBtn:hover {background:white; color:#15c0f1;  border-color:#15c0f1;}

  .nav>li>a:hover { background:white;}

  .content {  position:relative;  width:100%; width:100%;}

  #loginImg {
    height:18px;
    width:auto;
    margin-right:21px;
    margin-top:-4px;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
  }

  #logoutImg {
    height:18px;
    width:auto;
    margin-right:10px;
    margin-top:-4px;
    filter:brightness(10000%); -webkit-filter:brightness(10000%)
  }
}

