// This variable $rails is used by bootstrap-custom so that fonts are loaded slightly differently
// with Rails vs. the Webpack Dev Server
$rails: true;
// Those scss files are located under client/assets/stylesheets,
// which has been added to the Rails asset pipeline search path.
// See config/initializers/assets.rb.
@import 'bootstrap-sprockets';
@import 'bootstrap_datepicker';
// abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
//base
@import 'base/fonts';
// component
@import 'components/button';
@import 'components/util';
@import 'components/devise';
@import 'components/bootstrap-custom';
@import 'components/animation';
@import 'components/dropzone-custom';
//layout
@import 'layout/footer';
@import 'layout/header';
@import 'layout/form';
@import 'layout/error-pages';
@import 'layout/mediaquery';
//pages
@import 'pages/helpmechoose';
@import 'pages/homepage';
@import 'pages/dev-infographics';
@import 'pages/new-loan';
@import 'pages/lenders';
@import 'pages/underwritting'; // 0 to 100% after complete loan
@import 'pages/docusign';
@import 'pages/initial-quotes';
@import 'pages/potential-rate-drop-user';
@import 'pages/loan-programs';
@import 'pages/potential-users';


@import 'd3.slider';


@import 'borrowers';




// Application homepage
body {
  font-family: 'aileronregular';
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 100px; //footer padding
  position: relative;
}
// .nav-borrower {
//   height: calc(100vh - 100px);
// }

// .active-component {
//   opacity: 1;
// }
.content {
  position: relative;
  //margin-top: 30px;
  width: 100%;
}

// .modal-docusign {
//   margin-top: 100px;
// }
html.loading {
  background: #FFFFFF url(asset_path('loading.gif')) no-repeat 50% 40%;
  -webkit-transition: background-color 0;
  transition: background-color 0;
  body {
    opacity: 0.5;
    -webkit-transition: opacity 0.5;
    transition: opacity 0.5;
  }
}
