// This variable $rails is used by bootstrap-custom so that fonts are loaded slightly differently
// with Rails vs. the Webpack Dev Server
$rails: true;

// Those scss files are located under client/assets/stylesheets,
// which has been added to the Rails asset pipeline search path.
// See config/initializers/assets.rb.
@import "bootstrap-custom";
@import "bootstrap-sprockets";

@import "bootstrap_datepicker";
@import "d3.slider";
@import "dropzone-custom";
@import "homepage";

@font-face {
  font-family: 'aileronregular';
  src: url(asset_path("aileron-regular-webfont.eot"));
  src: url(asset_path("aileron-regular-webfont.woff")) format('woff'),
       url(asset_path("aileron-regular-webfont.ttf")) format('truetype');
}

body {
  font-family:'aileronregular';
  overflow-x:hidden;
  overflow-x:hidden;
}

.mortgage-rates {
  .charts {
    rect {
      fill: rgb(224, 224, 224);
    }
    rect:hover {
      fill: #bad80a;
    }
    .highlight {
      fill: #bad80a;
    }
    .bar_chart {
      margin-bottom: -5px;
    }
    .slider {
      width: 765px;
      .d3-slider-handle {
        margin-left: -0.7em;
      }
    }
    .value {
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: solid 1px #ddd;
      font: inherit;
      font-size: 20px;
      font-weight: 300;
      line-height: 14px;
      padding: 4px 0;
    }
    .value:focus {
      outline-width: 0;
    }
    .selected_year, .selected_avg_rate, .selected_tax_rate {
      padding-top: 74px;
    }
  }
}

hr {
  color:#e1e1e1;
  height:1px;
  background-color:#e1e1e1;
}
