// This variable $rails is used by bootstrap-custom so that fonts are loaded slightly differently
// with Rails vs. the Webpack Dev Server
$rails: true;
// Those scss files are located under client/assets/stylesheets,
// which has been added to the Rails asset pipeline search path.
// See config/initializers/assets.rb.
@import 'bootstrap-sprockets';
@import 'bootstrap_datepicker';
// abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
//base
@import 'base/fonts';
// component
@import 'components/button';
@import 'components/util';
@import 'components/devise';
@import 'components/bootstrap-custom';
@import 'components/animation';
@import 'components/dropzone-custom';
@import 'components/loading';
//layout
@import 'layout/footer';
@import 'layout/header';
@import 'layout/form';
@import 'layout/error-pages';
//pages
@import 'pages/helpmechoose';
@import 'pages/homepage';
@import 'pages/dashboard';
@import 'pages/smobile_homepage';

@import 'pages/dev-infographics';
@import 'pages/new-loan';
@import 'pages/underwritting'; // 0 to 100% after complete loan
@import 'pages/docusign';
@import 'pages/initial-quotes';
@import 'pages/potential-rate-drop-user';
@import 'pages/loan-programs';
@import 'pages/potential-users';

@import 'd3.slider';


@import 'borrowers';

// Application homepage
body {
  font-family: 'aileronregular';
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 100px; //footer padding
  @include respond-to(mobile){
    padding-bottom: 80px;
  };
  @include respond-to(smobile){
    padding-bottom: 110px;
  };
  position: relative;

}
.img-responsive {
  width: 100%;
}
.img-link {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-top: 56.25%;
}
.img-link img{
  display: block;
  max-width: 100%;
  width: 100%;
  //max-height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}
// .nav-borrower {
//   height: calc(100vh - 100px);
// }

// .active-component {
//   opacity: 1;
// }
.content {
  position: relative;
  //margin-top: 30px;
  width: 100%;
}

// .modal-docusign {
//   margin-top: 100px;
// }
