.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.mortgageTabs {margin-top:20px; margin-bottom:20px;}
.nav.mortgageTabs>li>a {padding:14px auto; width:120px; text-align:center; color:#b7b7b7;}
.nav.mortgageTabs>li>a:hover {border:none;}
.nav-tabs.mortgageTabs>li.active>a, .nav-tabs.mortgageTabs>li.active>a:focus, .nav-tabs.mortgageTabs>li.active>a:hover {color:#555; border:none; border-bottom:#15c0f1 5px solid;}

.loan-item-holder {padding:20px; border:#bebebe 1px solid; border-radius:4px;}
.loan-item-holder p {margin-bottom:8px; letter-spacing:.03em;}
.loan-item-holder p:first-of-type {margin-top:15px;}
.dashboard-btn {background:#15c0f1; color:white; display:flex; align-items:center; width:130px}
.dashboard-btn img {margin-right:10px; transition:transform 2s ease;}
.dashboard-btn:hover {color:white;}
.dashboard-btn:hover img {transform:rotate(360deg) scale(1.2);}