.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.mortgageTabs {margin-top:20px; margin-bottom:20px;}
.nav.mortgageTabs>li>a {padding:14px auto; width:120px; text-align:center; color:#b7b7b7;}
.nav.mortgageTabs>li>a:hover {border:none;}
.nav-tabs.mortgageTabs>li.active>a, .nav-tabs.mortgageTabs>li.active>a:focus, .nav-tabs.mortgageTabs>li.active>a:hover {color:#555; border:none; border-bottom:#15c0f1 5px solid;}
.nav-tabs.mortgageTabs>li>a:hover { background-color: #fff}

.loan-item-holder {padding:20px; border:#bebebe 1px solid; border-radius:4px;}
.loan-item-holder p {margin-bottom:8px; letter-spacing:.03em;}
.loan-item-holder p:first-of-type {margin-top:15px;}
.dashboard-btn {background:#15c0f1; color:white; display:flex; align-items:center; width:130px}
.dashboard-btn img {margin-right:10px; transition:transform 2s ease;}
.dashboard-btn:hover {color:white;}
.dashboard-btn:hover img {transform:rotate(360deg) scale(1.2);}
.borrower-dashboard {
  background-color: #fff;
}
.btn {
  display: inline-block;
  padding: 6px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.gear-icon {
  display: inline !important;
  margin-right: 12px !important;
}
.content.accountPart {
  background: linear-gradient(to right, white 100%, #f6f6f6 39%, white 42%, white 100%);
  background: linear-gradient(to left, white 100%, #f6f6f6 39%, white 42%, white 100%);
}
.copy-btn {
    border-radius: 5px;
    border: #15c0f1 1px solid;
    background: white;
    color: #15c0f1;
    height: 43px;
    font-size: 1.125em;
    padding-top: 10px;
}
.send-btn {
    border-radius: 5px;
    border: #15c0f1 1px solid;
    background: #15c0f1;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
}
.referral-link {
    display: block;
    float: left;
    padding: 9px 15px;
    font-weight: 300;
    font-size: 1.25em;
    background: #f0f0f0;
    border-radius: 3px;
    color: #555;
    margin-right: 20px;
}
h5.text-capitalize {
  color: #12a7d1;
}
