.authentication-part {

  .login-form, .signup-form, .user-update-form {
    font-family:'aileronregular';
    overflow-x:hidden;
    position:relative;
    min-height:100vh;
    padding-bottom:150px;

    .form-group {margin-top:35px;margin-bottom: 35px;}
    .form-group:last-child {margin-bottom:60px}

    .form-group input:not([type=checkbox]):not([type=radio]) {border:none; border-bottom:#c3c3c3 1px solid; outline:0; box-shadow:none; border-radius:0; padding:6px 5px; height:37px;}
    .form-group input:not([type=checkbox]):not([type=radio]):focus {border-bottom:#15c0f1 1px solid;}

    /*checkbox*/
    .form-group input[type=checkbox] {display:none;line-height: 16px;}
    .form-group label.customCheckbox:before {border-radius:0; border:#c3c3c3 1px solid; content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;line-height: 16px;}
    .form-group label.customCheckbox.blueCheckBox:before {
        background:#15c0f1;
        border:none;
        content: "\00a0";
    }
    .form-group input[type=checkbox]:checked + label:before {
        content: "\2713";
        font-size: 1em;
        color: #15c0f1;
        text-align: center;
        line-height: 16px;
    }

    .form-group input[type=checkbox]:checked + label.blueCheckBox:before {
        text-indent:-5px;
        color:white;
    }

    .modal-md .form-group input[type=checkbox]:checked + label.blueCheckBox:before {
        text-indent:2px;
    }

    .form-group label.customCheckbox {color:#a1a1a1; letter-spacing:.03em; font-family:"aileronlight"; margin-top:10px;}
    .form-group label.customCheckbox.blueCheckBox {color:#555555; font-style:italic; text-indent:-25px; margin-left:25px; font-weight:300;}

    .modal-md .form-group label.blueCheckBox {float:left; font-style:normal; padding-left:15px;}

    /*radio*/
    .form-group input[type=radio] {opacity:0; width:20px; height:20px; position:absolute; bottom:5px; left:15px; z-index:10;}
    .form-group input[type=radio] + label {z-index:0; min-height:20px;}
    .form-group input[type=radio] + label>span{border-radius:0; border:#545454 1px solid; border-radius:50%; position:relative; float:left;
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;}

    .form-group input[type=radio]:checked + label>span>span{
      background:#545454;
      width: 14px;
        height: 14px;
      border-radius:50%;
      position:absolute; top:2px; left:2px;
    }

    .form-group input:focus {border:none; border-bottom:#15c0f1 1px solid; box-shadow:none; }
    .form-group input:focus ~ img:not(.flag){border-left: #15c0f1 1px solid;}

    .form-group img {
      position:absolute;
      top:6px;
      right:15px;
      border-left: #c3c3c3 1px solid;
    }

    ::-webkit-input-placeholder {font-style:italic;}

    :-moz-placeholder {font-style:italic;}

    ::-moz-placeholder {font-style:italic;}

    :-ms-input-placeholder {font-style:italic;}

    button[type=submit] {padding:11px 26px; border-radius:6px; box-shadow:none; font-size:1.1em; width:140px; border:#15c0f1 1px solid;}
    .loginPart button[type=submit] {width:160px;}

    .form-group h5 {margin-top:15px;color:#c3c3c3;}

    .form-group h5 a {color:#15c0f1}


    .theBtn{  background:#15c0f1; border-color:#15c0f1; color:white;}

    .theBtn:hover { background:white; color:#15c0f1;  border-color:#15c0f1;}
  }

  #loginBtn {
    background:white;
    color:#a1a1a1;
    border-color:#a1a1a1;
    width:140px;
  }

  #loginBtn:hover { background:white; color:#15c0f1;  border-color:#15c0f1;}

  #loginBtn:hover #loginImg {
    animation:loginAnim 2s infinite;
    -webkit-animation:loginAnim 2s infinite;
    filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
  }

  #loginImg {
    height:18px;
    width:auto;
    margin-right:21px;
    margin-top:-4px;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
  }

  #logoutImg {
    height:18px;
    width:auto;
    margin-right:10px;
    margin-top:-4px;
     filter:brightness(10000%); -webkit-filter:brightness(10000%)
  }

  #signupBtn {width:140px;}

  .content h1 {
    color:#15c0f1;
    font-size:4.2em;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: 'aileronlight';
  }

  /*footer part*/
  .footer {
    height:150px;
    background-color:#15c0f1;
    position:absolute;
    bottom:0; z-index:1000;
  }

  .footer > div {position:relative;}

  .footerRight {
    color:white;
    float:right;
    margin-top:50px;
    text-align:center;
  }

  .footerRight img {
    float:left;
    width:30px;
    height:auto;
    margin-left:12px;
    margin-right:12px;
    margin-bottom:15px;
    transition:transform .5s ease;
    transform: scale(1,1);
    -webkit-transform:(1,1);
  }

  .footerRight img:first-child {margin-left:0;}

  .footerRight img:last-child {margin-right:0;}

  .footerRight p {
    clear:both;
    font-family:'aileronlight';
    font-size:1.125em;
    letter-spacing:.03em;
  }

  .footerRight div {
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }

  .footerRight img:hover {
    transform: scale(1.2,1.2);
    -webkit-transform:(1.2,1.2);
    cursor:pointer;
  }

  #footerLogo {float:left; margin-top:64px;}

  #backtopBtn {
    position:absolute;
    width:30px;
    height:auto;
    left:50%;
    bottom:40px;
    margin-left:-15px;
  }

  #backtopBtn:hover {
    animation:backtopAnim 1s infinite;
    -webkit-animation:backtopAnim 1s infinite;
    cursor:pointer;
  }

  .nav-pills>li+li {margin-left:25px;}

  /*signup and login page*/
  .signupPart h2 {margin-top:72px; color:#12a7d1; font-size:2.5em;font-family:'aileronlight';}



  .loginPart .form-group:last-child {margin-top:0;}

  .subnav {
    background: #f6f6f6;
    margin-bottom:-9999px;
    padding-bottom:9999px;
    height:100%;
    position: relative;
    left: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
  }

  .subnav.open-sidebar { left: 240px; }

  .subnav #sidebar-toggle {
    background: white;
    position: relative;
    padding: 10px 7px;
    display:none;
    color:#12a7d1;
    align-items:center;
  }

  /**************************responsive********************************/

  /*modal*/
  .modal-md {max-width:405px;}
  .modal-md .modal-content {padding:0 20px;}
  .modal-md p {clear:left; text-align:left; padding:0 15px;}
  .modal-md h2 {color:#15c0f1; font-weight:600; font-size:1.5em; margin-bottom:0;}
  .modal-md h3 {color:#555; font-weight:300; font-size:1em; margin-top:5px;}
  .modal-md #continueBtn {float:none;}
  .modal-md .form-group:last-child {margin-bottom:20px;}
  .modal-md .form-group img.info-img {position:relative; float:right; border:none; display:inline-block; margin-top:5px;}

  .modal-md #mobile {padding-left:25px;}
  .modal-md img.flag {left:5px; border:none;}

  .modal #continueBtn {font-size:1.7em;}

  .modal .closeBtn {position:absolute; right:15px; top:15px; color:#aaa; font-size:1.5em; z-index:999; transition: transform .5s ease;}
  .modal .closeBtn:hover {transform:rotate(45deg); cursor:pointer;}

  @media (max-width:768px) {
    .subnav {position:absolute; z-index:999; left:-310px;width:310px;}
    .swipe-area {display:initial; background:rgba(1,1,1,0); margin-right:-30px;}
    .subnav.open-sidebar {left:-30px;}
    .subnav #sidebar-toggle {display: flex; width:100vw}
  }



  @media (min-width: 1024px) and (max-width:1200px) {
    #top-info {
      font-size:1em;
      padding-top:10px;
    }

    #left-info h6, #right-info h6 {
      margin-top:-2px;
      font-size:.9em;
    }

    #left-info p, #right-info p {
      font-size:.8em;
      line-height:.6em;
    }

    .howItem img {
      width:70%;
    }

    .howItem img:last-child {
      width:90%;
    }

    .footerRight {
      margin-top:55px;
    }

    #footerLogo {
      float:left;
      margin-top:65px
    }

    #backtopBtn {
      bottom:60px;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .footerRight {
      float:right;
      margin-top:55px;
    }
    #footerLogo {
      float:left;
      margin-top:70px
    }

    #backtopBtn {
      bottom:65px;
    }

    #sidebar ul li a img {margin-right:7px;}
    #sidebar ul li a {font-size:12px;}
  }
  @media (max-width: 768px) {
    .form-group .text-left, .form-group .text-right {text-align:center;}
    .loginPart button[type=submit] {margin-top:20px;}

    #top-info {
      font-size:2em;
      padding-top:3%;
      padding-left:30px;
    }

    .footerRight {
      margin-top:50px;
    }
    #footerLogo {
      margin-top:65px;
    }

    #backtopBtn {
      bottom:60px;
    }

  }

  @media (max-width:620px) {
    body {padding-bottom:300px;}
    .footerRight {
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:72%;
      margin-top:50px;
    }

    #footerLogo {
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:55%;
      display:block;
      margin-top:120px;
    }

    #backtopBtn {
      bottom:230px;
    }

    .footer {
      height:300px;
    }

    .footerRight img:first-child {
      margin-left: 10%;
    }
  }

  @media (max-width: 414px) {
    body {padding-bottom:300px;}
    .content h1{font-size:2.9em;}

    #left-info h6, #right-info h6 {margin-top:29%; font-size:1.2em;}
    #left-info p, #right-info p {font-size:.9em;}

    .footerRight {
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:72%;
      margin-top:50px;
    }

    #footerLogo {
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:70%;
      display:block;
      margin-top:120px;
    }

    #backtopBtn {bottom:230px;}

    .footer {height:300px;}

    .logo {width:200px;}

    .nav li {float:none; width:100%;}

    .nav-pills>li+li {margin-left:0; margin-top:3px;}

    .note {width:90%;}

    .client p {width:100%;}

    #signupBtn, #loginBtn { width:100%;}

    .footerRight img:first-child {margin-left: 12px;}
    .account-nav .nav-pills>li+li {margin-left:0;}

    .bigNum {display:none;}
  }

  @media (max-width: 384px) {

    #home-right {padding-left:10px; padding-right:10px;}

    .logo img{width:200px;}

    .footerRight {  width:75%;}

    #signupBtn, #loginBtn { width:100%;}
  }

  @media (max-width: 375px) {

    .content h1{font-size:1.7em;  padding:15px;}

    .footerRight {
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:80%;
      margin-top:50px;
    }

    .footerRight div {width:100%;}

    #footerLogo {
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:70%;
      display:block;
      margin-top:120px;
    }

    #backtopBtn {
      bottom:230px;
    }

    .footer {
      height:300px;
    }

    .logo img{
      width:200px;
    }

    .nav li {
      float:none;
      width:100%;
    }

    .nav-pills>li+li {
      margin-left:0;
      margin-top:3px;
    }

    #top-info {
      font-size:1.1em;
      padding-top:6px;
    }

    .client p {
      width:100%;
    }

    #signupBtn, #loginBtn {
      width:100%;
    }
  }

  @media (max-width: 320px) {

    .content h1{
      font-size:1.8em;
      line-height:1.3em;
      padding:15px;
    }
    .footerRight {
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:100%;
      margin-top:50px;
    }

    #footerLogo {
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:70%;
      display:block;
      margin-top:120px;
    }

    #backtopBtn {
      bottom:200px;
    }

    .footer {
      height:300px;
    }

    .logo img{
      width:150px;
    }

    .nav li {
      float:none;
      width:100%;
    }

    .nav-pills>li+li {
      margin-left:0;
      margin-top:3px;
    }

    #top-info {
      font-size:1em;
      padding-top:4px;
    }

    #left-info {
      padding-left:5px;
    }

    #right-info {
      padding-left:15px;
    }

    #signupBtn, #loginBtn {
      width:100%;
    }

    .footerRight img:first-child {
      margin-left: 12px;
    }

  }

}