// Application homepage

body {
  font-family: 'aileronregular';
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 100px; //footer padding
  position: relative;
}

.borderless {
  border: none !important;
}
// shadow of header navbar
.shadow-bottom {
  box-shadow: 0 3px 24px -2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 24px -2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 24px -2px rgba(0,0,0,0.1);
  margin-bottom: 0;
}
// Button
#signup-btn {
  width: 140px;
}
// end Button
.header {
  .mortgage-nav {
    background-color: white;
    padding: 5px 0; //top bottom 5px

    // not test
    .dropdown {
      .dropdownArrow {
        right: 0;
        top: 3px;
        border-left: #15c0f1 1px solid;
        margin-top: -2px;
      }
      .dropdown-toggle {
        border-color: #15c0f1;
      }
    }
    .dropdown-menu {
      min-width: 100%;
      margin-top: -3px;
      box-shadow: none;
      padding: 0;
      border-radius: 0;
      border-color: #15c0f1;
      background-color: white;
      color: #15c0f1;
    }
    .dropdown-menu>li>a {
      padding: 10px 20px;
      color: #15c0f1;
    }
    .dropdown-menu>li>a:hover {
      background: #15c0f1;
      color: white;
    }
    .dropdown-menu>li>a:hover #logoutImg {
      filter:brightness(100%);
      -webkit-filter: brightness(100%);
    }
  }
  #newLoanBtn {
    background: white;
    color: #15c0f1;
    border: none;
    padding: 9px 12px !important;
    margin: 0 5px 5px;
    p {
      display: table-cell;
      vertical-align: middle;
    }
    /*span {
      margin-right:7px;
    }*/
  }
  #newLoanBtn:hover {
    background: #15c0f1;
    color: white;
  }
  .nav-pills>li+li {
    margin-right: 20px;
  }
  .nav-pills > li {
    float: right !important;
    padding-top: 0.125em;
  }
  #loanBtn {
    background: white;
    color: #15c0f1;
    border: none;
    padding: 9px 12px !important;
    margin: 0 5px 5px;
  }
  #loanBtn:hover {
    background: #15c0f1;
    color: white;
  }
  #loanBtn:hover #loanBtnImg {
    filter:brightness(10000%);
    -webkit-filter: brightness(10000%);
  }
  #loanBtn #loanBtnImg,
  #accountBtn #accountBtnImg {
    margin-right: 7px;
    margin-top: -9px;
  }
  #accountBtn {
    height: 38px;
    width: auto;
    background: white;
    color: #15c0f1;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
    padding: 2px 2px 2px 12px;
    border-bottom: solid 2px rgb(21, 192, 241);
    img {
      margin-left: 10px;
    }
    .dropdownArrow {
      top: 5px;
    }
  }
  #accountBtn:active {
    box-shadow: none;
    border-color: #15c0f1;
  }
  #accountBtnImg {
    margin-right: 7px;
    margin-top: -9px;
  }

  .active-loans #loanBtnImg:hover {
    filter:brightness(10000%);
    -webkit-filter: brightness(10000%);
  }
  .nav>li>a:hover {
    background: white;
  }
  .content {
    position: relative;
    width: 100%;
    width: 100%;
  }
  #login-img {
    height: 18px;
    width: auto;
    margin-right: 21px;
    margin-top: -4px;
    filter:grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  #logoutImg {
    height: 18px;
    width: auto;
    margin-right: 10px;
    margin-top: -4px;
    filter:brightness(10000%);
    -webkit-filter: brightness(10000%);
  }
}


// Screen smaller than 992px
@media (max-width: 992px) {
  .footer-right {
    float: left;
  }

  body {
    padding-bottom: 180px;
  }
}
// Screen 384 to 414px
@media (min-width:384px) and (max-width: 414px) {
  #signup-btn,
  #login-btn {
    width: 100%;
  }
  #login-btn {
    margin-left: 20px;
  }
}
@media (min-width:375px) and (max-width: 384px) {
  #signup-btn,
  #login-btn {
    width: 100%;
  }
  #login-btn {
    margin-left: 20px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  #signup-btn,
  #login-btn {
    width: 100%;
  }
  #login-btn {
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
  #signup-btn,
  #login-btn {
    width: 100%;
  }
  #login-btn {
    margin-left: 20px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0 !important;
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  #top-info {
    font-size:1em;
    padding-top:10px;
  }

  #left-info h6, #right-info h6 {
    margin-top:-2px;
    font-size:.9em;
  }

  #left-info p, #right-info p {
    font-size:.8em;
    line-height:.6em;
  }

  .howItem img {
    width:70%;
  }

  .howItem img:last-child {
    width:90%;
  }

  .footer-right {
    //margin-top:55px;
  }
  #footerLogo {
    }


}

@media (min-width: 768px) and (max-width: 992px) {
  #top-info {
    font-size:2.5em;
    padding-top:2%;
  }
  .license {
    bottom: -10% !important;
  }
  #left-info h6, #right-info h6 {
    margin-top:64px;
    font-size:2.3em;
  }

  #left-info p, #right-info p {
    font-size:1.7em;
    line-height:1.35em;
  }

  #right-info {
    padding-left:35px;
  }

  #home-left {
    text-align:center;
  }

  #home-right {
    padding-top:80px;
  }


  #footerLogo {

  }



  #home-top-info .row {
    padding:20px;
  }
  .client p {
    padding: 15px 25px 40px 25px !important;
  }
}
@media (min-width:416px) and (max-width: 768px) {
  .homeTable td{
    font-size:0.9em;
  }
  #top-info {
    font-size:2em;
    padding-top:3%;
    padding-left:30px;
  }

  #left-info, #right-info {
    padding-top:8.4%;
  }

  #left-info h6, #right-info h6 {
    margin-top:19.9%;
    font-size:2.2em;
  }

  #left-info p, #right-info p {
    font-size:1.7em;
    line-height:1.2em;
  }

  #right-info {
    padding-left:35px;
  }

  #home-left {
    text-align:center;
  }

  #home-right {
    padding-top:80px;
  }

  .howItem .bigNum {
    margin-left:50px;
  }

  .howItem .whyText {
    text-align:left;
  }
  .whyText {

    width: 100% !important;

  }

  .howItem {
    text-align:center;
  }

  .howItem img {
    margin-left:auto;
    margin-right:auto;

  }

  .whyItem {
    margin-top:30px;
    height:150px;
  }

  .whyItem img{
    margin-left:50px;
  }

  .footer-right {
    //margin-top:50px;
  }
  #footerLogo {

  }



  #home-top-info .row {
    padding:15px;
  }
  .license {
    bottom: -10% !important;
  }
}


@media (min-width:384px) and (max-width: 414px) {
  #home-left {
    text-align:center;
  }
  .license {
    bottom: -10% !important;
  }
  .homeTable td{
    font-size:0.7em;
  }

  .content h1{
    font-size:2.9em;
  }


  .whyItem {
    text-align:center;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    height:auto;
  }

  .whyItem img {
    width:60%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    float:none;
    margin-top:0;
  }

  .whyItem .bigNum {
    display:none;
  }

  .whyItem .whyText {
    float:none;
    width:100%;
    margin:0;
    padding-bottom:20px;
  }

  .howItem img {
    width:80%;
    height:auto;
    margin-left:40px;
  }

  .footer-right {

    //margin-top:50px;
  }

  #footerLogo {

    float:none;
    width:70%;
    display:block;
    //margin-top:120px;
  }



  .footer {
    //height:300px;
  }

  .logo {
    width:200px;
  }

  .nav li {
    float:none;
    width:100%;
  }

  .nav-pills>li+li {
    margin-left:0;
    margin-top:3px;
  }

  #home-top-info .row {
    padding:10px;
  }

  #top-info {
    padding-top:6px;
  }

  .client p {
    width:100%;

  }

  .footer-right img:first-child {
    margin-left: 12px;
  }
}


@media (min-width:375px) and (max-width: 384px) {
  .logo img{
    width:200px;
  }

  .footer-right {
    //width:75%;
  }
}

@media (min-width: 320px) and (max-width: 375px) {

  #home-left {
    text-align:center;
  }

  .content h1{
    font-size:1.7em;
    padding:15px;
  }

  .whyItem {
    text-align:center;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    height:auto;
  }

  .whyItem img {
    width:60%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    float:none;
    margin-top:0;
  }

  .whyItem .bigNum {
    display:none;
  }

  .whyItem .whyText {
    float:none;
    width:100%;
    margin:0;
    padding-bottom:20px;
  }

  .howItem img {
    width:80%;
    height:auto;
    margin-left:40px;
  }

  .footer-right {

    //margin-top:50px;
  }

  .footer-right div {
    width:100%;
  }

  #footerLogo {

    float:none;
    width:70%;
    display:block;
    //margin-top:120px;
  }



  .footer {
    height:300px;
  }

  .logo img{
    width:200px;
  }

  .nav li {
    float:none;
    width:100%;
  }

  .nav-pills>li+li {
    margin-left:0;
    margin-top:3px;
  }

  .howItem {
    margin-top:40px;
  }

  .whyItem {
    margin-top:40px;
  }

  #home-top-info .row {
    padding:10px;
  }

  #top-info {
    font-size:1.1em;
    padding-top:6px;
  }

  .client p {
    width:100%;
  }
}

@media (max-width: 414px) {
  .equal-housing {
    margin-left: 0px !important;
  }
}

@media (max-width: 320px) {

  #home-left {
    text-align:center;
  }

  .content h1{
    font-size:1.8em;
    line-height:1.3em;
    padding:15px;
  }

  .bigger {
    font-size:1em;
  }

  .smaller {
    width:85%;
    font-size:.7em;
  }

  #home-right {
    padding-top:40px;
    padding-bottom:40px;
  }

  #home-right-table {
    width:90%;
    margin-top:13px;
  }

  .home-right-small {
    font-size:.8em;
    padding:2px;
  }

  .note {
    width:80%;
  }

  .whyItem img {
    width:50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    float:none;
    margin-top:0;
  }

  .whyItem .bigNum {
    font-size:3em;
  }

  .howItem img {
    width:80%;
    height:auto;
    margin-left:40px;
  }

  .howItem img:last-child {
    margin-left:20px;
  }

  .footer-right {

    //margin-top:50px;
  }
  .whyText {

    width: 100% !important;

  }

  #footerLogo {

    float:none;
    width:70%;
    display:block;
    //margin-top:120px;
  }



  #home-right-table2 {
    overflow-x:hidden;
  }

  .footer {
    //height:300px;
  }

  .logo img{
    width:150px;
  }

  .nav li {
    float:none;
    width:100%;
  }

  .nav-pills>li+li {
    margin-left:0;
    margin-top:3px;
  }


  .howItem {
    margin-top:30px;
  }

  .whyItem {
    margin-top:30px;
  }

  #home-top-info .row {
    padding:10px;
  }

  #top-info {
    font-size:1em;
    padding-top:4px;
  }

  #left-info {
    padding-left:5px;
  }

  #right-info {
    padding-left:15px;
  }

  .client p {
    width:100%;
  }

  .footer-right img:first-child {
    margin-left: 12px;
  }
}
/////=======  end Media ======== /////
