@font-face {
  font-family: 'aileronlight';
  src: url(asset_path("aileron-light-webfont.eot"));
  src: url(asset_path("aileron-light-webfont.woff")) format('woff'),
       url(asset_path("aileron-light-webfont.ttf")) format('truetype');
}

@font-face {
  font-family: 'aileronsemibold';
  src: url(asset_path("aileron-semibold-webfont.eot"));
  src: url(asset_path("aileron-semibold-webfont.woff")) format('woff'),
       url(asset_path("aileron-semibold-webfont.ttf")) format('truetype');
}

.homepage {
  h6 {
    color: inherit;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .mortgageNav {
    border:none;
    margin-top:7px;
    background-color:white;
  }

  .theBtn{
    background:rgb(51, 122, 183);
    border-color:rgb(51, 122, 183) !important;
    color:white;
  }

  .theBtn:hover {
    background:white;
    color:rgb(51, 122, 183);
    border-color:none;
  }

  .nav>li>a:hover {
    background:white;
    color: rgb(51, 122, 183)
  }

  .header {
    padding-top:14px;
    border-bottom:none;
  }

  .content {
    position:relative;
    padding-top: 0px;
    width:100%;
    width:100%;
  }

  #howitworksBtn {
    color:#a1a1a1;
  }

  #howitworksBtn:hover {
    color:#31aceb;
    background:white;
  }

  #loginBtn {
    background:white;
    color:#a1a1a1;
    border-color:#a1a1a1 !important;
  }

  #loginBtn:hover {
    background: white;
    color:white;
  }

  #loginBtn:hover #loginImg {
    animation:loginAnim 2s infinite;
    -webkit-animation:loginAnim 2s infinite;
  }

  #loginImg {
    height:18px;
    width:auto;
    margin-right:10px;
    margin-top:-4px;

  }

  @keyframes loginAnim {
    0% {transform:translateX(0);}
    25% {transform:translateX(2px);}
    50% {transform:translateX(-3px);}
    75% {transform:translateX(2px);}
    100% {transform:translateX(0);}
  }

  @-webkit-keyframes loginAnim {
    0% {-webkit-transform:translateX(0);}
    25% {-webkit-transform:translateX(2px);}
    50% {-webkit-transform:translateX(-3px);}
    75% {-webkit-transform:translateX(2px);}
    100% {-webkit-transform:translateX(0);}
  }

  #signupBtn {
    width:140px;
  }

  .homePart {
    padding-top:30px;
    background-color: rgb(51, 122, 183);
    -webkit-box-shadow: inset 0 8px 6px -6px #999;
         -moz-box-shadow: inset 0 8px 6px -6px #999;
              box-shadow: inset 0 8px 6px -6px #999;
  }

  #home-left {
    text-align:left;
    padding-top:60px;
  }

  #home-left h1 {
    font-size:1.7em;
    color: white;
    padding:15px 5px;
    margin:0;
    font-weight:500;
  }

  #home-left p {
    margin: 25px 20px;
    color: white;
    font-size:1.6em;
    line-height:1.6em;
    font-family:'aileronlight';
    letter-spacing:0.06em;
    text-align:left;

  }

  #home-left-header {
    width:100%;
    text-align:center;
  }

  #applyBtn {
    width:165px;
    padding:15px;
    background-color:#f7c04f;
  }

  #applyBtn:hover {
    background-color:white;
    border-color:#f7c04f !important;
    color:#f7c04f;
  }

  #home-right {
    text-align:center;
    margin-bottom:100px;
    margin-top:60px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:35px;
  }

  #home-right-header {
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }

  #home-right-header h1{
    font-size:1.75em;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
    letter-spacing:.05em;
    font-size:2em;
    font-weight:600;
  }

  .homeTable {
    background:white;
    color:black;
    border-radius:6px !important;
    margin-top:20px;
    padding: 0 20px;
  }

  .table-header {
    background-color:#39ba8d;
    color:white;
    font-family:'aileronsemibold';
    font-size:1.25em;
  }

  .homeTable .table-header td {
    border:none !important;
    padding:14px !important;
  }

  .homeTable td {
    border-right:1px solid #e1e1e1 !important;
    /*box-shadow: 0px 24px 1px -24px #000;*/
    border-top:none !important;
    height:30px;
    padding:14px 14px 0px 14px !important;
  }

  .homeTable td hr {
    width:90%;
    height:1px;
    border:none;
    color:#e1e1e1;
    background-color:#e1e1e1;
    margin-bottom:0;
    margin-top:14px;
  }

  .homeTable tr td:nth-child(2) {
    width:25%;
  }

  .homeTable td:last-child {
    border-right:none !important;
  }

  .homeTable tr:last-child td hr{
    width:0%;
  }

  .homeTable tr:first-child td {
    box-shadow: none;
  }

  .home-footer {
    width:100%;
    background-color:#f3f5f7;
    display:block;
    margin-top:-21px;
  }

  .header-logo  {
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
  }

  .header-logo div{
    height:41px;
  }

  .asseen {
    display:table;
  }

  .asseen div {
    display:table-cell;
    vertical-align:middle;
    font-size:1.5em;
    font-weight:300;
    color:#727b82;
  }

  .home-footer div:last-child {
    margin-right:0;
  }

  .content .white-header {
    font-weight:500;
    color:white;
    margin-top:80px;
    font-size:4em;
  }

  .content .how-header, .content .client-header {
    margin-top:80px;
    font-weight:500;
  }

  .clientPart .note {
    margin-top:40px;
  }

  .content h1 {
    color:rgb(51, 122, 183);
    font-size:4.2em;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: 'aileronlight';
  }



  .logo-text {
    font-family: 'aileronsemibold';
    color:#31aceb;
  }

  .logo-text span {
    color:#065a82;
  }

  .note {
    margin-top:28px;
    font-size:1.5em;
    color:#000;
    width:60%;
    line-height:1.5em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-weight:599;
  }

  #home-top-info {
    margin-top:60px;
    position:relative;
    margin-bottom:70px;
  }


  #top-info {
    text-align:center;
    font-family: 'aileronsemibold';
    font-size:1.25em;
    color:rgb(51, 122, 183);
    font-weight:500;
    padding-top:12px;
  }

  #left-info h6, #right-info h6 {
    font-size:1em;
    font-family:'aileronsemibold';
  }

  #left-info p, #right-info p {
    font-size:.8em;
    line-height:.9em;
  }

  #left-info, #right-info {
    padding-top:57px;
    padding-left:20px;
    padding-right:0;
  }

  #left-info {
    color:rgb(51, 122, 183);
  }

  #right-info {
    color:#a9a9aa;
    padding-left: 26px;
  }

  .textBubble {
    background-image: url(asset_path('textBubble.jpg'));
    background-repeat:no-repeat;
    background-size:100% 100%;
  }


  .noPadding {
    padding-left:0;
    padding-right:0;
  }

  .whyPart {
    background-color:rgb(51, 122, 183);
    padding-bottom:80px;
    width:100%;
  }

  .whyPart .container .row:not(.whyPart .container .row:first-of-type) {
    margin-top:20px;
  }

  .whyItem {
    margin-top:60px;
    color:white;
    height:170px;
  }

  .whyItem h6 {
    color:white !important;
  }

  .whyItem img{
    float:left;
    width:auto;
    height:80%;
  }

  .bigNum {
    float:left;
    font-family: 'aileronlight';
    font-size:4.5em;
    margin-top:-10px;
  }

  .whyText {
    display:block;
    margin-left:14px;
    width:65%;
    float:left;
    margin-top:-4px;
  }

  .whyText h6 {
    font-family: 'aileronsemibold';
    font-size: 2em;
    letter-spacing:.03em;
  }

  .whyText p {
    font-family: 'aileronlight';
    font-size:1.125em;
    letter-spacing:.03em;
    line-height:1.75em;
  }

  .howPart p, .howPart h6{
    color:black;
  }

  .howItem {
    margin-top:75px;
  }

  .howPart .bigNum {
    color:rgb(51, 122, 183);
  }

  .howPart img {
    width:auto;
    height:120%;
    margin-left:40px;
  }

  .howPart .whyText {
    width:80%;
  }

  .howPart .whyText h6 {
    font-size:2.3em;
    font-family:'aileronregular';
  }

  .howPart .whyText p {
    font-size:1.25em;
    font-family:'aileronlight';
  }

  #howFooter {
    margin-top:-100px;
    background-color:rgb(51, 122, 183);
    height:150px;
    margin-top:-110px;
    width:100%;
  }

  .clientPart {
    background-color:#fff;
    padding-bottom:50px;
  }


  .clients {
    margin-top:20px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }

  .client {
    text-align:center;
    margin-top:50px;
  }

  .client:last-child {
    margin-right:0;
  }

  .client p {
    color:#000;
    line-height:2em;
    letter-spacing:.05em;
    text-align:left;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    background-image: url(asset_path('clientBubble.png'));
    background-repeat:no-repeat;
    background-size:100% 100%;
    padding-top:15px;
    padding-bottom:50px;
    padding-left:50px;
    padding-right:50px;
  }

  .client img {
    padding-top:40px;
    width:35%;
    height:auto;
  }

  .client h4 {
    font-family: 'aileronsemibold';
    font-size:2em;
    color:rgb(51, 122, 183);
    margin-top:20px;
  }

  .client h6 {
    color:#000;
    font-size:1.5em;
  }

  .footer {
    height:150px;
    background-color:rgb(51, 122, 183);
  }

  .footerRight {
    color:white;
    float:right;
    margin-top:50px;
    text-align:center;
  }

  .footerRight img {
    float:left;
    width:30px;
    height:auto;
    margin-left:12px;
    margin-right:12px;
    margin-bottom:15px;
    transition:transform .5s ease;
    transform: scale(1,1);
    -webkit-transform:(1,1);
  }

  .footerRight img:first-child {
    margin-left:0;
  }

  .footerRight img:last-child {
    margin-right:0;
  }

  .footerRight p {
    clear:both;
    font-family:'aileronlight';
    font-size:1.125em;
    letter-spacing:.03em;
  }

  .footerRight div {
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }

  .footerRight img:hover {
    transform: scale(1.2,1.2);
    -webkit-transform:(1.2,1.2);
    cursor:pointer;
  }

  #footerLogo {
    float:left;
    margin-top:64px
  }

  #backtopBtn {
    position:absolute;
    width:30px;
    height:auto;
    left:50%;
    bottom:60px;
    margin-left:-15px;
  }

  #backtopBtn:hover {
    animation:backtopAnim 1s infinite;
    -webkit-animation:backtopAnim 1s infinite;
    cursor:pointer;
  }

  @keyframes backtopAnim {
    0% {transform:translateY(0);}
    25% {transform:translateY(2px);}
    50% {transform:translateY(-3px);}
    75% {transform:translateY(2px);}
    100% {transform:translateY(0);}
  }

  @-webkit-keyframes backtopAnim {
    0% {-webkit-transform:translateY(0);}
    25% {-webkit-transform:translateY(2px);}
    50% {-webkit-transform:translateY(-3px);}
    75% {-webkit-transform:translateY(2px);}
    100% {-webkit-transform:translateY(0);}
  }

  .nav-pills>li+li {
    margin-left:25px;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0 !important;
    }
  }

  @media (min-width: 992px) and (max-width:1200px) {
    #top-info {
      font-size:1em;
      padding-top:10px;
    }

    #left-info h6, #right-info h6 {
      margin-top:-2px;
      font-size:.9em;
    }

    #left-info p, #right-info p {
      font-size:.8em;
      line-height:.6em;
    }

    .howItem img {
      width:70%;
    }

    .howItem img:last-child {
      width:90%;
    }

    .footerRight {
      margin-top:55px;
    }
    #footerLogo {
      float:left;
      margin-top:65px
    }

    #backtopBtn {
      bottom:60px;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    #top-info {
      font-size:2.5em;
      padding-top:2%;
    }

    #left-info h6, #right-info h6 {
      margin-top:64px;
      font-size:2.3em;
    }

    #left-info p, #right-info p {
      font-size:1.7em;
      line-height:1.35em;
    }

    #right-info {
      padding-left:35px;
    }

    #home-left {
      text-align:center;
    }

    #home-right {
      padding-top:80px;
    }

    .footerRight {
      float:right;
      margin-top:55px;
    }
    #footerLogo {
      float:left;
      margin-top:70px
    }

    #backtopBtn {
      bottom:65px;
    }

    #home-top-info .row {
      padding:20px;
    }
  }
  @media (min-width:416px) and (max-width: 768px) {

    #top-info {
      font-size:2em;
      padding-top:3%;
      padding-left:30px;
    }

    #left-info, #right-info {
      padding-top:8.4%;
    }

    #left-info h6, #right-info h6 {
      margin-top:19.9%;
      font-size:2.2em;
    }

    #left-info p, #right-info p {
      font-size:1.7em;
      line-height:1.2em;
    }

    #right-info {
      padding-left:35px;
    }

    #home-left {
      text-align:center;
    }

    #home-right {
      padding-top:80px;
    }

    .howItem .bigNum {
      margin-left:50px;
    }

    .howItem .whyText {
      text-align:left;
    }

    .howItem {
      text-align:center;
    }

    .howItem img {
      margin-left:auto;
      margin-right:auto;

    }

    .whyItem {
      margin-top:30px;
      height:150px;
    }

    .whyItem img{
      margin-left:50px;
    }

    .footerRight {
      margin-top:50px;
    }
    #footerLogo {
      margin-top:65px;
    }

    #backtopBtn {
      bottom:60px;
    }

    #home-top-info .row {
      padding:15px;
    }

  }


  @media (min-width:384px) and (max-width: 414px) {
    #home-left {
      text-align:center;
    }

    .homeTable td{
      font-size:1.4em;
    }

    .content h1{
      font-size:2.9em;
    }

    .whyItem {
      text-align:center;
      width:80%;
      margin-left:auto;
      margin-right:auto;
      position:relative;
      height:auto;
    }

    .whyItem img {
      width:60%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      float:none;
      margin-top:0;
    }

    .whyItem .bigNum {
      display:none;
    }

    .whyItem .whyText {
      float:none;
      width:100%;
      margin:0;
      padding-bottom:20px;
    }

    .howItem img {
      width:80%;
      height:auto;
      margin-left:40px;
    }

    .footerRight {
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:72%;
      margin-top:50px;
    }

    #footerLogo {
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:70%;
      display:block;
      margin-top:120px;
    }

    #backtopBtn {
      bottom:230px;
    }

    .footer {
      height:300px;
    }

    .logo {
      width:200px;
    }

    .nav li {
      float:none;
      width:100%;
    }

    .nav-pills>li+li {
      margin-left:0;
      margin-top:3px;
    }

    #home-top-info .row {
      padding:10px;
    }

    #top-info {
      padding-top:6px;
    }

    .client p {
      width:100%;
    }

    #signupBtn {
      width:100%;
    }

    .footerRight img:first-child {
      margin-left: 12px;
    }
  }


  @media (min-width:375px) and (max-width: 384px) {
    .logo img{
      width:200px;
    }

    .footerRight {
      width:75%;
    }

    #signupBtn {
      width:100%;
    }
  }

  @media (min-width: 320px) and (max-width: 375px) {

    #home-left {
      text-align:center;
    }

    .content h1{
      font-size:1.7em;
      padding:15px;
    }

    .whyItem {
      text-align:center;
      width:80%;
      margin-left:auto;
      margin-right:auto;
      position:relative;
      height:auto;
    }

    .whyItem img {
      width:60%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      float:none;
      margin-top:0;
    }

    .whyItem .bigNum {
      display:none;
    }

    .whyItem .whyText {
      float:none;
      width:100%;
      margin:0;
      padding-bottom:20px;
    }

    .howItem img {
      width:80%;
      height:auto;
      margin-left:40px;
    }

    .footerRight {
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:80%;
      margin-top:50px;
    }

    .footerRight div {
      width:100%;
    }

    #footerLogo {
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:70%;
      display:block;
      margin-top:120px;
    }

    #backtopBtn {
      bottom:230px;
    }

    .footer {
      height:300px;
    }

    .logo img{
      width:200px;
    }

    .nav li {
      float:none;
      width:100%;
    }

    .nav-pills>li+li {
      margin-left:0;
      margin-top:3px;
    }

    .howItem {
      margin-top:40px;
    }

    .whyItem {
      margin-top:40px;
    }

    #home-top-info .row {
      padding:10px;
    }

    #top-info {
      font-size:1.1em;
      padding-top:6px;
    }

    .client p {
      width:100%;
    }

    #signupBtn {
      width:100%;
    }
  }

  @media (max-width: 320px) {

    #home-left {
      text-align:center;
    }

    .content h1{
      font-size:1.8em;
      line-height:1.3em;
      padding:15px;
    }

    .bigger {
      font-size:1em;
    }

    .smaller {
      width:85%;
      font-size:.7em;
    }

    #home-right {
      padding-top:40px;
      padding-bottom:40px;
    }

    #home-right-table {
      width:90%;
      margin-top:13px;
    }

    .home-right-small {
      font-size:.8em;
      padding:2px;
    }

    .note {
      width:80%;
    }

    .whyItem img {
      width:50%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      float:none;
      margin-top:0;
    }

    .whyItem .bigNum {
      font-size:3em;
    }

    .howItem img {
      width:80%;
      height:auto;
      margin-left:40px;
    }

    .howItem img:last-child {
      margin-left:20px;
    }

    .footerRight {
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:100%;
      margin-top:50px;
    }

    #footerLogo {
      margin-left:auto;
      margin-right:auto;
      float:none;
      width:70%;
      display:block;
      margin-top:120px;
    }

    #backtopBtn {
      bottom:230px;
    }

    #home-right-table2 {
      overflow-x:hidden;
    }

    .footer {
      height:300px;
    }

    .logo img{
      width:150px;
    }

    .nav li {
      float:none;
      width:100%;
    }

    .nav-pills>li+li {
      margin-left:0;
      margin-top:3px;
    }


    .howItem {
      margin-top:30px;
    }

    .whyItem {
      margin-top:30px;
    }

    #home-top-info .row {
      padding:10px;
    }

    #top-info {
      font-size:1em;
      padding-top:4px;
    }

    #left-info {
      padding-left:5px;
    }

    #right-info {
      padding-left:15px;
    }

    .client p {
      width:100%;
    }

    #signupBtn {
      width:100%;
    }

    .footerRight img:first-child {
      margin-left: 12px;
    }

  }

  .homepage {
    .navbar-brand {
      font-size: 22px;
      margin: 15px 0px;
    }

    .header-right {
      .navbar-nav {
        list-style: none;

        li:first-child {
          font-size: 18px;
        }
        li:not(:first-child) {
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 10px;
          margin-right: 5px;
        }
      }
    }

    .middle {
      .jumbotron {
        h2, h3 {
          color: #FFFFFF !important;
        }
        padding: 20px 60px 20px 60px;
        margin-bottom: 30px;
        background-color: #337ab7;
        color: #FFFFFF;
      }

      .description {
        padding-top: 10px;
        font-size: 18px;
      }

      .best-rates {
        h3 {
          text-align: center;
        }
        table {
          th, td {
            text-align: center;
          }
        }
      }

      .apply-section {
        padding-left: 45%;
      }
    }

    .bottom {
      .neighborhood {
        background: url(asset_path('neighborhood.png')) no-repeat;
        width: 1100px;
        height: 178px;
      }
    }
  }
}
