@import "abstracts/mixins";
@import "abstracts/variables";
//base
@import "base/fonts";

@import "landing/bootstrap";
@import "components/loading";
@import "components/util";
@import "app-styling-post-bootstrap-loading";
@import "layout/form";
@import "pages/helpmechoose";
@import "pages/devise";
@import "pages/new-loan";
@import "pages/initial-quotes";
@import "pages/loan-programs";
@import "landing/style";
@import "landing/swiper";
@import "landing/dark";
@import "landing/font-icons";
@import "landing/animate";
@import "landing/magnific-popup";
@import "landing/responsive";
@import "landing/settings";
@import "landing/layers";
@import "landing/navigation";
@import "landing/custom";
@import 'd3.slider';

.hello-mortgage {
  padding-top: 65px;
  h6 {
    color: inherit;;
  }
}
.logo-text {
  font-family: $mc-font;
  color: $mc-color;
  span {
    color: #065a82;
  }
}
.note {
  margin-top: 28px;
  font-size: 1.5em;
  color: #000;
  width: 60%;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 600;
}
#home-top-info {
  margin-top: 60px;
  position: relative;
  margin-bottom: 70px;
  .homepic-row {
    img {
      width: 100%;
    }
  };
  .row {
    //padding: 20px;
  }
}
#home-top-info {
  margin-top: 60px;
  position: relative;
  margin-bottom: 70px;
  .homepic-row {
    img {
      width: 100%;
    }
  };
  .row {
    //padding: 20px;
  }
}
.text-bubble {
  background-image: url(asset_path('text-bubble.jpg'));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#top-info {
  text-align: center;
  font-family: 'Lato';
  font-size: 1.25em;
  color: $mc-color;
  font-weight: 500;
  padding-top: 15px;
  // @include respond-to(mobile) {
  //   font-size: 2em;
  //   padding-top: 3%;
  //   padding-left: 30px;
  // };
  // @include respond-to(tablet) {
  //   font-size: 2.5em;
  //   padding-top: 0;
  // };
}
#left-info {
  color: #9adaf0;
  h6 {
    color: #9adaf0;
  }
}
#right-info {
  padding-left: 20px;
  color: #a9a9aa;
  h6 {
    color: #a9a9aa;
  }
  @include respond-to(tablet) {
    padding-left: 35px;
  };
  @include respond-to(mobile) {
    padding-left: 30px;
  };
}
#left-info,
#right-info {
  padding-top: 70px;
  padding-right: 0;
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'Lato';
  }
  p {
    margin: 0 0 10px;
    font-size: 0.8em;
    line-height: 0.9em;
  }
}

// table
#home-right-header {
  h3 {
    margin: 0;
  }
}

.table-header {
  background-color: $mc-color;
  color: white;
  font-size: 1.25em;
}
.table-content {
  background: #FFFFFF;
  color: black;
}
#home-right-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#home-right-header h1 {
  color: white;
  padding-bottom: 7px;
  margin: 0;
  letter-spacing: 0.05em;
  font-size: 1.75em;
  font-weight: 600;
}
#home-right-header p {
  color: white;
}
#apply-btn {
  margin-top: 30px !important;
}
#primary-menu-trigger {
  @include respond-to(mobile) {
    top: 5px !important;
  }
}