#mortgageActions {
  .choose-btn {
      color: white;
      background: #00bd9c;
      border: #00bd9c 1px solid;
      margin-top: 15px;
      padding: 10px 15px;
      font-size: 1.2em;
  }
  .choose-btn:hover {
      color: #00bd9c;
      background: #fff;
  }
}
#mortgagePrograms {
  .board {
    border-radius: 5px;
    border: #959595 1px solid;
    padding: 20px;
    padding-bottom: 0;

    .lender-fee-item {
      list-style: none;
      height: 30px;
    }

    .choose-board h3 {
      margin-top: 0;
      color: #15c0f1;
      font-weight: 600;
      font-size: 1.15em;
    }
    .board-header {
      h1.apr-text {
        margin-top: 10px;
        text-align: initial;
        color: #555;
        font-family: "aileronbold";
        font-weight: 900;
        line-height: 25px;
        font-size: 23px;
        padding: 0;
        font-family: "aileronbold";
      }
      h3 {
        margin-top: 0;
        color: #15c0f1;
        font-weight: 600;
        font-size: 1.15em;
      }
    }

  }
  ul.fee-items {
    padding-left: 16px;
  }
  .select-btn {
    color: white;
    background: #15c0f1;
    border: #15c0f1 1px solid;
    border-radius: 5px;
    float: right;
    font-size: 1.25em;
    padding: 6px 30px;
  }
  .select-btn:hover {
    color: #15c0f1;
    background: #fff;
  }
  .board-content-toggle {
    height:25px;
    background:#f5f5f5;
    color:#a6a6a6;
    margin-left:-20px;
    margin-right:-20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: -12px;
  }
  .board-content-toggle:hover {cursor:pointer; background:#fafafa;}
  .board-content-toggle span.up-state{ transform:rotate(180deg);}
  .board-content-toggle span {transition:transform .5s ease;}

  .board-content.up-state {display:none;}

  .board-content {
    border-top: #ddd 1px solid;

    h4 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  p.cost {
    height: 30px;
  }
  p.note {
    font-style: italic;
  }
  .note:before {content:'\e013'; color:#00bd9c; font-family:'Glyphicons Halflings'; margin-left:-1.4em; margin-right:.4em;}

  .chart-part {
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 25px;

    .pie-chart {
      width: 100%;
      display: flex;
      aglign-items: center;
      justify-content: center;
      position: relative;

      .piechart-center {
        font-size: .7em;
        margin: 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -30.5px;
      }
    }
  }
}

.mortgage-rates {
  .programs-filter {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }
  .actions {
    padding-left: 15px;
  }
  .account-content .form-group:last-child {
    margin-bottom: 25px;
  }
}
.mortgage-rates #sidebar {
  input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 1em;
    color: #15c0f1;
    text-align: center;
    line-height: 16px;
  }
  input[type=checkbox] {
    display: none;
    line-height: 16px;
  }
  input[type=checkbox]:checked + label.blueCheckBox2:before {
    font-size: 1em;
    color: #fff;
  }
  label.customCheckbox:before {
    border-radius: 0;
    border: #c3c3c3 1px solid;
    content: " ";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    line-height: 16px;
  }
  label.customCheckbox.blueCheckBox2:before {
    background: #15c0f1;
    border: none;
    border-radius: 3px;
    content: "\00a0";
    margin-right: 7px;
  }
}
