@import 'admin';
@import 'admin/override';
@import 'components/dropzone-custom';

.lead { font-size: 15px;margin-bottom:0px; }

.terms-4-loan-members {
  margin-left: 10px;
}

.address-input {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #ddd;
  height: 36px;
  border-radius: 3px;
  padding: 6px 11px;
  width: 100%;
}