#mortgageActions {
  .choose-btn {
      color: white;
      background: #00bd9c;
      border: #00bd9c 1px solid;
      margin-top: 15px;
      padding: 10px 15px;
      font-size: 1.2em;
  }
  .choose-btn:hover {
      color: #00bd9c;
      background: #fff;
  }
  .select-btn {
    color: white;
    background: #15c0f1;
    border: #15c0f1 1px solid;
    border-radius: 5px;
    float: right;
    font-size: 1.25em;
    padding: 6px 30px;
  }
  .select-btn:hover {
    color: #15c0f1;
    background: #fff;
  }

}
#mortgagePrograms {
  .board {
    border-radius: 5px;
    border: #959595 1px solid;
    padding: 20px;
    padding-bottom: 0;
  }
  .board-content-toggle {height:25px; background:#f5f5f5; color:#a6a6a6; margin-left:-20px; margin-right:-20px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; display:flex; align-items:center; justify-content:center;}
  .board-content-toggle:hover {cursor:pointer; background:#fafafa;}
  .board-content-toggle span.up-state{ transform:rotate(180deg);}
  .board-content-toggle span {transition:transform .5s ease;}

  .board-content.up-state {display:none;}
  p.cost {
    height: 30px;
  }
  .note:before {content:'\e013'; color:#00bd9c; font-family:'Glyphicons Halflings'; margin-left:-1.4em; margin-right:.4em;}
}
