.accountPart {
  padding-top: 0px;
  overflow:hidden;
  background: rgba(246,246,246,1);
  background: -moz-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 39%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,1)), color-stop(39%, rgba(246,246,246,1)), color-stop(42%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 39%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 39%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 39%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 39%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=1 );

  h4 {font-family:'aileronregular'; font-style:italic; font-size:1em; color:#555555;}
  p {font-family:'aileronregular'; font-size:1.05em; color:#555555;}

  .trash-anchor {
    margin-top: 40px;
    margin-bottom: 23px;
  }
  .iconRemove {
    color: #c3c3c3;
    img {
      border: none;
      top: 0px !important;
      left: 0px;
      padding-left: 12px;
      &:hover {
       color: #00a9dc;
       -webkit-filter: saturate(100%);
      }
    }
  }
}

.accountPart>.container>.row {min-height:75.5vh;}
.margin-top-0 {
  margin-top: 0 !important;
}
.subnav {
  background: #f6f6f6;
  // margin-bottom:-9999px;
  // padding-bottom:9999px;
  height:100%;
  position: relative;
  left: 0;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;

  .open-sidebar { left: 240px; }

  #sidebar-toggle {
    background: white;
    position: relative;
    padding: 10px 7px;
    display:none;
    color:#12a7d1;
    align-items:center;
  }
}

.swipe-area {
  position: absolute;
  width: 30px;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 9999;
  display:none;
}

#sidebar {
  background: #f6f6f6;
  width: 100%;
  height: 100%;
  margin-left:15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li { margin: 0; }

  ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: #5d5d5e;
    text-decoration: none;
    display: block;
    height:54px;
    border-bottom: 1px solid #C922;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }

  ul li.active {border-left:#12a7d1 5px solid; background: #dfe1e5;}

  ul li.done .done-sign {
    display:block;
    float: right;
    color:#525252;
    margin-top:3px;
  }

  ul li:hover a { background: #dfe1e5; }

  ul li a img{
    margin-top:-5px;
    margin-right:20px;
  }
}

.done-sign {display:none;}

.account-content {
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  background:white;
  // margin-bottom:-9999px;
  // padding-bottom:9999px;

  .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;

    h1 { font-weight: 100; }

    p {
      width: 100%;
      line-height: 160%;
    }
  }

  .form-horizontal {padding-left:20px;}
  .form-group:first-child {margin-top:15px;}
  .form-group:last-child {margin-bottom:20px;}
  .form-group img {top:initial; -webkit-filter:saturate(0%); filter:saturate(0%); bottom:6px;}
  input:focus + img {border-left:#15c0f1 1px solid; filter:saturate(100%); -webkit-filter:saturate(100%);}

  .icon-trash {
    cursor: pointer;
  }

  .icon-trash img:hover {
    -webkit-filter: saturate(100%);
    color: #15c0f1;
  }

  .icon-download img:hover {
    -webkit-filter: saturate(100%);
    color: #15c0f1;
  }

  .form-group .fileBtn img {
    bottom: 0px !important;
  }

  .form-group .fileBtn .iconUpload {
    bottom: 3px !important;
  }

  h6 {font-size:1.1em; color:#15c0f1;}
  .helpful-text {font-style:italic; color:#959595; font-size:.9em; padding-top:5px;}
  .form-group .helpful-text img {display:inline-block; position:relative; bottom:0; top:0; left:0; border:none; margin-right:7px; margin-top:-5px;}

  select {-webkit-appearance:none; height:38px; width:100%; }
  select:hover {border-color:#15c0f1; outline:none; box-shadow:none; cursor:pointer;}
  select:focus {border-color:#15c0f1; outline:none; box-shadow:none;}
  select:focus + img {border-left:#15c0f1 1px solid; filter:saturate(100%); -webkit-filter:saturate(100%);}

  .form-group>div>h5 {font-size:1.25em; color:#12a7d1; margin-top:0; letter-spacing:.04em; line-height:1.5em;}

  .form-group>div>h6 {color:#12a7d1;}

  h3 {margin-top:40px; margin-bottom:0;}

  .form-group>div>h5>span {margin-right:15px;}

  .form-group {margin-top:0; margin-bottom:0;}

  .form-group:first-child>div {margin-top:0;}

  .form-group>div {margin-top:25px;}

  .fileBtn .fileBtnSmall:hover, .fileBtn .fileBtnSmall:hover img {
    filter:saturate(100%); -webkit-filter:saturate(100%); cursor:pointer; color:#15c0f1;
  }

  .fileBtn h5 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 100% !important;
  }

  .height-50 {
    height: 50px;
  }

  .fileBtn .fileBtnSmall.file {font-style:italic;}

  .fileBtn span.filename{
    margin-top: 5px !important;
  }

  .select-box {
    img {
      cursor: pointer;
      pointer-events: none;
    }
  }

  .finish_application {
    width: 100%;
    margin-top: 35px;
    background: url(https://www.lendinghome.com/assets/noise-8f8c90de249aa0c361c08f0958a1d636992f12cd9bffda2d7439473880f0fa0c.png) repeat #f8f8f8;
    border: 1px solid #d0d0d0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.03);
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 40px;
    text-align: center;

    h1 {
      line-height: 40px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eaeaea;
      font-size: 30px;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 20px;
    }

    .btn {
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
      font-weight: 600;
      display: inline-block;
      zoom: 1;
      vertical-align: baseline;
      margin: 0 2px;
      outline: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      font: 14px/100%;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 4px;
    }

    .yellow {
      background-color: #15c0f1;
      border: 1px solid #15c0f1;
      color: white;
      font-weight: 600;
    }

    .primary {
      font-size: 15px;
      padding: 14px 36px;
    }

    .glyphicon-ok{
      color: white;
      background-color: green;
      padding: 8px;
      border-radius: 50%;
      font-size:16px;
    }
  }
}

#continueBtn {
  background:#00bd9c;
  color: #ffffff;
  height:50px;
  border-color:#00bd9c;
  width:230px;
  float:left;
  font-size: 14px;

  img {
    position:relative;
    margin-top:6px;
    filter:brightness(0) invert(1);
    -webkit-filter:brightness(0) invert(1);
    border:none; right:-10px;
    margin-right:10px;
  }
}

#continueBtn:hover {
  background: #ffffff;
  color:#00bd9c;

  img {
    filter:brightness(100%) invert(0);
    -webkit-filter:brightness(100%) invert(0);
    animation:loginAnim 2s infinite;
    -webkit-animation:loginAnim 2s infinite;
  }
}

.boolean-div {
  width:5px;
  height:5px;
}
