.potential-users {
  h2 {
    color: #12a7d1;
    font-size: 2.5em;
    font-family: 'aileronlight';
  }

  .form-group {
    h5 {
      color: #12a7d1;
    }

    img {
      position: absolute;
      top: 50px;
      right: 15px;
      border-left: #c3c3c3 1px solid;
    }
  }

  .submit-btn {
      margin-bottom: 20px
  }

  .file-upload-button {
    border-radius: 6px;
    border: #c3c3c3 1px solid;
    text-align: center;
    position: relative;
    height: 60px;
    input {
      position: absolute;
      top: -1000px;
      left: 0;
    }
  }
}