.rate-alert .container{
  .thank-you {
    padding-top: 100px;
    color: #12a7d1;

    h1 {
      color: #12a7d1;
      text-align: center;
    }

    p {
      color: black;
    }
  }
  h1 {
    color: #00436E;
    text-align: center;
  }
}
.rate-alert {
  padding-top: 60px;
}
.potential-users {
  h1 {
    color: #12a7d1;
    font-size: 2.5em;
    font-family: 'aileronlight';
  }

  .form-group:first-child {
    margin-top: 0px;
  }

  .form-group {
    h5 {
      color: #12a7d1;
    }

    .email-address img, .phone-number img {
      position: absolute;
      top: 50px;
      right: 15px;
      border-left: #c3c3c3 1px solid;
      -webkit-filter: saturate(100%);
      color: #c3c3c3;
    }

    label.customCheckbox:before {
      content: "\00a0";
    }
  }

  .send-as {
    .col-md-6 {
      padding-left: 0px;
    }
  }

  .submit-btn {
      margin-top: 10px;
      margin-bottom: 20px
  }

  .file-upload-button {
    // border-radius: 6px;
    // border: #c3c3c3 1px solid;
    text-align: center;
    position: relative;
    // height: 60px;

    .document-upload {
      border-radius: 6px;
      border: #c3c3c3 1px solid;
      text-align: center;
      height: 60px;
      width: 56%;
    }

    input {
      display: none;
    }
    .iconUpload {
      position: relative !important;
      top: initial;
      right: initial;
      left: initial;
      border: none !important;
      bottom: initial;
    }
    label {
      padding-top: 15px;
    }
    span {
      color: #c3c3c3;
      font-size:16px;
      font-weight: normal !important;
    }
    img{
      -webkit-filter: saturate(0%);
    }

    label:hover {
      cursor: pointer;
    }
  }
}
