// Place all the styles related to the PotentialRateDropUser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rate-drop-alert {
  margin: -50px;
  .tooltip > .tooltip-arrow {
    border-bottom-color: #FBF7AA;
  }

  select {
    -webkit-appearance: none;
    height: 38px;
    width: 100%;
    cursor: pointer;
  }
  h6 {
    font-size: 1.1em;
    color: #15c0f1;
  }
  .form-group img {
    top: initial;
    -webkit-filter: saturate(0%);
    bottom: 6px;
    cursor: pointer;
    pointer-events: none;
  }
}
