.potential-users {
  .submit-btn {
      margin-bottom: 20px
  }
  .file-upload-button {
    border-radius: 6px;
    border: #c3c3c3 1px solid;
    text-align: center;
    position: relative;
    height: 60px;
    input {
      position: absolute;
      top: -1000px;
      left: 0;
    }
  }
}