.underwriting {
  .mrl {
    margin-right: 5px !important;
  }
  .btn {
    display: inline-block;
    padding: 9px 35px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.3);
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    outline: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-radius: 3px;
  }

  .edit-loan {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 230px;
    color: white;
    background: #15c0f1;
    border: #15c0f1 1px solid;
  }
}
