<h3>Welcome to MortgageClub!</h3>

<p>As a new Borrower on MortgageClub, you can start your first&nbsp;mortgage&nbsp;application, apply in minutes, and lock in the best interest rate&nbsp;instantly. A mortgage advisor will contact you shortly to address any questions you might have. Let's get started!</p>

<p>Thank you, <br/>
The MortgageClub Team
</p>
