$sideMenuWidth: 250px;
$topMenuHeight: 44px;
$helpSectionWidth: 300px;

.topMenu {
  height: $topMenuHeight;
  a:hover {
    color: #999;
  }
}

.sideMenu {
  height: 100%;
  width: $sideMenuWidth;
  margin-top: $topMenuHeight;
}

.formContent {
  margin-left: $sideMenuWidth;
  margin-right: $helpSectionWidth;
  padding-top: $topMenuHeight;
}

.iframeContent {
  margin-left: $sideMenuWidth;
  padding-top: $topMenuHeight;
}

.iframeContentFull {
  margin-left: 0px;
  padding-top: 10px;
}
.helpSection {
  height: 100%;
  width: $helpSectionWidth;
  margin-top: $topMenuHeight;
}

.field {
  margin-bottom: 8px;
}

.auth-form {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  > h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  #error_explanation {
    h2 {
      color: #ee552a;
    }
    ul > li {
      color: #e6001c;
    }
  }
  form {
    margin-bottom: 10px;
  }

  .user-avatar {
    max-height: 250px;
    max-width: 250px;
  }
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-alert {
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 9999999;
  .alert {
    padding-left: 25px;
    width: 260px;
  }
}

.box {
  position: relative;
  .boxHead {
    padding: 0 21px;
  }
  .boxBody {
    padding: 0 21px;
  }
  .boxFoot {
    padding: 0;
    margin: 0 21px;
  }
}

// Overlay
.progress-indicator {
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 10000;
  min-height: 100%;
  width: 100%;
  background: #555;
  opacity: .57!important;
  filter: "alpha(opacity=57)"!important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57)"!important;
  overflow: hidden;
}

.progress-indicator .spinner {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.spinner, .transparentSpinner {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -22px;
  opacity: .7;
  filter: "alpha(opacity=70)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  background-position: center center;
  background-repeat: no-repeat;
}

.spinner {
  background-image: url(asset_path('loader.gif'));
}

// Indicator
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

// Underwriting
.underwriting-text {
  font-size: 27px;
}

#percent {
  text-align: right;
}

.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

#errors {
  color: red;
}

.hidden {
  display: none;
}

.backToLoan {
  text-align: center;
}

.box-description {
  font-size: 15px;
}
