div.img-home {
  height: 200px;
  width: 100%;
  background-image: url(asset_path('home.jpg'));
  background-repeat:no-repeat;
  background-size: 100% 100%
}

.boxGuide {
  line-height: 50px;
}

span.iconCheck {
  color: #8AC007;
}

span.iconCancel {
  color: red;
}

span.label-default {
  padding: .1em .5em .1em
}

textarea {
  resize: vertical;
}

button.btnInfo:focus {
  outline:0 !important;
}

a.remove {
  color: red;
}

// Modal
.modal-docusign {
  width: 80%;
}

.modal-upload {
  width: 60%;
}

.upload-zone {
  height: 70px;
}

// Referrals
.ref-form {
  margin-top: 30px;
}

.btn-copy {
  height: 34px;
  padding-left: 7px;
  padding-right: 7px;
}

.invite-form {
  margin-top: 15px;
}

.call-info {
  margin-top: 25px;
  margin-bottom: 20px;
}

.btn-invites {
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}