.thumbnail > img {
  height: 200px;
}

.boxGuide {
  line-height: 50px;
}

span.iconCheck {
  color: #8AC007;
}

span.iconCancel {
  color: red;
}

span.label-default {
  padding: .1em .5em .1em
}

textarea {
  resize: vertical;
}

// Modal
.modal-docusign {
  width: 80%;
}

.modal-upload {
  width: 60%;
}

.upload-zone {
  height: 70px;
}