div.img-home {
  height: 200px;
  width: 100%;
  background-image: url(asset_path('home.jpg'));
  background-repeat:no-repeat;
  background-size: 100% 100%
}

.boxGuide {
  line-height: 50px;
}

span.iconCheck {
  color: #8AC007;
}

span.iconCancel {
  color: red;
}

span.label-default {
  padding: .1em .5em .1em
}

textarea {
  resize: vertical;
}

button.btnInfo:focus {
  outline:0 !important;
}

a.remove {
  color: red;
}

// Modal
.modal-docusign {
  width: 80%;
}

.modal-upload {
  width: 60%;
}

.upload-zone {
  height: 70px;
}

// Referrals
.ref-form {
  margin-top: 30px;
}

.btn-copy {
  height: 34px;
  padding-left: 7px;
  padding-right: 7px;
}

.invite-form {
  margin-top: 15px;
}

.call-info {
  margin-top: 25px;
  margin-bottom: 20px;
}

.btn-invites {
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.content {
  padding-top: 0px !important;
}
.dashboard {
  .dashboard-top {
    padding-top: 31px;
    padding-bottom: 25px;

    img {
      float: left;
      margin-right: 28px;
      width: 141px;
    }

    h3 {
      margin-top: 0;
      color: #12a7d1;
      font-size: 1.3em;
      margin-bottom: 4px;
      letter-spacing: .03em;
    }

    p {
      font-size: 1.0em;
    }

    .img-dashboard-show {
      background-image: url(asset_path('home.jpg'));
      background-repeat:no-repeat;
      float: left;
      margin-right: 28px;
      width: 146px;
      height: 101px;
    }
  }

  .edit-btn {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 110px;

    color: white;
    background: #15c0f1;
    border: #15c0f1 1px solid;
  }

  .delete-btn {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 110px;
    color: white;
    background: #959595;
    border: #959595 1px solid;
  }

  .mortgageTabs {
    margin-top: 20px;
    margin-bottom: 20px;

    li a {
      padding: 14px auto;
      width: 120px;
      text-align: center;
      color: #b7b7b7;
    }

    li a:hover {
      color: #555;
      background: transparent;
      border: none;
      border-bottom: #15c0f1 5px solid;
    }

    li.active a {
      color: #555;
      border: none;
      border-bottom: #15c0f1 5px solid;
    }
  }
}