---
http_interactions:
- request:
    method: post
    uri: https://api.loantek.com/Clients/WebServices/Client/697/Pricing/V2/Quotes/LoanPricer/1746
    body:
      encoding: UTF-8
      string: '{"BestExecutionMethodType":1,"QuotingChannel":0,"ClientDefinedIdentifier":"53ZnFveCNg4A","LoanToValue":80,"QuoteTypesToReturn":[-1,0,1,2,3,4],"ZipCode":"95127","CreditScore":750,"LoanPurpose":1,"LoanAmount":320000.0,"PropertyUsage":1,"PropertyType":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ClientDefinedIdentifier":"53ZnFveCNg4A","RequestDataContextId":-1,"BestExecutionMethodType":"ByPointGroup","QuotesCount":17,"Quotes":[{"DateTime":"2016-02-18T23:30:55.0880152-08:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"ClEXb4kuxUWHORI1rXGcVw","LenderName":"American
        Financial Resources","ProductName":"15yearFixed","ProductId":"CFY15","DiscountPts":3.294,"OriginationPts":{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":1295.0,"FeeType":1},"Fees":11835.80,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5777,"LoanAmount":320000.0,"ItemizedFees":"Description:
        Loan origination fee, HUD Line: 801, Fee Type: $$, Amount: $1,295.00, Include
        In APR: True<br />Description: Appraisal fee, HUD Line: 803, Fee Type: $$,
        Amount: $495.00, Include In APR: False<br />Description: Credit report fee,
        HUD Line: 804, Fee Type: $$, Amount: $25.00, Include In APR: False<br />","Fees":[{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":1295.0,"FeeType":1},{"HudLine":803,"Description":"Appraisal
        fee","IncludeInAPR":false,"FeeAmount":495.0,"FeeType":1},{"HudLine":804,"Description":"Credit
        report fee","IncludeInAPR":false,"FeeAmount":25.0,"FeeType":1}],"NonAPRFees":520.0,"DollarFees":1295.0,"PercentFees":0.0,"TotalFees":1815.0},"LockDay":0,"ARMDetails":{"IndexType":"               ","Margin":0.000,"FixRate":0,"AdjustRate":0,"InitialCap":0.000,"PeriodicCap":0.000,"LifetimeCap":0.000},"AdvertiserNote":"tbd","Rate":2.250,"APR":2.784,"FICO":750,"LoanToValue":80,"PropertyType":"SFH","PropertyUse":"PRI","MIPInfo":{"AnnualRate":0.0,"AnnualPremium":0.0,"MonthlyRate":0.0,"MonthlyPremium":0.0,"UpfrontRate":0.0,"UpfrontPremium":0.0},"UFMIPPercent":0.0,"MIP":0.0,"ProductFamily":"CONVENTIONAL","ProductClass":"STANDARD","ProductType":"FIXED","ProductTerm":"15","PrincipalAndInterestPayment":2096.27,"Points":4,"QuoteFees":12355.80},{"DateTime":"2016-02-18T23:30:55.0880152-08:00","ClientId":697,"UserId":1746,"LoanTekQuoteId":"XjupCRM5cEiO_Yshm5tFtg","LenderName":"American
        Financial Resources","ProductName":"30yearFixed","ProductId":"CFS30","DiscountPts":2.617,"OriginationPts":{"HudLine":801,"Description":"Loan
        origination fee","IncludeInAPR":true,"FeeAmount":1295.0,"FeeType":1},"Fees":9669.40,"FeeSet":{"Created":"0001-01-01T00:00:00","Updated":"0001-01-01T00:00:00","FeeSetId":5777,"LoanAmount":3200[...]
- request:
    method: get
    uri: http://www.zillow.com/webservice/GetMonthlyPayments.htm?output=json&price=500000&zip=95127&zws-id=X1-ZWz1aylbpp3aiz_98wrk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Internal-Host:
      - '003'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: ' { "request" : {  "price" : "500000", "zip" : "95127", "output" : "json"
        }, "message" : { "text" : "Request successfully processed", "code" : "0" },
        "response" : { "thirtyYearFixed" : { "rate" : "3.449", "monthlyPrincipalAndInterest"
        : "1784" }, "fifteenYearFixed" : { "rate" : "2.683", "monthlyPrincipalAndInterest"
        : "2701" }, "fiveOneARM" : { "rate" : "2.723", "monthlyPrincipalAndInterest"
        : "1627" }, "downPayment" : "100000", "monthlyPropertyTaxes" : "250", "monthlyHazardInsurance"
        : "80"  } } '
  recorded_at: Tue, 17 May 2016 06:49:50 GMT
recorded_with: VCR 2.9.3
