<!DOCTYPE html>
<html>
  <head>
    <title>MortgageClub</title>
    <meta name="google-site-verification" content="K8Dz959pwoVbxPRhUZtZZPODqDsTnuS3xnr7RbsFLE8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.png">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header clearfix shadowBottom account-nav">
      <div class="container">
        <nav class="navbar navbar-default mortgageNav">
          <div class="navbar-header">
            <a class="navbar-brand logo" href="index.html"><img src="/mortgageclubLOGO.png" alt="MortageClub"/></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#links-home" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse mortgageNav" id="links-home">
            <ul class="nav nav-pills navbar-right">
              <li><a id="newLoanBtn" class="btn btn-ms btn-success theBtn text-uppercase" href="login.html" role="button"><p><span class="glyphicon glyphicon-plus-sign"></span>new loan</p></a></li>
              <li><a id="loanBtn" class="btn btn-ms theBtn text-uppercase" href="#" role="button"><img id="loanBtnImg" src="/icons/loanBtn.png" atl="loan"/>loan</a></li>
              <li>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle theBtn" id="accountBtn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img id="accountBtnImg" src="/icons/userBtn.png" atl="account">Ryan</img>
                  <img class="dropdownArrow" src="/icons/dropdownArrow.png" alt="arrow"/>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="accountBtn">
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Referrals</a></li>
                    <li><a href="#"><img id="logoutImg" src="/logoutICON.png" alt="arrow"/>Log Out</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBreSL2fPdOr2c5bZjYN4XBnIJA8XSgWps&sensor=false&libraries=places"></script>

    <% if Rails.env.production? %>
      <!--Start of Zopim Live Chat Script-->
      <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?3IwFRUvO7g5aKeXHfmOIizwopJLjZAd6";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
      </script>
      <!--End of Zopim Live Chat Script-->
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  </body>
</html>
