<!DOCTYPE html>
<html>
<head>
  <title>MortgageClub</title>
  <meta name="google-site-verification" content="K8Dz959pwoVbxPRhUZtZZPODqDsTnuS3xnr7RbsFLE8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">

  <link rel="stylesheet" type="text/css" href="/assets/admin/font.css">
  <link rel="stylesheet" type="text/css" href="/assets/admin/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/admin/core.css">
  <link rel="stylesheet" type="text/css" href="/assets/admin/components.css">
  <link rel="stylesheet" type="text/css" href="/assets/admin/colors.css">
  <link rel="stylesheet" type="text/css" href="/assets/admin/override.css">
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <%= javascript_include_tag 'loan_member', 'data-turbolinks-track' => false %>
</body>
</html>
